<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <B><FONT color="#FF0000">2003$BG/HG5-G0%@%$%V(J</FONT></B> </P>
  <P>$B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!2#IM$+$iMh$i$l$?!"(J<B>$B5mED!!$5$*$j(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2003/4/1$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!K%&%A$N$4MxMQ$O!":#2s$,=i$a$F$@$C$?$N$G$9$,!%!%!%!J!w!w!K$3$N%]!<%:!%!%!%JL(J
        $B$K!"6/@)$7$?$o$1$G$O$4$6$$$^$;$s!#<+$i$G$9!*!J!0!0!(!K$$$d$!!A!!$J$+$J$+$N%-%c%i$G$7$?"v!J$3$N<L(J
        $B??$G$O!"$H$F$b?&6H$OL@$+$;$^$;$s!%!%!%!)>P!K$^$?@'Hs!"M7$S$KMh$F2<$5$$$M!A!*$*BT$A$7$F$$$^$!!A$9!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308ushida.jpg" width="300" height="280" alt="$B5mED$5$s!"%J%$%9I=>p!*(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200DIVE</FONT><FONT size="5"><BR>
          </FONT></B>$B!V85$G$C$A!W!"(J<B>$B0f>e!!OB9@(J</B>$B$/$s(J 
        <HR width="100%" noshade>
        $B:#2s$b!"!V85$G$C$A!W$G$9!#(J2003/3/25$B$K!X(J200$BK\!YC#@.$7$^$7$?!*$*$a$G$H!A"v!J!0(J0$B!0!K$7$+$b:#2s$O!"H`=w$H%i%V%i%VN99T!*!JA02s$N;{ED$H$O!%!%!%!J!0!0!(!K$I!<$7$F$b@>I=$G#2#0#0K\L\$r7^$($?$+$C$?$i$7$/!)@x?eIt$NCg4V$H9T$C$?B46HN99T$G$b!"2?K\$+@x$i$:D4@0$7$?$i$7$$!*!)!J!w!w!K!JK\Ev$OH`=w$H7^$($?$+$C$?$+$i$8$c$J!A$$!)(J 
        $B!0!0!(!K#47n$+$i<R2q?M$@$+$i!"$G$C$A$@$C$?:"$N%@%$%S%s%0;0Kf$,!"$-$C$H2{$+$7$/$J$k$h!A!*$^$?!"M7$S$K$*$$$G!ABT$C$F$k$h$)!A$s!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308inocchi.jpg" width="300" height="247" alt="$B85$G$C$A!"$$$N$C$A$G$9(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <BR>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">200DIVE</FONT></B>$B!!!!85!)$G$C$A!"(J<B>$B;{ED(J $B=<(J</B>$B$/$s(J 
        <HR width="100%" noshade>
        $B!V85!)$G$C$A!W$N!J$*@57n$bMh$F$?$1$I!K;{ED=<$/$s!#(J2003/3/14$B$K!X(J200$BK\!Y(J 
        $BC#@.$7$^$7$?!*$*$a$G$H!A"v!J!0(J0$B!0!K:#2s$O!"@x?eIt$NF14|$NCg4VC#$H$N(J $B%U%!%s%@%$%VN99T!#Mh$?F|$O$a$C$A$cE75$$,0-$/$F!"$I!<$J$k$3$H$+$H!)(J 
        $B;W$C$?$1$I!"<!$NF|$+$i$OE75$$bNI$/$J$C$F3'$NG04j$N!)!V%^%s%?!W$b(J $B8+$l$?$7NI$+$C$?$M$'!A!J!0(J0$B!0!K<R2q?M$K$J$k$H!"$J$+$J$+@x$j$K9T$/(J 
        $B5!2q$b>/$J$/$J$k$@$m$&$+$i!"3X@8$N$&$A$K$$$C$Q$$@x$C$F$*$-$J$M!A!*!J!0(J 
        $B!0!K(J </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308terada.jpg" width="300" height="261" alt="$BKM$b85$G$C$A!);{ED$/$s(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">BIRTHDAY</FONT></B>$B!!!!Bg:e$+$iMh$i$l$?!"(J<B>$BLpLn!!>!5W(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/3/1$B$K!):P$NCB@8F|$r%U%!%_%j!<$G7^$($i$l$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!K;R6!C#$b!"$A$g$C$H8+$J$$4V$K?oJ,Bg$-$/$J$C$A$c$C$F!*!J?M%s2H$N%3$C$F!"%[%s%HBg$-$/$J$k$NAa$$$o$!!A!J!w!w!K3$%G%S%e!<$b1s$/$J$$!)!J!0!0!K:#2s$OET9g$GC;$$BZ:_$H$J$j!"#2F|4V$7$+@x$l$J$+$C$?$1$I!%!%!%$^$?%j%Y%s%8$7$KMh$F2<$5$$$M!A$*BT$A$7$F$^!A$9!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308yanopapa.jpg" width="300" height="231" alt="$BLpLn%U%!%_%j!<$G$9(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">100DIVE</FONT></B>$B!!!!0&I2$N>>;3$+$iMh$i$l$?!"(J<B>$B=oJ}!!=(65(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/1/3$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!K%m%0$K$O$=$NF|$N3$$NMM;R$d5{C#$,!"?e:L(J
        $B2h%?%C%A$GIA$+$l$F$F!"$H!<$C$F$b>e<j$Ge:No$J$s$G$9$h$M$'!A!J!0!0!KA02sMh$i$l$?;~$K#B#B#S$K$4<+J,$N#H#P$N%"%I%l%9$r:\$;$F2<$5$C$F!"%m%0$N3($H$+$,%"%C%W$5$l$F$F!"$H$C$F$bNI$+$C$?$G$9!*$^$?#B#B#S$K$bEj9F$7$F2<$5$$$M!A!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308ogata.jpg" width="300" height="253" alt="$B=oJ}$5$s!"$*$a$G$H!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD> <B><FONT size="4">150DIVE</FONT></B>$B!!!!KL6e=#$N%7%g%C%W!X%P%G%#%m!<%W!Y$5$s$N(J<BR>
        $BG/KvG/;O%D%"!<$GMh$i$l$?3'$5$s(J 
        <HR width="100%" noshade>
        $B#6L>$N$&$A:#2s#3L>$,!X(J150$BK\!YC#@.CW$7$^$7$?!*(J2002/12/31$B$K(J<B>$BJ!Eg!!M39a(J</B>$B$5$s!"(J2003/1/1$B$K(J<B>$B2O:j!!>05*(J</B>$B$5$s!"(J<B>$BF#:j!!M3H~(J</B>$B$5$s!"$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!KE_>l$N$$$^$$$A$NE78u$K$b$+$+$o$i$:!"3'$5$sO"F|#3%@%$%V$H4hD%$C$F@x$j$^$7$?!*!J!0!0!(!K2F>l$K$b%P%G%#%m!<%W$5$s$N@>I=%D%"!<$O$"$k$N$G!"<!2s$OCH$+$$@>I=$K$b@'Hs$$$i$7$F2<$5$$$M!A!!$*BT$A$7$F$$$^!A$9!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/0308bardy.jpg" width="300" height="213" alt="$B%P%G%#%m!<%W$N3'$5$s(J" border="0"></P>
  <P><A href="int-memol.html"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
