<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <B><FONT color="#FF0000">2003$BG/HG5-G0%@%$%V(J</FONT></B> </P>
  <P>$B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">450DIVE</FONT></B>$B!!!!KL6e=#$+$iMh$i$l$?!"(J<B>$BI1Eh!!@i@2(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $BKL6e=#$N%7%g%C%W!X%P%G%#%m!<%W!Y$5$s$N%D%"!<$GMh$i$l$^$7$?!#(J 2003/6/21$B$K!X(J450$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"vG/4V$K$@$$$?$$(J40$B!A(J50$BK\$N%Z!<%9$G@x$i$l$F$k!)$J$s$F!"$J$+$J$+@($$$G$9$h$M!*$=$7$F!"$$$D$b!)@aL\$O@>I=$G$9$h$M!A$3$N$H$3$m!*!J!0!0!K$G$b!"@aL\$KEv$i$J$$;~$G$b%D%"!<$K;22C$7$F2<$5$$$h$)!A!!$*BT$A$7$F$^!A$9"v!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/01bady.jpg" width="300" height="216" alt="$BI1Eg$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200DIVE</FONT><FONT size="5"><BR>
          </FONT></B>$B;0=E$+$iMh$i$l$?!"(J<B>$B@>0f!!H~@2(J</B>$B$/$s(J 
        <HR width="100%" noshade>
        2003/6/25$B$K!X(J200$BK\!YC#@.CW$7$^$7$?!*(J $B$*$a$G$H!A"v!J!0!0!K$$$D$bCgNI$7!JLL(J
        $BGr$$!)!KCg4V$H0l=o$KMh$F$/$l$k;0=E%J!<%9%A!<%`$@$1$I!":#2s$O?7%a%s%P!<$bEP>l$G!"$5$i$K%Q%o!<%"%C%W$7$F$?!)$h$M$'!A!J!0!0!(!K;DG0$J$,$i!"5-G0%@%$%V$NF|$O$A$g$&$IB>$N%a%s%P!<$O0lB-@h$K5"$C$F$7$^$C$F$?$1$I!%!%!%$?$@$NF15i@8$+$i!)CgNI$7$K$J$l$?N9$@$C$?$+$7$i$M$'!A!)!)!)!J>P!K$^$?$3$N%a%s%P!<$GM7$S$KMh$F$/$l$k$N$r!"3Z$7$_$K$7$F$^!A$9"v!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/01nishii.jpg" width="300" height="199" alt="$B@>0f$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <BR>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50&amp;100DIVE</FONT></B>$B!!!!?@8M$+$iMh$i$l$?!"(J<B>$B>.2l!!:4CN;R(J</B>$B$5$s!u(J<B>$B2#@n!!$"$f$_(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        $B?@8M$N%7%g%C%W!X%7!<%[!<%9%^%j%s!Y$5$s$N%D%"!<$GMh$i$l$^$7$?!#(J2003/6/30$B$K$=$l$>$l!X(J50$BK\!Y$H!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!J!0!0!K:#2s$b91Nc$N!)$I$V%@%$%S%s%0!)!J%K%7%-%F%0%j$N=j!K$b%j%/%(%9%H$7$FD:$$$F!*2?$@$+$s$@J86g!)$r8@$C$F$k$o$j$K$O!"%A!<%U$b5$$KF~$C$F$-$F$k$h!<$J!)5$$,$7$F$k$N$O!"$"$?$7$N4*0c$$$G$7$g$&$+!)!)!)!J>P!K<!2s$b!"BgJ*$+$i>.J*$^$G4.G=$7$KMh$F2<$5$$$M!A!J!0(J0$B!0!K$*BT$A$7$F$^!<$9"v(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/01sea_h.jpg" width="300" height="212" alt="$B$*$U$?$j$H$b$*$a$G$H$&!*(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">100DIVE</FONT></B>$B!!!!Bg:e$+$iMh$i$l$?!"(J<B>$B@t!!4nH~Be(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        $BBg:e$N%7%g%C%W!X%*!<%7%c%s%@%$%V!Y$5$s$N%D%"!<$GMh$i$l$^$7$?!#(J 2003/7/3$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9!J!0(J0$B!0!K(J 
        $B:#2s$N%a%s%P!<$O3'$5$s(J2$B2sL\$N@>I=$G$7$?$,G!2?$G$7$?$+!A!)A02s$HHf$Y$k$H$A$g$C$HIw$,6/$/$F1s=P$OL5M}$G$7$?$1$I!"$A$S%^%s%8%e%&$,Bt;3$N=j$J$I$b$H$C$F$b@>I=$i$7$$%]%$%s%H$G$9$7$M!J!0!0!K%o%$%I$b%^%/%m$b$I$C$A$b3Z$7$$@>I=$K$^$?3'$5$s$G@x$j$KMh$F2<$5$$$M!A!*$*BT$A$7$F$^!<$9"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/02izumi.jpg" width="300" height="218" alt="$B@t$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!0&CN$+$iMh$i$l$?!"(J<B>$B86ED!!3X(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/7/8$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*(J $B$*$a$G$H$&$4$6$$$^!A$9!J!0(J0$B!0!K$*;E;vJA$+!)$=$NF|;#$C$?%G%8%+%a<L(J
        $B??$G!"KhF|0c$C$?%m%0Iw<L??%O%,%-$r!"$A$g$A$g$$$H:n$C$F$7$^$&$J$s$F!*$9$4!A$$!J!w!w!KA02s$^$G$b:n$C$F$?$s$G$9$+$M$'!)A4A3!"CN$i$J$+$C$?!%!%!%<!2s$O!"=iF|$+$i8+$;$F2<$5$$$M!A!*3Z$7$_$K$7$F$^!A$9"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/02harada.jpg" width="300" height="180" alt="$B86ED$5$s!"$*$a$G$H!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$B0f86!!??M};R(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/7/9$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*(J $B$*$a$G$H!A!A!A!J!0(J0$B!0!K$5$F$5$F!"%&%A$G$O$*Fk@w$_$N!)CgNI$7?F;R%P%G%#!*$H8@$C$F$b!"$*Jl$5$s$NJ}$O0l?M$G$b$A$g$/$A$g$/Mh$i$l$k$N$G!"$=$m$=$m(J100$BK\$8$c$J$$$+$J!)!J!w!w!K??M};R$A$c$s$b!"4hD%$C$FDI$$$D$1DI$$1[$;!A!*!)$=$&$=$&!"%G%8%+%a<L(J
        $B??;#$C$?$d$D$O(JBBS$B$K$bEj9F$7$F$M$'!A!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/02mariko.jpg" width="300" height="223" alt="$B$^$j$3$A$c$s$*$a$G$H!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">200DIVE</FONT></B><B><FONT size="4">&amp;100DIVE</FONT></B>$B!!!!5~ET$+$iMh$i$l$?!"(J<B>$B9b66$"$:$5(J</B>$B$5$s!u2#IM$+$iMh$i$l$?!"(J<B>$B>.@n!!>M;R(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        $B$5$F$5$F!"#3F|O"B3$G$N5-G0%@%$%V$G$9$,!"K\F|(J2003/7/10$B$OFs?M$b$G$9$h!A!*!J!w!w!K5~ET$+$iMh$i$l$?9b66$4IW:J!#:#2s$O!"1|MM$N$"$:$5$5$s$,!X(J200$BK\!YC#@.!*$=$7$F!"2#IM$+$iMh$i$l$?>.@n!!>M;R$5$s$O!X(J100$BK\!YC#@.CW$7$^$7$?!*$*Fs?M$H$b!"$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!KFsAH$H$b:#2s$,=i@>I=$G$7$?$,!"$=$l$>$l$N%j%/%(%9%H$K2?$H$+$*Ez$(=PMh$?$N$G$O!)$H;W$C$F$^!<$9!*!J!0!0!K$^$?@'Hs!"@x$j$KMh$F2<$5$$$M!A!*$*BT$A$7$F$^!<$9"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/02takaoga.jpg" width="300" height="188" alt="$B$*$U$?$j$H$b$*$a$G$H!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">BIRTHDAY</FONT></B><B><FONT size="4">DIVE</FONT></B>$B!!!!?@8M$+$iMh$i$l$?!"(J<B>$BBgGw!!??M};R(J</B>$B$5$s!u2#IM$+$iMh$i$l$?!"(J<B>$B>.@n!!>M;R(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/7/16$B$K!)!)!):P$N!X%O%C%T!<%P!<%9%G!<"v!Y$G$7$?!*$*$a$G$H!A!A!A!J!0(J0$B!0!K$J$N$G$9$,!%!%!%2?8N$+!)=89g<L(J
        $B??$KK\?M$,<L$C$F$J!A$$!*!J!d!c!K3N$+!)0lG/A0$/$i$$$N#2#0#0K\5-G0$N;~$K$bF1$8$h$&$J$3$H$,!%!%!%!)!J!w!w!K$(!<!<!<$C$H!"0{$_2a$.$K$O$/$l$0$l$b8fCm0U$r!*!)!J!0!0!(!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE width="300" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD><IMG src="IMAGE/03memol/03_ohsako02.jpg" width="300" height="223" alt="$B$*$a$G$H!<!*(J"></TD>
    </TR>
    <TR>
      <TD><IMG src="IMAGE/03memol/03_ohsako01.jpg" width="300" height="224" alt="$BBgGw$5$s!&!&!&(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">100DIVE</FONT></B><B><FONT size="4">&amp;100DIVE</FONT></B>$B!!!!@iMU$+$iMh$i$l$?!"(J<B>$BB?2lL>!!H~2C(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/7/21$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*(J $B$*$a$G$H$&$4$6$$$^!A$9!J!0(J0$B!0!K:#2s$O!"$b$b7;0zN($G$N=i@>I=Eg$G$7$?$,!%!%!%G!2?$@$C$?$G$7$g$&$+!)BfIw$KDI$o$l$k$h$&$J7A$K$J$C$A$c$$$^$7$?$1$I$M$'!AC/$N!)F|:"$N9T$$!)$@$C$?$s$G$7$g$&$M$'!AC/$H$O8@$o$J$$$1$I$M$'!A!J!0!0!(!K<!2s$O!"NkLZ$/$s$N#5#0K\5-G0$+$J!)$^$?@x$j$K$-$F$M"vBT$C$F$^!<$9!J!0(J0 
        $B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/03_tagana.jpg" width="300" height="202" alt="$BB?2lL>$5$s$*$a$G$H!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">200DIVE</FONT></B><B></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$B0l4X!!=J(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2003/7/27$B$K!X(J200$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!K%9!<%D$b?7$7$/$J$C$?$3$H$@$7!"$3$l$+$i$b%P%s%P%s@x$C$F$M!A!J!0!0!K$$$d$!!A!A!A$=$l$K$7$F$b!"$3$N#1=54V$O@($+$C$?$h$M$'!A!J!w!w!K2?$,@($+$C$?$+$C$F!)$=$l$O$b$A$m$s!"%a%s%P!<$,!%!%!%!J!0!0!(!K2?8N$+!"%9%Z%7%c%k$J?M!9$,!)$3$N=5$K=8$^$C$F$7$^$C$F!*!J!d!c!K<!2s$O%U!<MM$b0l=o$K!"%P!<%9%G!<%A%1%C%H$GMh$kM=Dj$i$7$$$h!*!)!J!0!0!(!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/03memol/03_kiyomi.jpg" width="300" height="203" alt="$B=J$5$s$*$a$G$H!<(J" border="0"> 
  </P>
  <P> </P>
  <P><B><A href="03-memol01.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="int-memol.html"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
