<HTML>
<HEAD>
<TITLE>$B?7%9%?%C%U(JHIRO</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
<META name="keywords" content="diving,$B%?%1%@%$%S%s%0%9%/!<%k(J,$B@>I=Eg(J,$BH,=E;3(J,$B2-Fl(J,$B@x$k(J,$B%@%$%S%s%0%9%]%C%H(J,$BCgG7?@Eg(J">
<META NAME="DESCRIPTION" CONTENT="$B$-$l$$$J3$$G5{$K0O$^$l$F$_$?$$!"$"!A@x$j$?!A$$!*$H$$$&J}$X!#(JTAKE Diving School $B@>I=Eg$+$i(J">
</HEAD>

<BODY bgcolor="#99CCFF">
<CENTER>
  <H2><FONT color="#6600FF">TAKE$B%@%$%S%s%0%9%/!<%k$N(JNew$B%9%?%C%U(J</FONT></H2>
  <H2><IMG src="IMAGE/hiro.jpg" width="300" height="291" alt="HIRO$B$G$9!"$h$m$7$/(J" border="0"> 
  </H2>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD>$BK\L>!"EDCfGnOB!#!V%R%m!W$H8F$P$l$F$^$9!#(J2005'4$B7n$+$i@5<0$K%9%?%C%U$K:NMQ$5$l$^$7$?(J!$B:#$O!"@x$C$F$k;~4V$,B-$j$J$$(J!$B$C$F$/$i$$3$$NCf$,(J $B3Z$7$/$F$7$g$&$,$"$j$^$;$s!#$3$N5$;}$A$r$$$D$^$G$bK:$l$:$K!"$=$7$F%2%9%H$NJ}!9$KEA$($F$$$1$k$h$&4hD%$j$?$$$H;W$C$F$^$9!#$^$@$^$@=$9TCf$N?H$J$N$G!";j$i$J$$E@$b$"$k$+$H;W$$$^$9$,!"$I$&$>59$7$/$*4j$$CW$7$^$9!#L\;X$;(J!$B%?%1$5$s%f%-$5$s$G$9!#$A$J$_$K<qL#$O!"1G2h4Q>^!&A]=|!&NAM}!J$3$l$b=$9TCf(J?$B!K(J</TD>
    </TR>
  </TABLE>
</CENTER>
</BODY>
</HTML>
