<HTML>
<HEAD>
<TITLE>TAKE Diving$B2a5n$N%m%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/kakolog.gif" width="221" height="111"> 
  <HR width="221">
  <BR>
  <BR>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/4/17($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j;~!9@2$l!!5$29(J24$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B:rF|$O$9$4$/(J($B$3$3$K$7$F$O(J)$BF)L@EY$,NI$+$C$?$s$@$1$I!":#F|$O:rF|$NBg1+$N1F6A$G?eLL$+$i(J2m$B$0$i$$$,By$j$NAX$K$J$C$F$?!#L@F|$O$b$C$HBy$k$O$:$J$N$G!&!&!&:#F|$b:F$S@x$k$3$H$K(J!$B$*L\Ev$F$O!"@V$$%$%6%j%&%*7/!#5o$^$7$?!"5o$^$7$?!#$7$+$b!":rF|$N>l=j$+$i0lJb$bF0$$$?7A@WL5$7(J!?($B>P(J)$B@V$C$]$$%+%$%a%s$K$&$^!<$/2=$1$F$k$s$@$1$I!"$^$@$^$@=$9T$,B-$j$J$$$C$9!#(J($B>P(J)$B2<$N:=CO$K$O!"%5%+%5%/%i%2$N@V$A$c$s$,$&$8$c$&$8$c!#%H%&%"%+%/%^%N%_$O!"Mq$,$b$&%O%C%A%"%&%H@#A0$@$C$?$h!#@u$$$H$3$m$N:,$K$O!"%9%+%7%F%s%8%/%@%$$N;R6!$,$$$C$Q$$$G!"$=$l$rA@$C$F%+%9%_%"%8$N;R6!$,(J2$B!A(J3$BI$%&%m%&%m$7$F$?$h!#$=$&$=$&!"%_%D%\%7%/%m%9%:%a%@%$$,Mq$r<i$m$&$H!"I,;`$G967b$7$F$/$k$N$G5$$rIU$1$F!#$b$A$m$sMq$rDY$5$J$$$h$&$K$@$h!<!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B$3$N;~4|$O!"%3%V%7%a$N;:Mq$r$"$A$3$A$G8+$k$3$H$,=PMh$k$s$@$1$I!"$3$3$b$=$N0l$D!#:#F|$O!"%*%*%$%=%P%J$N6a$/$G!"%a%9(J1$BI$$K%*%9(J3$BI$!#%*%9C#$OBN$N?'$rJQ$($?$j=D6ZLOMM$r=P$7$?$j$7$F0R3E$7$"$C$F$$$?$1$I!"%a%9$O5$$K$;$:0l@87|L?!"Mq$r4d$N7d4V$K;:$_$D$1$F$$$?$h!#?oJ,6a$/$K4s$C$F8+$F$?$s$@$1$I!";:Mq$r;O$a$k$H!"6<$+$7$?$j$;$:$=$C$H6a$E$1$P$+$J$j4V6a$G8+$k$3$H$,$G$-$k$h!#%^%@%i%O%?$NBg!">.$H%+%9%_%"%8!"%+%5%$%@%k%^%O%<!"$=$&$=$&!"??$C9u$J30EeKl$G??$CGr$J3-3L$rJ$$C$F$k%&%_%&%5%.%,%$$b$$$?$h$s"v(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/4/1($BF|(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j;~!9@2$l!!5$29(J24$B!n!!?e29(J24$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BLV<h$j%,!<%G%s%$!<%k(J</B><BR>
          <BR>
          $B:#F|$O3X@8$N9g=I:G=*F|!#:rF|$^$G$O2F$N$h$&$J=k$5$G!"$_$s$JF|>F$1$7$F$?$1$I!":#F|$O$A$g$C$H1@$,B?$+$C$?!#$3$N%]%$%s%H$O:=CO$KL5?t$N%,!<%G%s%$!<%k$,%K%g%m%K%g%m=P$F$F!"$_$s$JJbIzA0?J$G$f$C$/$j$H6a$E$$$F$$$/$s$@$1$I!"$=$N;Q$r8+$kJ}$,$R$g$C$H$7$FLLGr$$$+$b!#(J($B>P(J)$B>.$5$J%5%s%4$K%9%+%7%F%s%8%/%@%$$d%-%s%;%s%$%7%b%A$,$$$C$Q$$72$l$F$F!"$=$N2<$K$O%?%F%-%s(Jyg$B$J$s$+$b$$$?$h!#K\F|$N%R%C%H$O!"%a%,%M%&%*!*:=$r%P%U%P%U$5$;$J$,$i@x$C$F$$$/;Q$O$a$A$cLLGr$/$F!"$;$C$+$/@x$C$F$b$^$?=P$7$F!&!&!&$r2?EY$b$7$F$?$i!":G8e$NJ}$O1K$0;Q$,%U%i%U%i$7$F$?(J?$B$+$b!&!&!&$4$a$s$M$'!A!A!A%a%,%M%&%*7/(J($B>P(J)<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BFbN%$lFn(J</B><BR>
          <BR>
          $B$3$3$O!"%O%J%4%$$H%"%+%M%O%J%4%$!"%-%s%.%g%O%J%@%$$,(J10m$BA08e$KBt;372$l$F$F!"<PLL$O%j%e%&%-%e%&%-%C%+%5%s%4$,J$$C$F$*$j!"%9%_%l%J%,%O%J%@%$$,%O%J%4%$$K:.$8$C$F1K$$$G$k!#2+?'$N%8%g!<%U%#%C%7%e$b6a$/$G8+$l$F!"$_$s$J$K0O$^$l$F$I!<$7$h$&(J?$B$C$F46$8$G!"%-%g%m%-%g%m$7$F$+$o$$$+$C$?$h$s"v$&$9Cc$N$A$g$C$HBg$-$a$N%8%g!<$,!"7j$+$iBNH>J,$0$i$$>h$j=P$9$h$&$J3J9%$7$F$F$A$g$C$HLLGr$+$C$?$s$@$1$I!"$_$s$J$K8+$;$h$&$H;W$C$?$i0z$C9~$s$8$c$C$?!&!&!&;DG0!#:G8e$N%U%j!<%?%$%`$O!"3X@8C#$_$s$J%P%V%k%j%s%0$NN}=,$7$F$?$s$@$1$I!"$3$l$,$J$+$J$+Fq$7$$$i$7$/!&!&!&$_$s$JI,;`(J!?$B$=$N;Q$r>e$+$i8+$F$kJ}$,$h$C$]$ILLGr$+$C$?$h!<(J($B>P(J)</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/3/19($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J24$B!n!!?e29(J24$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</%N@nCf$N@%(J</B><BR>
          <BR>
          $B:rF|$H$O$&$C$FJQ$o$C$F3$$O2:$d$+$@$C$?$N$G!"Eg$NH?BPB&L\;X$7$F=PH/!#$7$+$7!"N"$K2v$C$?ESC<$K$1$C$3$&GH$,=P$F$-$F!&!&!&9T$1$k$+$J$!!)$C$F!";W$&$0$i$$$@$C$?$1$I!"%]%$%s%H$KCe$$$?$i!">/$7$@$1Eg$N1"$GGH$b$A$g$C$H%^%7$@$C$?$N$G@x$k$3$H$K!#%(%s%H%j!<$7$F$9$0$K!"%J%]%l%*%s$,EP>l!#$*$C!*$3$l$O!"$5$$@h%$%$$+$b!*!)%"%+%/%/%j$,(J3$BI$%5%s%4$N0~$G$8!<$C$H$7$FF($2$J$+$C$?$7!"%$%=%^%0%m$b(J2$B!A(J3$BI$1K$$$G$?$1$I!"7k6I$*L\Ev$F$N!X%^%s%?!Y7/$O8=$o$l$J$+$C$?$h!"!"!"(J($B5c(J)<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B</%N@nCf$N@%(J</B><BR>
          <BR>
          $B$_$s$J$N%j%/%(%9%H$G!"FsK\L\$bF1$8%]%$%s%H$G@x$k$3$H$K!#$=$7$F%0%k!<%W$NCf$K!"BN83%@%$%S%s%0$N?M$,$$$?$N$G!"H`=w$b0l=o$K!*(J($BH`=w$O!"BN83%@%$%S%s%0(J3$B2sL\$G>e<j$@$C$?$N$G!&!&!&$C$H8@$C$F$b!"@x$C$?$N$OA%$N2<$N@u$$=j$@$1$G$9$1$I$M!#(J)$B$=$7$F!"=P$^$7$?"v=P$^$7$?"v!X%^%s%?!Y7/!*:#2s$O0lI$$@$1$@$C$?$1$I!"7k9=$:$C$H0l=o$K$$$F$/$l$F!"$_$s$J$N$9$02#$rDL$C$F$/$l$?$j!":G8e$OJL$l$r@K$7$s$G$/$l$k$+$N$h$&$K!)A%$N2<$G1K$$$G$/$l$?$h!<!#$b$A$m$s!"BN83%@%$%S%s%0$NH`=w$b%P%C%A%j8+$F$7$^$$$^$7$?!*$3$l8+$F!"$-$C$H5$%#0-$/$7$F$k?M$$$k$s$@$m!<$J(J!?$B$4$a$s$M!A!A!A(JI$BIW:J(J!?$B!J>P!K$_$s$J$b!"F|:"$N9T$$!)$rNI$/$7$FMh$F$/$@$5$$$M"v(J ($B!&!&!&$C$F$3$H$O!":#2s$N%2%9%H$OF|:"$N9T$$$,NI$+$C$?$C$F$3$H(J?$B$&!A!A!A$s(J??$B!J>P!K(J)</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/1/3($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J26$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</%N@nCf$N@%(J</B><BR>
          <BR>
          $B:#F|$b!"$a$A$c$a$A$cE75$$,NI$+$C$?$h!<!#3$$b$H!<$C$F$b@E$+$J$N$G!"5W!9$KEg$NN"B&$N</$N@n$^$G!"B-$r$N$P$9$3$H$K(J!$B$3$N;~4|$O!"%P%i%/!<%@$d%$%=%^%0%m!"1?$,NI$1$l$P!X%^%s%?!Y$K$b2q$($k3NN($,9b$$$+$i$M!<!#%]%$%s%H$KCe$$$?$H$?$s!"A%$N>e$+$i?eCf$r1K$$$G$k%^%s%?$N;Q$,!&!&!&!V%^%s%?(J!$B%^%s%?(J!$B!W$H6+$V$H!"$_$s$J0l@F$KGA$-9~$`$+$i!"A%$,79$$$FI]$+$C$?$h!A!#(J($B>P(J)$B$=$l$+$i$N$_$s$J$N=`Hw$NAa$+$C$?$3$H(J!($B>P(J)$B:G=i$N%2%9%H$,%(%s%H%j!<$7$???2<$K%^%s%?$,$$$F!"$9!<$C$H5n$C$F9T$C$?$i$7$$!&!&!&$"!A$"!"$R$g$C$H$7$F$3$l$G$*=*$$$+$!!A(J(?)$B$H;W$C$?$i!"=P$^$7$?"v=P$^$7$?"v%^%s%?7/(J!$B$7$+$b!"0l;~4VCf$:!<$C$H(J!!$BB?$$;~$O!"(J5$BKg$$$C$Z$s$K=P$F$/$l$?$j!"B)$r0{$`$0$i$$6a$/!"$_$s$J$NF,$N>e$rDL(J
          $B$C$?$j$G!"$J$+$J$+054,$@$C$?$h$s"v(J(F$B$5$s!"NI$+$C$?$M!<!#%^%s%?!"$"$l$C$-$j$8$c$J$/$C$F!#>P(J)$B$&!A!A!A$s!"?7G/Aa!9:#G/$O!"$d$C$Q$j%D%$%F%k$N$+$b(J??<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BLV<h%,!<%G%s%$!<%k(J</B><BR>
          <BR>
          $B:#EY$O!":=CO$G$f$C$/$j!"$N$s$S$j%@%$%S%s%0!#%(%s%H%j!]$7$F$9$0!"%/%^%N%_$,2L(J
          $B4:$K8~$+$C$F$-$?!#$3$l$O(J!$B$C$H;W$$!"%$%=%.%s%A%c%/$N6a$/$N4dH)$r8+$F$_$k$H!"$"$C$?$h!<$s!#7k9=!"?e29$,9b$$$;$$$J$N$+(J?$BE_$N;~4|$J$N$K!"Mq$,$$$C$Q$$$@$C$?$h!#?e?<(J20$BA08e$K!"$A$g$C$HDA$7$$%O%<$r8+$K9T$C$?$1$I!"%d%7%c%O%<$O=P$F$J$/$F!":#F|$O%*%K%O%<$,(J5$BI$Dx=P$F$?$h!#$"$H$O!"%?%F%-%s(Jyg$B!"%D%f%Y%i(Jyg$B!"%R%H%E%i%O%j%;%s%\%s!"%O%@%+%O%*%3%<!"$b$A$m$s%,!<%G%s%$!<%k$O$&$8$c$&$8$c$@$C$?$7!"$=$&$=$&!"$*L\Ev$F$NDA$7$$%(%S(J 
          $B!X%P%$%*%l%C%H%\%/%5!<%7%e%j%s%W!Y$b$$$?$h!<$s"vA%$N2<$G$O!"(J21$B@$5*=i$N?eCf%P%H%k(J?$B$,7+$j9-$2$i$l!&!&!&(JU$B$5$s!"$b$C$HBNNO$D$1$h!<$M(J!($B>P(J)</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/1/1($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J24$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
          <BR>
          $B3'MM!"L@$1$^$7$F$*$a$G$H$&$4$6$$$^$9!#$$$h$$$h(J21$B@$5*$,;O$^$C$F$7$^$$$^$7$?(J!!$B:rF|$^$G$NE75$$H$O$&$C$FJQ$o$C$F!":#F|$OF|>F$1$7$F$7$^$&Dx$N!"F|<M$7$@$C$?$h!<$s"v:#@$5*:G=i$N%@%$%V$O!"%K%A%j%s%@%F%O%<A@$$!#:#G/$N1?@*$r@j$&$+$N$4$H$/%(%s%H%j!<!#%,!A!A!A%s!#5o$J$$$h!&!&!&$I$&$b(J?$B%*%8%5%s$N%R%2$[$8$[$8967b$K!"0z$C9~$s$G$7$^$C$?$i$7$$(J??$B$&!A!A!A$s!":#G/$ONI$/$J$$(J(?)$B$C$H;W$$$-$d!"$A$S%K%A%j%sH/8+(J!!2cm$B0L(J
          $B$ND6!<%i%V%j!<$J$d$D!#$"!A!A!ANI$+$C$?!#:#G/$b(J(?)$B%D%$%F%k$+$b(J!?$B$"$H$O$$$D$b$N%a%s%P!<$G!"%*%I%j%O%<!"%O%?%?%F%7%N%S%O%<!"%d%^%V%-%O%<Ey!"%O%<N`$$$C$Q$$$H!"%"%+%/%/%j!"%9%_%l%d%C%3!"%3%,%M%"%8$N%Z%"!&!&!&(Jetc$B$G$7$?!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
          <BR>
          $B%(%s%H%j!<$9$k$H!"(J2$B!&(J3$BF|A0$NBg1+$N?e$,N.$l=P$7$F$-$F$F!"7k9=By$C$F$?!&!&!&$G$b!"%9%_%l%J%,%O%J%@%$$OAjJQ$o$i$:Bt;3$$$F!"?7G/Aa!9(J(?)$B$+$i!i$O!"F,$d6;%S%l$K:'0y?'$r=P$7$F!"!j$K2L(J
          $B4:$K%"%?%C%/$7$F$?$h$s"v$=$7$F!"(J5m$B$+$i0l5$$K(J40$B!A(J50m$B$^$GMn$A9~$s$G$k<PLL(J
          $B1h$$$O!"B>$ND,DL$7$NNI$$%]%$%s%H$H$O$A$g$C$H0c$&!"?'!9$J<oN`$N%5%s%4$,$S$C$7$j$G!"$H$C$F$be:No!#ESCf!"%2%9%H$N0l?M$,%3%V%7%a$r8+$?$i$7$$$s$@$1$I!&!&!&$3$l$+$i$N5(@a$O!"%3%V%7%a$N8rHx$d;:Mq$,$h$/8+$l$k$h$&$K$J$C$F$/$k$h!<!#$5$F$5$F!":#2s$O(J21$B@$5*=iF|$N%@%$%V$@$H8@$&$N$K!&!&!&L^O@$d$C$F$/$l$^$7$?!"(JF-$BMM!#(J(BBS$B$K$b$h$/(J?$BEP>l$N(J)$B0l1~%(%s%H%j!<$7$?$b$N$N!"!V%&%(%$%H(J2kg$B!"B-$j$J!A$$!#K:$l$?!A!#!W$@$H!&!&!&$O$!!A!#(J21$B@$5*$b(JTAKE$B%@%$%S%s%0%9%/!<%k!"B?Fq$JM=46!&!&!&%H%[%[!#(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>10/15($BF|(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!?F^$j;~!91+!!5$29(J27$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B=.Ib!!9u??<n(J</B><BR>
          <BR>
          $B$D$$@hF|$^$G!"??2F$N$h$&$J=k$$F|$,B3$$$F$$$?$N$K!&!&!&$3$3(J2$B!"(J3$BF|$OGH$N9b$$F|$,B3$$$F$$$k$N$G!":#F|$OFbOQ$N5%?e0h$N%]%$%s%H!#F)L@EY$ONI$/$J$$$1$I!"DA$7$$5{$,Bt;3!#(J 
          $B$^$:$O$*L\Ev$F$N%^%s%8%e%&%$%7%b%A!#%$%A%4$N%Q%s%D(J?$B$,$+$o$$$$%A%S$b!"$A$g$C$HL55$L#(J?$B$J%G%+$$%3$b$?!<$/$5$s$$$?$h!#%F%s%8%/%@%$7O$b$$$C$Q$$$G!"%$%H%R%-%F%s%8%/%@%$!"%/%m%*%S%"%H%R%-%F%s%8%/%@%$!"%M%*%s%F%s%8%/%@%$(Jetc$B!"B>$K$bBt;3!#$^$@$^$@!"8}FbJ]0i$7$F$k%3$b$$$?$h$s!#$"$H!"%$%A%b%s%8%3%P%s%O%<(Jyg$B!"%A%j%a%s%d%C%3(Jyg$B!"$=$7$F0lI$$@$1$@$C$?$1$I!"%K%7%-%F%0%j$N(Jyg$B$bD6!<%A%S$G$+$o$$$+$C$?!A!#$=$s$J>.$5$$%3C#$K5$$r<h$i$l$F$$$k$H!"8e$m$r%0%k%/%^$N72$l$,!"%"%4$r$O$:$7(J?$BBg$-$J8}$r3+$1$J$,$i!X%,!<!<!<!Y$C$H1K$.2s$C$F$F!"$7$P$i$/DI$C$+$1$^$o$7$FM7$s$@$h!<"v(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B=.Ib!!#4HV%]!<%k(J</B><BR>
          <BR>
          $B:G6a$3$N=.Ib!A%5%P:j<~JU$G$O!"?<>l(J(40$B!A(J50m)$B$K@3B)$9$kDA$7$$%Y%i$?$A$,!"Hf3SE*@u$$=j(J(10$B!A(J20m)$B$K>e$,$C$FMh$F$k$N$G!":#F|$b4|BT$7$F%(%s%H%j!<!#%*%0%m%Y%i!"%D%-%N%o%$%H%R%-%Y%i!"%Y%K%R%l%$%H%R%-%Y%i!"$=$7$F%T%s%/%U%i%C%7%c!<$O%G%#%9%W%l!<$7$F$F!"$H$C$F$be:No$@$C$?$h!#%3%=E%4i$N%8%g!<%U%#%C%7%e$O!":#F|$b$$$C$Q$$$$$?$1$I!"K\F|$N%R%C%H$O!"$J$s$H$$$C$F$bD6!<D6!<%A%S(J(5mm$B0L(J
          )$B$N%8%g!<$+$J!#$3$s$J$K>.$5$$$N$K!"$A$c$s$HAc7j7!$C$F$"$C$F4i$@$1=P$7$F%-%g%m%-%g%m$7$F$F!"$a$A$c$a$A$c%i%V%j!<$d$C$?$h$s"v$"$H$O!"%_%d%1%F%0%j!"%*%$%i%s%h%&%8!"%_%J%_%O%3%U%0(Jyg$B!&!&!&(Jetc$B!#$=$&$=$&:#2s$b$@$1$I!"%3%V%7%a$r:G6a$h$/8+$k$h$&$K$J$C$F$-$?$h!#$A$g$C$H2F$N=*$o$j$r46$8$F$7$^$&(J!?$B$N$O!"$"$?$7$@$1(J??</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2000/9/28($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J27$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg!!@>$N%9%]%C%H(J</B><BR>
          <BR>
          $B:rF|$K0z$-B3$-!":#F|$bMh$F$7$^$$$^$7$?!<!#(J($B$-$C$H(J?$B%9%M$F$k?M!"(J $B$*$k$d$m!<$J(J??$B%4%a%s$M!A(J)$B$3$N$H$3$m!"$[$s$HNI$$E75$$,B3$$$F$^$9!#(J 
          $BK\F|$N%R%C%H$O!"$J$s$H$$$C$F$b!X%&%_%F%s%0(Jyg$B!Y(J!! $B%&%_%F%s%0<+BN!"$3$C$A$G$ODA$7$$$N$K!"(J1cm$B0L(J
          $B$ND6!<%A%S$G!"$a$A$c$a$A$c%i%V%j!<$d$C$?$h!A!A!A$s"v$"$Ne:No$J:=CO$N$H$3$r!"0l@87|L?$A$g$3$A$g$31K$$$G$F(J($BGg$C$F!)(J)$B$[$s$^!"$+$o$$$+$C$?$!!A!#$"$H$O!"%*%S%F%s%9%b%I%-(Jyg$B$,$d$?$i$?$/$5$s$$$F!"%4%_$N$h$&$K%U%i%U%iI:$C$F$?$h!#%F%s%9(Jyg$B$O!"6a$E$/$H%5%C$H:=$NCf$K@x$k$s$@$1$I!":=$4$H$9$/$&$H=P$FMh$F!"$^$?6a$E$/$H@x$C$F!&!&!&$r2?2s$+7+$jJV$7$FM7$s$G$?$i!"$b$&@x$C$F$/$l$J$/$J$C$A$c$C$?!&!&!&(J($B>P(J)<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg!!El$N:,(J</B><BR>
          <BR>
          $B:#F|$bM=Dj$h$jAa$/!"5U$ND,$K$J$C$F$7$^$C$?$1$I!"%$%=%^%0%m!"%+%9%_%"%8!"%_%J%_%.%s%,%a%"%8!"%R%a%F%s%0%O%.!"$=$7$F%0%k%/%s$b$$$C$Q$$72$l$F$?$h!#%J%]%l%*%s$bBg$HCf$,%&%m%&%m$7$F$/$l$?$7!#2<$NJ}$G$O!"%h%9%8%U%(%@%$$b$?$/$5$s72$l$F$?$h!<!#$A$g$C$HN.$l$,Aa$+$C$?$N$G!"%/%l%Q%9$rDL(J
          $B$C$?$j$O=PMh$J$/$F!"$A$g$C$H;DG0$@$C$?$1$I!&!&!&$=$&$=$&!"$3$3$G$N%R%C%H$O2?$H8@$C$F$b!X2&MM$HBgKb?@!Y(J?($B:#2s!"?7:'N99T$GMh$F$/$l$F$k%2%9%H(J)$B$N!"%i%V%i%V%D!<%7%g%C%H$+$J!#(J($B>P(J)$BCgNI$/(J?$B<j$D$J$$$G@x$C$F$k$7!<!#(J($B>P(J)$B$3$N1GA|$O6a$$$&$A$K!"5-G0%@%$%V$N%3!<%J!<$K$F(JUP$B$9$kM=Dj$G!<$9!#8p$&8f4|BT(J!!$B!J>P!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2000/9/18($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%H%+%-%sA>:,(J</B><BR>
          <BR>
          $BBfIw$N8e!"$d$C$H3$$b$@$$$V@E$+$K$J$C$F$-$?$N$G!"2-$N:,$N$3$3$K%A%c%l%s%8!#$G$b!"$^$@>/$7$&$M$j$,$"$C$?$1$I!&!&!&%H%+%-%s$H$O!"$3$C$A$NJ}8@$G%$%=%^%0%m$C$F0UL#!#BgJ*$,$o$j$H=P$k$H$3$m$J$N$G!"4|BT$7$F%(%s%H%j!<$7$?$s$@$1$I!&!&!&N.$l$,Aa$+$C$?$o$j$K$O!"%$%=%^%0%m$,(J2$B!A(J3$BI$$@$1$@$C$?$N$G!"$A$g$C$H;DG0$@$C$?$+$J(J!?$B$G$b!"%+%9%_%A%g%&%A%g%&%&%*!"%O%J%4%$!"%0%k%/%s$N72$l$O!"AjJQ$o$i$:$H$C$F$be:No$@$C$?$h!#%O%J%d%5%$%5%s%4$NCf$K$O!"%"%+%[%7%5%s%4%,%K$d%@%s%4%*%3%<$,1#$l$F$?$7!"%;%@%+%.%s%]$OMq$r;:$_$D$1$F$"$C$?$h!<!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9@>(J</B><BR>
          <BR>
          $B:rF|$3$3$G!X%^%s%?!Y$,=P$?$s$@$1$I!"(JTAKE$B%A!<%`$,8+B;$M$?$N$G!"%j%Y%s%8$N0Y!":FEY@x$k$3$H$K(J!$B!!:rF|$O!"7k9=By$C$F$?$s$@$1$I!":#F|$O$J$+$J$+$NF)L@EY!#$@$+$i(J?$B=P$J$$$+$b$J!A$C$H;W$$$D$D@x$C$F$?$i!"=P$?=P$?!"=P$?$h!A!A!A$s(J! 
          $B%9!<$C$H$d$C$FMh$F!"%0%k%s$C$H$G$s$0$jJV$j$7$F5n$C$F$$$A$c$C$?$1$I!#:#2s$O$_!<$s$J8+$l$?$N$G!"$"!ANI$+$C$?!#(J($B>P(J) 
          $B$"$H!"%$%=%^%0%m$H%^%@%i%H%S%(%$$b8+$l$?$7!#%;%8%m%/%^%N%_$OMq$r;:$s$G$"$C$F!"$b$&6d?'$GL\$b$O$C$-$j$7$F$F!":#F|!"L@F|$K$O%O%C%A%"%&%H$9$k$+$J(J?$B$C$F46$8$@$C$?$h!<!#$?$@!":#F|$O%"%G%d%C%3$N;Q$O;DG0$J$,$i8+$l$J$+$C$?$1$I!&!&!&(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/9/15($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!?@2$l!!5$29(J30$B!n!!?e29(J28$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%$%=%m%/(J</B><BR>
          <BR>
          $BBfIw(J14$B9f$,5n$C$F!"=i$N%@%$%S%s%0!#$^$@$^$@GH$H$&$M$j$,Bg$-$/!"2?=h$G@x$m$&$+(J?$B$H!"LB$$$J$,$i!"%3%3$K7hDj!#:=CO$G@u$/!"2:$d$+$J%]%$%s%H$N$O$:$@$C$?$s$@$1$I!&!&!&$^$"!"$&$M$j$O;EJ}$J$$$K$7$F$b!"M=A[30$KN.$l$F$F!":=CO$@$C$?$+$i!"$A$g$C$H$7$s$I$+$C$?$+$J(J!? 
          $B$G$b!"BfIw$N8e$K$7$F$O!"$^$"$^$"$NF)L@EY$@$C$?$h!#(J $B%-%s%a%b%I%-$d%9%+%7%F%s%8%/%@%$!"%G%P%9%:%a%@%$Ey!"AjJQ$o$i$:$A$c!<$s$H72$l$F$?$7!"DA$7$$%R%l%[%7%_%N%+%5%4$b$$$?$h!<!#$"$H!"%_%J%_%O%3%U%0$N@V$A$c$s$,!"$a$A$c$a$A$c$+$o$$$+$C$?$h$s!#$?$@!"%T%s%/$N%O%@%+%O%*%3%<$N;Q$,8+$($J$+$C$?$N$G!"$A$g$C$H?4G[$J$s$@$1$I!&!&!&(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B$3$3$O@>I=$NCf$G$b!"(J1$B!"(J2$B$rAh$&$[$I$N%5%s%4$Ne:No$J=j!*$*4j$$$@$+$iBfIw$G!"$d$i$l$F$^$;$s$h!<$K(J!!$B$C$H5'$j$D$D%(%s%H%j!<!#0U30$J$[$IF)L@EY$bNI$/!"2?$h$j%5%s%4$,L5;v$@$C$?$h!A!A!A$s!#$"!A!A!ANI$+$C$?!#(J($B$A$g$3$C$H$O!"$R$C$/$jJV$C$F$?$j$7$F$?$1$I$M!&!&!&(J)$B$b$A$m$s!"Bg%$%=%P%J$bL5;v$@$C$?$h!#%"%+%M%O%J%4%$!"%-%s%.%g%O%J%@%$$OAjJQ$o$i$:2V?a@c$N$h$&$@$C$?$7!#Bg$-$J(J(1.5m$B0L(J
          $B$N(J)$B%"%+%^%@%i%O%?$b%&%m%&%m$7$F$?$h!#(J <BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$BA%1:%^%s%@%j%s(J1</B><BR>
          <BR>
          $B:#$^$G$KH?$7$F!"$3$3$O!V%2%C!&!&!&!W$C$F$0$i$$!"By$C$F$?!#(J($B$^$"!"$b$H$b$H5%?e0h$@$+$i!"By$C$F$O$$$k$s$@$1$I$M!#(J)$B$3$NBfIw$N4V!"%K%7%-%F%0%jC#$O!"$I!<$7$F$k$s$@$m$&(J?$B%5%s%4$N4V$G$8$C$H?H$r$R$=$a$F$k$s$@$m!<$J(J?? 
          $BL5;v$G$$$F$*$/$l!A(J!$B$J$s$F;W$$$J$,$i!&!&!&5o$?5o$?!"5o$?$h!A$s!#$7$+$b!"$$$D$b$h$j=P$,%$%$$+$b(J?$B$C$F$0$i$$!#$"!A!A!ANI$+$C$?!#%*%l%s%8?'$N@V$A$c$s$b!"$?$/$5$s5o$?$7(J! 
          $B:#F|$OBg$-$J%*%9$b!"7k9==P$FMh$F$?$h!<!#A0$+$i0lI$$@$15o$F$?!"%^%s%8%e%&%$%7%b%A(Jyg$B$bN.$5$l$F$J$/$F!"$A$c!<$s$H5o$?$h!#$d$C$Q$j%A%S$C$3$N(J?$B%$%A%4%Q%s%D$O!"$+$o$$$$$M!<!#(J($B>P(J)</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <P><A href="kakolog5.html"><IMG src="IMAGE/kakolog.gif" width="100" height="60" border="0" alt="$B2a5n$N%m%0(J"></A></P>
</CENTER>
</BODY>
</HTML>
