<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR><BR>$B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">400 DIVE<BR>
          </FONT></B> $B5~ET$+$iMh$i$l$?!"(J<B>$BFn660l9T!uCN;R(J</B>$B$4IW:J!#(J <BR>
          <B><FONT size="4">50 DIVE<BR>
          </FONT></B> $B5~ET$+$iMh$i$l$?!"(J <B>$B0f>e9aBe;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B5~ET$N%7%g%C%W!X%"%W%j%P!Y$N%D%"!<$GMh$i$l$?Fn660l9T!uCN;R$4IW:J!#(J2001/7/6$B$K!"Fs?MB7$C$F!X(J400$BK\!YC#@.CW$7$^$7$?!*$=$7$F!"F1$8%D%"!<$GMh$i$l$?0f>e9aBe;R$5$s!#(J2001/7/7$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s!"$O$8$a$OBfIw$G0l;~$O$I$&$J$k$3$H$+$H?4G[$7$^$7$?$1$I!"M=A[0J>e$K!)@x$l$FNI$+$C$?$G$9$%!J!0!0!(!K%^%s%8%e%&%$%7%b%A$d%H%&%"%+%/%^%N%_!"%3%V%7%a$b$9$C$4$/6a$/$G8+$l$?$7!*:G=*F|$O$44uK>$N!"%5%s%4$Ne:No$J=j$K9T$1$F!"$3$l$G$b$+!*$C$F$/$i$$$N!)e:No$J%5%s%4$b8+$l$F!"NI$+$C$?!"NI$+$C$?"vFn66$4IW:J$O!"(J400$BK\$C$F?t$b$9$4$$$1$I!"Fs?MB7$C$F$C$F8@$&$N$,$^$?$$$$$G$9$h$M!A!J!0!0!K0l=o$K%i%$%;%s%9<h$C$F!"$=$N8e$b$$$D$b0l=o$K@x$j$K9T$C$F$k$C$F$3$H$G$9$h$M!A!#$[$s$H$KCgNI$7$G!"A"$^$7!A!A!A$$!J!0!0!K$^$?3'$5$s$G!"M7$S$KMh$F$/$@$5$$$M!<!*$*BT$A$7$F$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/apri01.jpg" width="300" height="241" alt="$B%"%W%j%P$N$_$J$5$s(J" border="0"><IMG src="IMAGE/memol/apri03.jpg" width="240" height="174" alt="$B5-G0$N%1!<%-(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$B?@8M$+$iMh$i$l$?!"(J<B>$B9gED1QBe(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B!X%7!<%[!<%9%^%j%s!Y$N%D%"!<$GMh$i$l!"(J2001/7/1$B$K!X(J100$BK\!YC#@.$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v!V(J100$BK\$N5-G0$NIq!*!W$b$C$H6a$/$G8+$l$PNI$+$C$?!#!J>P!K$F$C$-$j%U%#%s$r?)$Y$F$k$N$+$H!*!)$^$5$+!"E+$r?a$$$F$k$H$O!&!&!&!J!0!0!(!K:#2s$O?7$?$J%a%s%P!<$b2C$o$C$F!J%A!<%U$b0l=o$G!*!K3Z$7$+$C$?$M!A!A!A!J!0!0!KMhG/$K$O$-$C$H7]$NOSA0!)$b>e$,$C$F$k$3$H$G$7$g$&!)!J>P!K3Z$7$_$K$7$F$k$h!A$s"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/71goh.jpg" width="320" height="209" alt="$B9gED$5$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">Birthday DIVE<BR>
          </FONT></B>$B?@8M$+$iMh$i$l$?!"(J<B>$B4]2,9aBe(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B?@8M$N%7%g%C%W!X%7!<%[!<%9%^%j%s!Y$N%D%"!<$GMh$i$l!"(J2001/6/30$B$K%O%C%T!<%P!<%9%G!<$G$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$O!"$7$g$C$Q$J$+$i%"%/%7%G%s%H!)!J4@$+$-$+$-Jb$/!&!&!&$H$+!K$@$C$?$1$I!"$*E75$$bNI$+$C$?$7!"$J$s$?$C$F%A!<%U$H0l=o$@$C$?$+$i!"$A$g$C$HI]$,$j$N%^%k$A$c$s$b0B?4%@%$%V$@$C$?$7$M!#$@$C$FKh2s%(%-%8%C%H$O!"%^%k$A$c$s$,0lHV:G8e$@$C$?$b$s$M!A!A!A!J!0!0!K$^$?MhG/$b!"$_$s$J$G%P!<%9%G!<$7$KMh$F$M!*!)BT$C$F$^!]$9"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/630maru2.jpg" width="300" height="250" alt="$B4]2,$5$s$H$_$s$J(J" border="0"><IMG src="IMAGE/memol/630maru.jpg" width="200" height="203" alt="$B$^$k$A$c$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B%9%/!<%kB46H(J<BR>
          </FONT></B>$B@>I=Eg$G4Q8w%P%9$N1?E><j$5$s$r$7$F$$$k!"(J<B>$B@P@nM5G7(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/6/28$B$KL5;v%9%/!<%k$r9g3J$7$^$7$?!*<B5;N}=,$N;~!"<+J,$G$I!<$bG<F@$,$$$+$J$$!)$H!"%?%1$,<!$K?J$b$&$H;W$C$F$b!V$b$&>/$7N}=,$5$;$F2<$5$$!*!W$H!"$H$F$b??LLL\$J!)9V=,@8$G$7$?!#!JM==,$7$F$/$k$O$:$N%F%-%9%H$K$O!"2?8N$+@^$jL\$,$D$$$F$J$+$C$?$1$I$M!*!)(J($B>P(J)$B!K@>I=$K=;$s$G%@%$%S%s%0=PMh$k$J$s$F!"$-$C$HA"$`?M$$$C$Q$$$$$k$O$:$J$s$@$+$i!)$3$C$A$K$$$k4V$K!"$?$/$5$s@x$m$&$M!A!J!0!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/628ishikawa.jpg" width="320" height="224" alt="$B@P@n$5$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B5\:jD+;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/6/20$B$K!X(J100$BK\!YC#@.$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s(J2$BG/$V$j5W!9$N%@%$%S%s%0$O!"3Z$7$+$C$?$G$7$g$&$+!)IB5$$5$l$?$HJ9$$$?;~$O!"$H$C$F$b?4G[$G$7$?$1$I!&!&!&$^$?0l=o$K@x$k$3$H$,(J $B=PMh$F!";dC#$b4r$7$+$C$?$G$9!#!J!0!0!K!V$$$D$^$G@x$l$k$+$7$i!)!W$J!<$s$F$*$C$7$c$C$F$^$7$?$1$I!"$3$l$+$i$bBt;30l=o$K@x$j$^$7$g!<$M!*#H#P$b4hD%$C$F<L??$H$+:\$;$F$$$-$^$9$N$G!"$?$^$K$O$N$>$$$F$_$F$/$@$5$$$M!A"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/620miyazaki.jpg" width="240" height="198" alt="$B5\:j$5$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">Birthday DIVE<BR>
          </FONT></B>$B<"2l$+$iMh$i$l$?!"(J<B>$BLn8}1QH~(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B5nG/$^$G%Z%s%7%g%s!V%P%U!W$G%X%k%Q!<$r$7$F$$$?%R%G%_$A$c$s!#(J2001/6/18$B$K%O%C%T!<%P!<%9%G!<$G$7$?!*$*$a$G$H!<"v:#$O<B2H$KLa$C$F!"$A$c!<$s$H!)<R2q?M$7$F$k$i$7$$$s$@$1$I!&!&!&$[$s$H$+$J$!!*!)!J>P!K$A$g$C$HN99T$GMh$F$b!"<R2qI|5"$9$k$N3'BgJQ$J$N$K!*!J>P!K5"$k;~$K=I$N?M$K!V;D$l$P!A!W$H8@$o$l$F!"8e$mH10z$+$l$J$,$i5"$C$F9T$C$?$h$M!<!#Aa$/$^$?$*$$$G!A!#$_$s$JBT$C$F$k$h!A!A!A$s"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/618hidemi.jpg" width="240" height="226" alt="$B1QH~$A$c$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">Birthday DIVE<BR>
          </FONT></B>$B?@8M;0%N5\$+$iMh$i$l$?!"(J<B>$B>.LnEDNQ;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B?@8M;0%N5\$N%7%g%C%W!X%@%$%V%;%s%?!<%N%j%9!Y$N%D%"!<$GMh$i$l!"(J2001/6/8$B$K!"%O%C%T!<%P!<%9%G!<$G$7$?"v"v:#2s$OE75$$K$b$[$\7C$^$l!"%K%7%-%F%0%j$N;:Mq%7!<%s!A%$%=%^%0%m$^$G!J$A$g$C$H!)N.$l$,BgJQ$@$C$?$1$I$M$'!K!"$$$m$$$m8+$l$F3Z$7$+$C$?$h$M!<!*!)$=$7$F2?$h$j!"%N%j%9$N3Z$7$$Cg4V$H0l=o$K$*=K$$$b=PMh$F!"NI$+$C$?$M!<!J!0!0!KMhG/$b$^$?$_$s$J$G!"%P!<%9%G!<%@%$%V$7$KMh$F$M!*BT$C$F$^!A!A!A$9"v(J $B!J<!2s$O!"29@t$GB)$3$i$(6%Ah$b$7$J$/$C$A$c$M$C!*!)(J($B>P(J)$B!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/noris68BD.jpg" width="240" height="232" alt="$B>.LnED$5$s(J" border="0"><IMG src="IMAGE/memol/onnodaBD.jpg" width="240" height="214" alt="$B>.LnED$5$s!"$*$a$G$H$&!#(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50DIVE<BR></FONT></B>$B0JA0!V$U$"$J$O$&$9!W$G%X%k%Q!<$r$7$F$$$?!"(J<B>$B>.Ln=c;R(J</B>$B$5$s!#(J
        <P><B><FONT size="4">$BB46H(JDIVE<BR></FONT></B>$B9V=,@8$N(J<B>$B1':4H~7=0l(J</B>$B$5$s!#(J
        <HR width="100%" noshade>
        2001/5/11$B$K!X(J50$BK\!YC#@.$$$?$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$bH>%X%k%Q!<$@$C$?!)$N$G!"$"$s$^$j3$$K$O9T$1$J$/$F;DG0$@$C$?$M!A!#<!2s$O$b$C$H@x$m$&$M!*!)$=$l$K$7$F$b!"$3$NJQ$J4i$G%,%C%D%]!<%:!&!&!&$O$!!A!A!A!"A49q%M%C%H$J$s$@$+$i$b$&$A$g$C$H!)%^%7$J4i$,$G$-$s$N$+$M$'!#!J>P!K(J
        <P>$B$=$7$FNY$K<L$C$F$kCK@-$O!"9V=,@8$N1':4H~7=0l$5$s!#(J2001/5/11$B$K!"%9%/!<%k$rL5;vB46HCW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v$J$s$H!"%F%9%H$O8+;v!V(J100$BE@K~E@!W$G$N9g3J$G$7$?!*$9$4!A!A!A$$!*!*K~E@$,=P$?$N$O!"2?G/?6$j$@$m!*!)%Z!<%Q!<%@%$%P!<$K$J$i$J$$$h!<$K!"%,%s%,%s!)@x$C$F$/$@$5$$$M!A!#$^$?@>I=Eg$K$b@x$j$KMh$F$/$@$5$$$M!*$*BT$A$7$F$^!A$9"v(J</P>
      </TD>
    </TR>
  </TABLE><BR><IMG src="IMAGE/memol/jyunchan.jpg" width="240" height="210" alt="$B>.Ln$5$s!"1':4H~$5$s$*$a$G$H$&(J" border="0">
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD>
        <P><B><FONT size="4">50DIVE<BR></FONT></B>$B;0=E$+$iMh$i$l$?!"(J<B>$BEDCfD>;R(J</B>$B$5$s!#(J<BR>
        <HR width="100%" noshade>
        2001/5/27$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v(J50$BK\$NIq!J$C$F!"$I$s$J$s!)!K$r$7$F$/$l$k$O$:$,!"6[5^;vBVH/@8$G!J>P!K5-G0;#1F$,$d$C$H!)$@$C$?$h$M$'!&!&!&!J>P!K(JBBS$B$rFx$o$;$F$k!"%@%V%k#M!]$A$c$sC#$H0l=o$N%0%k!<%W$G!)Kh2s3Z$7$$$s$@$1$I!":#2s$O#M!]$A$c$s$N%Q%o!]A43+$G!">P$$2a$.$GJ"6ZDK$+$C$?$h$M!*!)!J>P!K2F5Y$_$O!V0&$7$N!)%@!<%j%s!W$5$s$HMh$F$/$l$k$N$G!"2q$($k$N3Z$7$_"v3Z$7$_"v(J</TD>
    </TR>
  </TABLE>
  <BR><IMG src="IMAGE/memol/naochan.jpg" width="240" height="183" alt="$B$J$*$A$c$s$*$a$G$H$&(J" border="0">
  <P>$B!!(J</P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P><B><A href="kakomemol5.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
