<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <BR>
    $B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">300DIVE</FONT></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$B0l4X!!M$0l(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/7/30$B$K!X(J300$BK\!YC#@.$7$^$7$?!#(J $B:#2s$G(J6$B2sL\$N>oO"$5$s$G!"!X%7%e%N!<%1%i!<!&0l4X!Y$H$$$($P!"M-L>(J?? 
        $B$H$K$+$/$*Ck5Y$_$O!"$:!<$C$H!"$:!<$C$H1K$$$G$^$9!#!V0l4X$5$s$,La$C$FMh$?$i(J2$BK\L\$K9T$3$&$M(J!?$B!W$C$F!"$0$i$$%7%e%N!<%1%j%s%09%$-(J!$B!*(J 
        $B$$$D$b$O!"1|$5$s$H0l=o$KMh$i$l$k$s$G$9$,!":#2s$O=PH/D>A0$K5^MQ$GMh$l$J$/$J$C$F$7$^$$!"$H$C$F$b;DG0$G$7$?!#6a!9(J?$B%j%Y%s%8$7$KMh$F$M!#(J($B>P(J)$BBT$C$F$^!<$9!*(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/30.jpg" width="266" height="197" alt="$B0l4X$5$s(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$BB46H(JDIVE</FONT><FONT size="5"><BR>
          </FONT></B>$B;M9q$N>>;3$+$iMh$i$l$?!"(J<B>$BK-ED%U%!%_%j!<(J</B>($B?.9T$5$s!"N$7C$5$s!"9nLi$/$s(J) 
          <BR>
          $BJ<8K8)$+$iMh$i$l$?!"(J<B>$BKYFb!!N6B@O:(J</B>$B$5$s!#(J
        <HR width="100%" noshade>
        2000/7/30$B$KL5;v%9%/!<%k9g3J$7$^$7$?!#(J $B$*Jl$5$s$NN$7C$5$s!"$O$8$a$O$A$g$C$H(J(?)$BI]$,$C$F!"$/$8$1$=$&$K$J$C$?$j$b$7$?$1$I:G8e$^$G$h$/4hD%$j$^$7$?(J!$B!*$b$&!"%^%9%/C&Ce$G$b$J$s$G$bMh$$(J!$B$G$9$h$M(J??$B!!;D$j$N(J3$BL>$O$O$8$a$+$i$H$F$b>e<j$G!"(J($B$*Ic$5$s$OAG@x$j$G(J10m$B0L(J
        $B9T$C$A$c$&$7!"9nLi$/$s$O?e1KIt!"KYFb$5$s$O85?e1KIt$G%P%j%P%j1K$.>e<j$$$7(J)$B$_$s$J$G%+%P!];E9g$$$J$,$i$N!"3Z$7$$9V=,$G$7$?!#(J 
        $B$_$J$5$s!"@x$jJ}$rK:$l$J$$$&$A$K!"$^$?M7$S$KMh$F$/$@$5$$$M!<!#(J $B<L??$O!"%9%/!<%kB46H$NBG$A>e$2$N$b$h$&$G$9!#(J($B$A$J$_$K!"%+%C%A%c%s$O(J 
        $BCf3X;0G/@8$J$N$K!"%8%g%C%-$,%+%i$G$9(J?$BBaJa$5$l$A$c$&$h!<!#$M$C!"%j%e%&$A$c$s(J??) 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/730.JPG" width="266" height="181" alt="$BB46H%Q!<%F%#!<(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <BR>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">100DIVE</FONT></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$BHS6?!!?.G7(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/7/29$B$K!X(J100$BK\!YC#@.$7$^$7$?!#(J $B@>I=$O$b$&(J4$B2sL\$G!":#2s$O%G%8%+%a?eCf%G%S%e!<(J!$B!*%K%3%N%9$H$NFsEaN.$G!"%P%7%P%7<L(J
        $B??;#$C$F$^$7$?!#(J $B$*5$$KF~$j$,$"$C$?$i@'Hs!"$_$s$J$N(JBBS$B$KEj9F$7$F$/$@$5$$$M!<!#(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/12.jpg" width="240" height="188" alt="$BHS6?$5$s(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">BIRTHDAY&amp;50DIVE</FONT></B>$B!!!!;0=E$+$iMh$i$l$?!"(J<B>$B@>@n!!7C;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/7/19$B$K!X$*CB@8F|!Y(J&amp;7/21$B$K!X(J50$BK\!YC#@.$G$7$?!#=w@-$NG/Na$HBN=E$O(J(?)$B%P%i$7$A$c$$$1$J$$$N$G!"=q$+$J$$$G$*$3$&$C$H!#(J($B>P(J)$B$G$b!"H`=w$N@5BN$,!X%^%H%j%C%/%9!Y(J?$B$@$H$$$&$3$H$O!"%P%i$7$A$c$*$C$H!#(J($B>P(J)($B!XCgG7?@Eg(J 
        $B@>$N%9%]%C%H!Y$N:=CO$G$N6n$1$C$3$G!"?6$jJV$k$H%^%H%j%C%/%9>uBV$K$J$C$F$?$N$O!%!%!%H`=w$J$s$h!<!#(J)$B<+<g%H%l$7$F!"%j%Y%s%8(J 
        $B$7$KMh$F$M!<(J!?</TD>
    </TR>
  </TABLE>
  <BR>
  <BR>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$B>.NS!!?5<#(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/7/23$B$K!X(J50$BK\!YC#@.$G$7$?!#(J $BB);R$5$s(J($B>.3X@8(J)$B$HMh$i$l$F$F!"$*Ck5Y$_$O0l=o$K%7%e%N!<%1%j%s%0$7$F3Z$7$s$G$^$7$?!#(J($B%\%/$O!"$A$c$s$H%&%(%C%H%9!<%D;};2$G$7$?$h!<!#(J) 
        $BAa$/!"B);R$5$s$b%i%$%;%s%9<h$l$k$h$&$K$J$C$F!"0l=o$K%@%$%S%s%0$G$-$k$H$$$$$G$9$M!<!#$^$?!"$*BT$A$7$F$^!<$9!#(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/nishi.jpg" width="266" height="215" alt="$B@>@n$5$s!">.NS$5$s(J" border="0"><IMG src="IMAGE/kobacake.jpg" width="152" height="142" alt="$B$*$a$G$H$&%1!<%-(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">BIRTHDAY DIVE</FONT></B>$B!!!!5~ET$+$iMh$i$l$?!"(J<B>$BF#ED!!AaCN7C(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B5~ET$N!X%"%W%j%P!Y$N%D%"!<$GMh$i$l$?!"F#ED!!AaCR7C$5$s!#(J 2000/7/20$B$K!X$*CB@8F|!Y$N%@%$%S%s%0!#?eCf$G5-G0;#1F$7$^$7$?!#(J 
        $B@>I=$O$b$&#32sL\$G!":#2s$O;DG0$J$,$i%^%s%?$K$O2q$($^$;$s$G$7$?$,!&!&!&(J 
        $B$^$?!"MhG/$bM7$S$KMh$F$/$@$5$$$M!<!#$*BT$A$7$F$^!<$9!#(J<BR>
        $B!J:#2s$N%W%l%<%s%H$O!"%*%j%8%J%k#T%7%c%D$G$7$?!#!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/fujita.jpg" width="266" height="194" alt="$BF#ED$5$s(J" border="0"><IMG src="IMAGE/t-s.jpg" width="152" height="111" alt="T$B%7%c%D%W%l%<%s%H(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="420" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD> <B><FONT size="4">400DIVE</FONT></B>$B!!!!@E2,$+$iMh$i$l$?!"(J<B>$B>>2,!!>!;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B@E2,$N(J<A href="http://www.chabashira.co.jp/%7Efish/" target="_blank">$B%U%#%C%7%e%@%$%P!<%9(J</A>$B$5$s$+$i$N>R2p$GMh$i$l$?>>2,$5$s!#(J2000/7/13$B$K!"!X(J400$BK\!Y$rC#@.CW$7$^$7$?!#(J 
        $B=w@-$NG/Na$r8@$C$F$O<:Ni$J$N$G$9$,!%!%!%(J $B$J$s$H!J!)!K(J63$B:P$G!"$J$s$?$C$F!VN.$l$,%,%s%,%s$N$H$3$m$,9%$-!*!W(J 
        $B$H$*$C$7$c$k!"%P%j%P%j8=Lr%@%$%P!<$G$7$?!#(J $B$3$l$+$i$b!"$$$m$s$J3$$r@x$C$F3Z$7$s$G$/$@$5$$$M!#(J 
        $B$=$7$F$^$?!"@>I=$N3$$K$bM7$S$KMh$F$/$@$5$$$M!<!#(J </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/400dive.jpg" width="266" height="185" alt="$B>>2,$5$s(J" border="0"><IMG src="IMAGE/cake.jpg" width="152" height="130" alt="$B5-G0%1!<%-(J" border="0"></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
