<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <BR>
    $B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BF`NI$+$iMh$i$l$?!"(J<B>$BJ!EgD>;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/8/31$B$K!"!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v$?$C$F$N4uK>$G!)!V%*%,%s$NEl!W$K9T$C$?$s$@$1$I!"7k9=$&$M$j$HGH$,$"$C$F!"B>$N%3C#$O%2%m%2%m>uBV$GA%$N>e$OBgJQ$J$3$H$K!&!&!&!*!)$M$'!"(JM$B!]$A$c$s!)!J!0!0!(!K?eCf$G$b!"$N$s$S$j$H!V(J100$BK\$NIq$$!W$r!"8+$;$F$b$i$&$I$3$m$8$c$J$+$C$?$N$,!";DG0!%!%!%!J>P!K$=$7$F!"A%$N>e$G$*Ck$J$s$F$H$F$b=PMh$k>uBV$8$c$J$+$C$?$N$G!"(J1$B%@%$%V=*$o$k$H$9$0$K!V%*%,%s!W$r!"$"$H$K$7$A$c$C$?$1$I$M!#:#2s$N%J%*$A$c$s$O!"2?8N$+(JK$B$s;R$A$c$s$h$j!)$d$i$+$7$^$/$C$F$?$h$J$!!A!J!w!w!K%S%C%/%j!*!)$G$bB>$K$b$?$/$5$s6/$o<T6&!)$,$$$?$N$G!"$=$l$[$IL\N)$?$J$+$C$?$C$1!)!)!J>P!K<!2s$O!"$*<j=@$i$+$K$?$N$s$^$9!*!)!J>P!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/831nao.jpg" width="300" height="249" alt="$B$J$*$A$c$s!"$*$a$G$H$&(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">BIRTHDAY DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B0KF#F`DE;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B!X(JOCA$B@lLg3X9;!Y$N(J1$BG/@8!#(J2001/8/27$B$K!"%O%C%T!<%P!<%9%G!<$G$7$?!*$*$a$G$H!A"v:#2s$O!"F1$83X9;$NCg4VC#$H0l=o$K!"=i$a$F$N2-Fl%U%!%s%@%$%V!*G04j$N!V%^%s%?!W$b8+$l$?$7!"%/%^%N%_$b(J6$B<oN`@)GF$7$?$7!"$"$C$H8@$&4V$N(J3$BF|4V$@$C$?$M!A!#3'$NCf$+$i!"2??M$+$O$3$N;E;v$K="$/%3$,=P$k$N$+$J$!!A!*!)(J 
        $B3Z$7$_$J$h$&$J!)$A$g$C$H?4G[$G$b$"$k$h$&$J!&!&!&!)$@$C$F!"3'$+$J$j%O%A%c%a%A%c$@$+$i$J$!!A!J!0!0!(!K$3$l$+$iB46H$^$G$K!"@x$k$3$H$N3Z$7$5$H@x$i$;$k$3$H$NFq$7$5$r!"$7$C$+$jJY6/$7$F$M!<!#$=$7$F@.D9$7$?;Q$r8+$;$K!"$^$?M7$S$KMh$F$M!*BT$C$F$k$h!A!A!A$s"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/827nacchan.jpg" width="310" height="257" alt="$B$J$C$A$c$s!"$*$a$G$H$&(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BI1O)$+$iMh$i$l$?!"(J<B>$B?yK\=(=)(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B:#G/$N2F$N!X$G$C$A(J1$B9f!Y!"I1O)$NBg3X$N%@%$%S%s%0It$N(J2$B2s@8!"?yK\=(=)$/$s!#(J2001/8/20$B$K!X(J100$BK\!YC#@.$7$^$7$?!*$*$a$G$H!<"v$3$N%3!<%J!<$K@h7n$K0z$-B3$-!"(J2$BEYL\$NEP>l$G$9!*Ls(J1$B%v7n$N4V$K!"(J50$BK\$H$$$&%O%$%Z!<%9$G@x$C$F$k$N$G!"<+A3$H%@%$%S%s%05;=Q$O>eC#$7$?$7!"5{$NL>A0$b6C$/$[$I3P$($?$7!*%@%$%S%s%0$N3Z$7$5$b$o$+$C$F$-$?$7!*!)!&!&!&$J$N$K!"$d$i$+$7$OAjJQ$o$i$:$d$C$?$h$M$'!A!J!0!0!(!K$G$b!"0l@87|L?4hD%$C$F$/$l$?$+$i!"$"$j$,$H$&"v$?$@(J9$B7n$bMh$k$O$:$@$C$?$N$K!"$H$C$F$bBg;v$JMQ;v!)!)!)$G!"Mh$l$J$/$J$C$?$N$@$1$,;DG0$@$C$?$1$I$M!A!#$G$O$G$O!"$3$3$G$N7P83$r$3$l$+$i$NIt3h$K$$$+$7$F!"4hD%$C$F$M!A!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/820sugimoto100.jpg" width="300" height="234" alt="$B$G$C$A(J1$B9f!"$*$a$G$H$&!*(J" border="0"><IMG src="IMAGE/memol/100kaoup.jpg" width="220" height="165" alt="$B$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200 DIVE<BR>
          </FONT></B>$B5~ET$+$iMh$i$l$?!"(J<B>$BC]K\9,@8(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/8/18$B$K!X(J200$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v%&%A$G!"6vA3$K$b5~ET$G$NCN$j9g$$$d!"F1$89b9;=P?H$N;R$K$"$C$?$j!J!w!w!K$H!"$J$s$F!V@$$NCf$C$F69$$$N$M!*!)!W$C$F!"46$8$@$C$?$M!A!#$7$+$b!"$=$N8eGZ$N;R$H$-$?$i!"%i%$%;%s%9;}$C$F$k$N$K!X<*H4$-!Y$rCN$i$J$+$C$?!*!)$H$$$&!"$D$o$b$N$@$C$?$7$M$'!&!&!&!J!0!0!(!K2?$+!":#2s$N@>I=$O6C$-$NO"B3$G!"$"$k0UL#3Z$7$+$C$?$G$7$g!A!*!)<!$O!"$I$s$J%S%C%/%j$,$"$k$N$d$i!&!&!&!)!J>P!K$G$O$G$O!"$^$?$*BT$A$7$F$$$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B;{ED=<(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B:#G/$N2F$N!X$G$C$A(J2$B9f!Y!"Bg:e$NBg3X$N%@%$%S%s%0It$N(J2$B2s@8!";{ED=<$/$s!#(J2001/8/18$B$K!X(J50$BK\!YC#@.$7$^$7$?!*$*$a$G$H!<"v$5$F$5$F!"KhG/!X$G$C$A!Y7/C#$K$O5c$+$5$l!&!&!&!)$b$A$m$s:#G/$b!"#19f$K0z$-B3$-$3$N(J2$B9f$b!&!&!&$O$!!A$3$N%3$N@hGZ$H$$$($P!"CN$C$F$k?M$bB?$$$H;W$&$1$I!"%*!<%;!u%7%g!<%X!<B>!&!&!&$@$+$i$M$'!A!A!A!J!0!0!(!K$3$l$b$^$?!"$7$g!<$,$J$$$H8@$($P$7$g!<$,$J$$$+$!!*!)!J>P!K(J9$B7n$bMh$kM=Dj$@$C$?!X$G$C$A(J1$B9f!Y$N?yK\$,!"5^$K!)Mh$l$J$/$J$C$?0YBe$o$j$KMh$k$3$H$K!#:#$b$$$C$Q$$$d$i$+$7$J$,$i!*!)4hD%$C$F$/$l$F$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <P><BR>
    <IMG src="IMAGE/memol/818taketera.jpg" width="300" height="242" alt="$BB<DE$5$s$*$a$G$H$&(J" border="0"> 
  </P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BL@@P;T$+$iMh$i$l$?!"(J<B>$BB<DECR;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/8/11$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2sE75$$bNI$/!"=iF|$+$i%^%s%?$r8+$F!*%*%,%s$G$O$+$1$C$3$7$F!%!%!%3N$+!)%I%Y$d$C$?$C$1!)!)!J!0!0!(!K!"$b$A$m$s%4%s%I%&%/%8%i$H$b1K$.!"$=$7$F#T@n$5$s$H$O!"$^$k$G==G/Mh$NM'$N$h$&$K$J$C$F$?$7(J!?50$BK\$N$*=K$K$O!"3'$+$i8|$$=KJ!$r<u$1!J!&!&!&$C$F!"$3$N<L??$N$h$&$K$5$l$?$3$H!)!J>P!K!K!X=i!Y@>I=Eg$N46A[$O!"$$$+$,$G$7$?$+!<!)$^$?!"@'HsM7$S$KMh$F$M!A"vBT$C$F$k$h!A!A!A%s!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/811muratsu.jpg" width="300" height="219" alt="$BB<DE$5$s$*$a$G$H$&(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200 DIVE<BR>
          </FONT></B>$BJ!2,$+$iMh$i$l$?!"(J<B>$B5HB<7=;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $BJ!2,$N%7%g%C%W!X%U%j!<%8%c%`!Y$N%D%"!<$GMh$i$^$7$?!#(J2001/8/7$B$K!X(J200$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"vCf(J2$BF|4V$NC;$$F|Dx$@$C$?$1$I!"$H$C$F$b$*E75$$,NI$/$F!"%^%s%?$b8+$?$7!*%*%,%s$K$b9T$C$?$7!*%4%s%I%&%/%8%i$H0l=o$K1K$$$8$c$C$?$j$b$7$F!*$[$s$H!"%9%Z%7%c%k$J(J2$BF|4V$G$7$?$h$M!A!J!0!0!K$$$C$?$$C/$N9T$$!)!J>P!K<!2sMh$k;~$O!"#V#X#2#0#0#0$r<j$KF~$l$F$d$k(J!!$B$C$H!"$_$f$-$A$c$s$OI!B)9S$/5"$C$?$1$I!"$I!<$J$k$3$H$d$i!)!J!0!0!(!K$^$?3Z$7$$%a%s%P!<$G!"M7$S$K$-$F$M!A"vBT$C$F$^!A!A!A$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/807keiko.jpg" width="320" height="249" alt="$B$1!<$3@h@8$*$a$G$H$&(J" border="0">
<P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">BIRTHDAY DIVE</FONT></B><BR>
          $B9-Eg$+$iMh$i$l$?!"(J<B>$B;3?95.IW(J</B>$B$5$s!#(J</P>
        <P> <B><FONT size="4">50 DIVE</FONT></B><BR>
          $B9-Eg$+$iMh$i$l$?!"(J<B>$B:4F#;Q;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/7/27$B$K;3?9$5$s!"%O%C%T!<%P!<%9%G!<$G$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s!"@x$kEY$K<L??$O40`z!*!)$H8@$C$F$?$N$K!"8=A|$7$FMn$A9~$s$@$i$7$+$C$?$1$I!)$I!<$7$F$I!<$7$F!"$J$+$J$+%$%1$F$^$7$?$h$C"v<L??$,(JBBS$B$KEj9F$5$l$F$k$N$G!"3'$5$s$b8+$F$_$F$M!*$"$?$7$O!"%K%7%-%F%0%j$N$,9%$-$+$J$!!A!J!0!0!K(J
        <P>$B$=$7$F!"0l=o$KMh$i$l$?!":4F#$5$s$b!"(J2001/7/27$B$K!X(J50$BK\!YC#@.$$$?$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v$5$F$5$F!"$3$N9-Eg%A!<%`$OB>$K$b$$$m$s$J%a%s%P!<$,$$$k$N$G$9$,!"$=$NCf$G$b:G6/!)$J(JS$B;R>n!&!&!&:#2s$b!)$$$m$$$m$d$C$F$/$l$F$^$7$?!*$"$($F2?$H$O=q$-$^$;$s$,!"$^$"<L??$r8+$FD:$1$l$PA[A|$,!&!&!&$A$J$_$K$3$l$O!V%b%s%D%-%+%(%k%&%*!W$@$=$&$G$9!*!)!J!0!0!(!K$7$+$7!"$5$9$,!V(J50$BK\!W%@%$%P!<$K$J$C$?$@$1$"$C$F!"=i$a$FMh$?;~$+$i$O!"8+0c$($kDx!)%@%$%S%s%0$O>e<j$K$J$C$?$h$M!A!A!A!J!0!0!K$=$7$F!"<!2s$O%G%8%+%a%G%S%e!<$@$H!"I!B)9S$/5"$C$F9T$C$?(JS$B;R>n$G$7$?!%!%!%!J>P!K;3$A$c$s!u(JY$B;R$A$c$s!"$*Hh$l$5$^$G$7$?!*!)!J>P!KD($j$:$K!)$^$?3'$GM7$S$KMh$F$M!A!*BT$C$F$^!A!A!A$9"v(J</P>
      </TD>
    </TR>
  </TABLE>
  <BR>
  <P><IMG src="IMAGE/memol/727yamashina.jpg" width="280" height="226" border="0" alt="$B;3?9$5$s!":4F#$5$s$*$a$G$H$&(J"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BI1O)$+$iMh$i$l$?!"(J<B>$B?yK\=(=)(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B:#G/$N2F$N!X$G$C$A(J1$B9f!Y!"I1O)$NBg3X$N%@%$%S%s%0It$N(J2$B2s@8!#(J2001/7/23$B$K!X(J50$BK\!YC#@.$7$^$7$?!*$*$a$G$H!<"v$5$F$5$F!"KhG/!X$G$C$A!Y7/C#$K$O5c$+$5$l$k!)!J!0!0!(!K$s$@$1$I!":#G/$bNc30$G$O$J$+$C$?$h!&!&!&$3$N:"$O!"$^$@Mh$F(J10$BF|Dx$J$N$G!"0lDL$j$N$d$i$+$7$ONcG/DL$j!*!)$J$s$;!"$3$N%3$N@hGZ$H$$$($P!"CN$C$F$k?M$bB?$$$H;W$&$1$I!"$"$N%F%D!u:Y@n$@$+$i$M$'!A!A!A!J!0!0!(!K$7$g!<$,$J$$$H8@$($P$7$g!<$,$J$$$s$@$1$I!&!&!&!J>P!K3X@8C#$N$*$+$2$G!)?oJ,$"$?$7$b5$$,D9$/$J$C$?$h$&$J5$$,$9$k$o$!!A!*!)!J!0!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR>
    <IMG src="IMAGE/memol/723sugimoto.jpg" width="320" height="243" alt="$B$G$C$A(J1$B9f$*$a$G$H$&(J" border="0"> 
  </P>
  <P>$B!!(J </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200 DIVE<BR>
          </FONT></B>$B5~ET$+$iMh$i$l$?!"(J<B>$B9SLZ5*;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/7/14$B$K!X(J200$BK\!YC#@.$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v@>I=$KMh$kA0F|$NE75$M=Js$G$O!"BfIw#59f$,D>7b%3!<%9$G!"$I!<$7$^$7$g$&!*!)$C$F!"46$8$@$C$?$s$@$1$I!"!V;dC#$,9T$C$?$i!"BfIw$bF($2=P$9$+$iBg>fIW!*!W$H8@$C$FMh$?$s$@$1$I!"K\Ev$KBfIw$,$=$l$F9T$C$F$7$^$C$?!&!&!&62$k$Y$7!"4X@>%J!<%9(J4$B?MAH$N$3$N%Q%o!<!J!0!0!(!K%^%s%?$b8+$?$7!"%K%7%-%F%0%j$b8+$?$7!"%Q%$%s$b4.G=$7$?$7!*BfIw$r?4G[$7$?$N$,!"13$N$h$&$J(J3$BF|4V$@$C$?$M!A!#(J 
        $B$7$+$7!"%Q%$%s$b$"$=$3$^$G!)?)$Y$F$b$i$($l$PK\K>$@$h$M$'!A!A!A$@$C$F!"$"$NHi$K$O$-$C$H%+%V%H%`%7$b4s$jIU$+$J$$$C$9!&!&!&!J>P!K$^$?!"3'$H2q$($k$N$r$A$g$C$H%S%S%j$J$,$i!J>P!KBT$C$F$^!A!A!A$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/714ara_nori.jpg" width="300" height="256" alt="$B9SLZ$5$s$*$a$G$H$&(J" border="0"> 
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B%9%/!<%kB46H(J<BR>
          </FONT></B> $BD;<h$+$iMh$i$l$?!"(J<B>$B=E?9=S(J</B>$B$5$s!#(J
        <HR width="100%" noshade>
        2001/7/10$B$KL5;v%9%/!<%k$r9g3J$7$^$7$?!*$*$a$G$H$&$4$6$$$^!<$9"v$3$N(JHP$B$N(JBBS$B$G!"!V%@%$%S%s%0$r;O$a$?$$!*!W$C$F!"%+%-%3$7$F3'$+$i?'!9$H%"%I%P%$%9$r$b$i$C$F!":#2s$N%+!<%I<hF@$K;j$C$?$N$h$M!A!#<B5;$b>e<j$@$C$?$1$I!"3X2J$b$h$/M==,$b$7$F$-$F$F!"$H$C$F$bM%=($J!)@8EL$5$s$G$7$?$h!<!J!0!0!K9V=,8e$N%U%!%s%@%$%V$G$O!"%G%8%+%a%G%S%e!<$b2L(J
        $B$?$7!"$b$&$9$C$+$j!)%@%$%P!<$NCg4VF~$j$G$7$?!*$^$?!"6a$$$&$A$K2q$($k$N$r3Z$7$_$K$7$F$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <P><BR>
    <IMG src="IMAGE/memol/710shun.jpg" width="300" height="236" alt="$B%7%e%s$/$s$*$a$G$H$&!*(J" border="0"></P>
  <P>$B!!(J </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P><B><A href="kakomemol4.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
