<HTML>
<HEAD>
<TITLE>TAKE Diving$B:G6a$N%m%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/loglogo.gif" width="221" height="111" alt="$B:G6a$N%m%0(J"> 
  <HR width="221">
  <BR>
  <BR>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/3/20($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J26$B!n!!?e29(J23$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</%N@n!!Cf$N@%(J</B><BR>
          <BR>
          $B5W$7$V$j$K!"9T$C$FMh$^$7$?!*Eg$NN"B&!X</%N@nOQ!Y$^$G!#$A$g$C$HFnEl$NIw$,$"$C$F!"%]%$%s%H$b>/!9MI$l$F$?$1$l$I!&!&!&Ce$/$H$9$0$K!"$J$s$H!*A%$N>e$+$i(J 
          $B!X%^%s%?!Y$N;Q$,!*A%$N>e$OBg6=J3!*!*!V0U30$H!)$3!<$f$&;~$O!"?eCf$G$O8+$l$J$+$C$?$j$7$F$M$'!A!)!W$J!A$s$F0UCO0-$J$3$H$r8@$$$D$D!"%(%s%H%j!<!#M=A[$KH?$7$F!)K\F|$OBgEv$?$j"v(J1$BKg$r8+$F$?$i!"8e$m$+$i(J4$BKg$,(J1$BNs$KNs$s$GL\$NA0$rDL(J
          $B$j2a$.$?$j!"(J2$BKg$,$9$06a$/$GDI$$$+$1$C$3$7$?$j!":,$N>e$GBg$-$/8}$r3+$1$F1B$r?)$Y$F$/$l$?$j!*!J!0!0!K(J1$B%@%$%VCf!"$:!<$C$H%^%s%?;0Kf$G$7(J 
          $B$?!*$"$H!"%+%a$b$f!<$C$/$j1K$$$G$/$l$?$7!"%J%]%l%*%s$d%+%9%_%"%8$b%&%m%&%m$7$F$?$h!A!J!0(J0$B!0!K:rF|$^$G!"9V=,$@$C$?#T7/!J(J8$BK\L\!K$bBg4n$S"v$G$7$?!*!J!V2?$@$C$F$'!A!*!)!W$H!"3'$N$*E\$j$N@<$,J9$3$($F$-$=$&!&!&!&!)!J>P!K!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BLV<h!!%,!<%G%s%$!<%k(J</B><BR>
          <BR>
          $B<!$O:=CO$G!"$N!A$s$S$j%@%$%S%s%0!#:#F|$N%,!<%G%s%$!<%kC#$O!"=P$ONI$$$s$@$1$I7k9=%7%c%$!#:=CO$K$_$s$JGg$$$D$/$P$C$F!"$K$8$j4s$C$F$/$s$@$1$I!&!&!&$b$&$A$g$C$H$)!A$C$F%H%3$G!"0z$C9~$^$l$A$c$&!#$G$b0z$C9~$`0lJb<jA0$N!"7j$+$iL\$@$18+$($F$k$H$3$b!"7k9=2D0&$$$$$s$@$1$I$M$C!J!0!0!K$A$g$C$HDA$7$$!)%8%e%:%@%^%$%=%.%s%A%c%/$K$O!"%/%^%N%_$N%A%SC#$,$&$8$c$&$8$c$$$F!"$3$l$bD6!A2D0&$$$s$@$1$I!"2?8N$+$*Jl$5$sC#$ON1<i$@$C$?$h!#$*=P$+$1Cf$@$C$?$N$+!)$=$l$H$b!&!&!&(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/11/30($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J26$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%O%H%^KL(J</B><BR>
          <BR>
          $BL@F|$+$i(J12$B7n$@$H$$$&$N$K%^%8$G!X2F!Y!)$N$h$&$JE75$!*3$$b%Y%?Fd$G!"$^$k$G6@$N$h$&$J?eLL$K$O1@$,1G$C$F$F!"%\!<%H$NgX@h$b2wE,"v2wE,"v$3$N%]%$%s%H$O!"KLIw$,?a$/$H$J$+$J$+9T$1$J$$$N$G!"E_>l$O$a$C$?$K9T$1$J$$$s$@$1$I!&!&!&%5%s%4$be:No$G!":Y$$DL(J
          $BO)$J$ICO7A$b$*$b$7$m$/$F!"$=$7$F$*L\Ev$F$O%b%s%D%-%+%(%k%&%*!*?e?<(J4$B!A(J5m$B$N@u$$=j$K$$$k$N$G!"$&$M$j$,$"$k$H$A$g$C$H?I$$$s$@$1$I!":#F|$O?4G[$7$?$&$M$j$bKX$I$J$/!"#g#o#o#d!*$=$7$F$=$7$F!"$b$C$H#g#o#o#d$@$C$?$N$O!"$J$s$H!X%^%s%?!Y$/$sEP>l!*@u$$=j$KLa$C$FMh$F!"%b%s%D%-7/$r8+$h$&$H$7$?$=$N;~!"%9!<!<$C$HL\$NA0$r$f$C$/$j$H!"%^%s%?$,DL(J
          $B$C$F$$$C$?$N$G$7$?!*FMA3$N=PMh;v$K!"$_$s$J%S%C%/%j$7$J$,$i$b!"$7$C$+$j$H$=$NM%2m$J;Q$rL\$K>F$-$D$1$?$N$G$7$?"v!J!0(J0$B!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9@>(J</B><BR>
          <BR>
          $B$A$g$&$I$$$$$0$i$$$K0z$-$ND,$,N.$l$F$F!"%+%9%_%A%g%&%A%g%&%&%*$d%O%J%4%$$b$$$C$Q$$=8$^$C$F$F!"$H$C$F$be:No!#%N%3%.%j%@%$$b$?$/$5$s72$l$F$F!"$J$s$+G/!9A}$($F$$$k!)$h$&$J5$$,$9$k$N$O!"$"$?$7$@$1!)!)%5%s%4$N>e$K$O!"%a%,%M%4%s%Y$d%[%7%4%s%Y$,FlD%$j$r8+D%$C$F$?$j!"%5%s%4$NCf$rGA$/$H!"%"%+%[%7%5%s%4%,%K$d%@%s%4%*%3%<$,1#$l$F$?$j$7$F!"$$$D8+$F$b2D0&$$$h!<$s!J!0!0!K$=$m$=$m>e$,$m$&$+$H;W$C$?$i!"%"%G%d%C%3EP>l"v%2%9%H$b%G%8%+%a$G2?Kg$+<L(J
          $B??;#1F!*%$%$<L??$,$"$C$?$i!"$^$?#B#B#S$K$bEj9F$7$F$/$@$5$$$M!A!A!A!J!0(J0$B!0!K(J </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/10/24($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J29$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
          <BR>
          $B%(%s%H%j!<$9$k$H$9$0$K!"%_%+%E%-%D%P%a%&%*$N<c5{$,$*=P7^$(!*$H$C$F$b%U%l%s%I%j!<$G!";dC#$N<~$j$r%&%m%&%m$7$F$^$o$C$F!"D6!<%i%V%j!A"v%o%K$N$h$&$J4i$N%(%s%^%4%A$d!"4d$K2=$1$F$k%*%K%+%5%4$N<c5{$b$$$?$h!<!#$b$A$m$s$3$3$G$O!"%K%A%j%s%@%F%O%<$r8+$K9T$C$?$s$@$1$I!":#F|$O%A%S7/$7$+=P$F$J$/$F;DG0!#$^$5$+!)Bg$-$J%3$O!"BfIw$G$$$J$/$J$C$?$s$8$c!&!&!&!*!)<!2s$O=P$F$-$F$/$l$^$9$h!<$K!&!&!&!*%*%I%j%O%<$d%O%?%?%F%7%N%S%O%<!"%O%i%0%m!&!&!&$8$c$J$/$C$F!J>P!K%d%^%V%-%O%<$bBt;3$$$?$h$s!#%"%+%/%/%j(Jyg$B!J(J15cm$B!K$b!"BfIw$G$$$J$/$J$C$?$+$H;W$C$?$i!"$A$g$C$H>l=j0\F0$7$F$?$1$I!"$A$c!<$s$H$$$?$$$?"v%"%+%/%/%j$C$FL>A0$NDL$j!"BN$N<~$j$r@V?'!J%*%l%s%8!K$G$/$/$C$F$F!"%R%i%R%i1K$$$G$k$N$,$H$C$F$b$+$o$$$+$C$?$h!<$s!*!J!0!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BLV<h%,!<%G%s%$!<%k#1(J</B><BR>
          <BR>
          $B:#F|$OE75$$b$9$4$/NI$+$C$?$N$G!"%(%s%H%j!<$9$k$H??$CGr$J:=CO$,%-%i%-%i$7$F$F!"$H$C$F$b5$;}$ANI$+$C$?"vF~$k$H$9$0%,!<%G%s%$!<%k$,!"$&$8$c$&$8$c$$$k$s$@$1$I!"%3%V%7%a$r8+$D$1$F$7$^$C$?$N$G!"3'$N;k@~$O%,%G!<%s%$!<%k$+$i$9$0$K%3%V%7%a$K0\$C$F$7$^$C$?!&!&!&!J!0!0!(!K:#F|$O!"%d%7%c%O%<$N5!7y$,NI$/$F!"$_$s$J7k9=6a$/$^$G4s$C$F!"%P%7%P%7<L??$b;#$l$F$?$h$&$G$9!*!)@>I=Eg$G$O!"$"$^$j8+$k;v$N$J$$%J%s%h%&%O%.$G$9$,!"BfIw$GN.$5$l$F$-$?$N$+!)%A%S$,#3I$!"%5%s%4$N4V$r=P$?$jF~$C$?$j$G$+$o$$$+$C$?"v%d%C%3%(%$$O!"1B$rC5$7$F$?$N$+!):=$r$O$0$O$0$7$J$,$i!";dC#$N$^$o$j$r2?2s$+%&%m%&%m$7$F$F!"$*$b$7$m$+$C$?!*:#F|$O%-%g!<%l%D$J!)!)!)%a%s%P!<Bg=89g$@$C$?$N$G!J>P!K!"%m%S%s%=%s%9%Z%5%kAhC%!X%S!<%A%U%i%C%0!Y6%Av$r$d$C$?$h!A!J!0(J0$B!0!K%b!&%A!&%m!&%s!*!)$"$?$7$,>!$C$?$3$H$O8@$&$^$G$b$J$$$1$I$M$'!A!A!A!J>P!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/10/9($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg$N?@EgEl$N:,(J</B><BR>
          <BR>
          $B5W!9$K9T$C$FMh$^$7$?$h!A!X%*%,%s!Y!*@h7n$O!"1+$dIw$NE78u$N0-$$F|$,B?$/$F!"$<!<$s$<$s9T$1$J$+$C$?$N$G!&!&!&:#F|$O!"D+F~$j$N%2%9%H$rBT$C$F$N=PH/!#%+%,%_$N$h$&$K%Y%?Fd$G!"1s=P$ND9$$F;$N$j$b2wE,!*!J!0!0!K$G$b!"L}CG$7$F??$C@V$KF|>F$1$7$A$c$C$?!"%I%8$J;R$b$$$?$1$I$M!&!&!&!J!0!0!(!K%*%,%s$KCe$$$?;~$K$O!"B>$N%7%g%C%W$O(J1$B%@%$%V=*$o$k:"$@$C$?$N$G!"F~$lBe$o$j$K%(%s%H%j!<!#C/$b$$$J$$El$N:,$O!"N.$l$b$5$[$I$J$/!"F)L@EY$bH472$G!"$H$C$F$b5$;}$ANI$+$C$?"vF~$k$H$9$0!"%J%]%l%*%s$N$*=P7^$(!#%F%s%0%O%.%b%I%-$H%R%a%F%s%0%O%.$O!"$^$k$GJI$N$h$&$K72$l$F$F054,$@$C$?$7!"$b$A$m$s%$%=%^%0%m$d%+%9%_%"%8$bM*A3$H1K$.2s$C$F$?$h!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg@>$N%9%]%C%H(J</B><BR>
          <BR>
          $B>/$7$&$M$j$,$"$C$?$1$I!"$d$C$Q$j$3$3$O%j%i%/%<!<%7%g%s%]%$%s%H!*!J!0!0!K??$CGr$J:=CO$,F;$N$h$&$KAv$C$F$F!"$=$N:=Lf$,$^$?e:No$G!&!&!&%\!<!<!<$C$H$7$F$k$@$1$GK~B-!*!)$C$F46$8!#:#G/$O?e29$,9b$+$C$?$N$G!"%$%=%.%s%A%c%/$b=j!9$GGr2=$7$F$k$N$,$"$k$s$@$1$I!"$3$3$K$b$"$C$F!Ve:No$@$J$!!W$C$F6a$E$$$?$i!"%a%9$N%O%^%/%^%N%_$K!V6a$E$/$J!*!W$C$F!"967b$5$l$F$7$^$C$?!J!0!0!(!K$=$7$F!"$=$N2#$r??$C9u$$=8CD$,!&!&!&!)2?$+$H;W$C$?$i!"%b%s%D%-%O%.$N72$l$,At$r?)$Y$J$,$i!"$"$C$H$$$&4V$KDL(J
          $B$j2a$.$F9T$C$F$7$^$C$?!#%F%s%0%X%S%.%s%]$d%<%V%i%O%<!"%+%s%`%j%Y%i(Jyg$B!"$=$7$F%`%i%5%-%&%_%3%A%g%&$b$$$?$s$@$1$I!":#F|$O%Q%?%Q%?1K$$$G$O$/$l$J$+$C$?!&!&!&1K$0$H%/%j%*%M$_$?$$$G!)$+$o$$$$$N$K!";DG0!#(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/9/24($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!?F^$j!?1+!!5$29(J29$B!n!!?e29(J27$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BLV<h%,!<%G%s(J2</B><BR>
          <BR>
          $BBfIw(J19$B9f$N1F6A$G:#F|$b!"@2$l$?$j!"$I$7$c$V$j$@$C$?$j$HJQ$JE75$$@$C$?$1$I!":G6a$NBg1+$N8e$N$o$j$K$O!"?e$b$^$"$^$"$G$7$?!#$3$3$O:=CO$K%,!<%G%s%$!<%k$H!"DA$7$$%"%-%"%J%4$,$K$g$m$K$g$m$7$F$k%]%$%s%H$G!"%"%-%"%J%4$OIaCJ$H$C$F$b%7%c%$$J$s$@$1$I!":#F|$O=P$,NI$+$C$?$+$J!*!J!0!0!KBg!&Cf!&>.$N%b%s%@%k%^%,%l%$$O!"6a$E$$$F8+$k$H!V2?$G%P%l$?$s!*!)!W$C$F46$8$G!"%9!<$C$HF($2$F9T$/$N$,LL(J
          $BGr$/$F!"2?EY$bDI$$$+$1$C$3$7$A$c$$$^$7$?"v!J!0!0!(!K>.$5$J%5%s%4$K$O!"%1%i%^%O%J%@%$$N(J 
          $B!i$H!j$,5o$F!"!V8+J,$1$k;~$O%7%C%]$,FCD'$@$h!#!W$C$F!"%\!<%I$K=q$$$F@bL@$7$F$k$=$P$+$i!VGX%S%l$,FCD'$G$9$h$M!*!)!W$HLu$N$o$+$i$s%3%H$r=q$/!X$G$C$A(J2$B9f!Y$K$O!&!&!&%O%!!A!#B>$K$O!"??$CGr$J%7%c%3$,:=$+$i4i$@$1=P$7$F$?$j!"9u$$%O%@%+%O%*%3%<(J2$BI$$d!"%*%K%O%<Ey$,$$$?$h!A$s"v(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
          <BR>
          $B%(%s%H%j!<$7$F$9$0$K!"D6!A%A%S$N%+%/%l%/%^%N%_(Jyg(1cm)$B$,!"%*%*%7%i%$%H%4%+%$!J$*2V$_$?$$$Ge:No!K$N4V$N>.$5$$%$%=%.%s%A%c%/$K$$$F!"%W%j%W%j1K$$$G$F!"$H$F$b%i%V%j!<$@$C$?$h!<$s"v$b$A$m$sBg!&>.$N%K%A%j%s%@%F%O%<$b7r:_$@$C$?!*%*%I%j%O%<!"%O%?%?%F%7%N%S%O%<!"@5LL(J
          $B$+$i8+$k$H>P$C$F8+$($k!0!0%d%^%V%-%O%<!J1[8e20!*!)!K$b$$$C$Q$$$$$?$7!#%"%+%/%/%j$bBg!&Cf!&>.$H$$$F!"(J15cm$B0L(J
          $B$N>.$N%3$O!"9u$$BN$K%*%l%s%8?'$N1o<h$j$,$H$C$F$be:No$@$C$?$h!<"v$=$&$=$&!"Bg$-$J%o%K$=$C$/$j$N%(%s%^%4%A$O!"(JK$B!];R$A$c$s$H$N!V$K$i$a$C$3!W$KIi$1$F!)F($2=P$7$F$7$^$&$7!%!%!%$d$O$j62$k$Y$7!)(JK$B!];R$A$c$s!J!0!0!(!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/9/1($BEZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l;~!9F^$j!!5$29(J31$B!n!!?e29(J30$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B9u??<nA0(J</B><BR>
          <BR>
          $B$3$3$O!"C8?e$H3$?e$N:.$8$C$F$k$H$3$m$J$N$GF)L@EY$O%$%^%$%A$@$1$I!"$$$m$s$J%A%SC#$N$+$o$$$i$7$5$K!"$=$s$J$3$H$b$9$C$+$jK:$l$F$7$^$C$?(J1$B%@%$%V$@$C$?$h$s!#$$$A$4%Q%s%D!)$G$*Fk@w$_$N!)!)%^%s%8%e%&%$%7%b%A$O!"$"$C$A$K$b$3$C$A$K$b$$$F!">.$5$J%F!<%V%k%5%s%4$N>e$K%A%S$,(J5$B!A(J6$BI$JB$s$G$k$H$3$m$,$"$C$F!"$H$C$F$b%i%V%j!<"v$=$7$F!"$=$N%5%s%4$N2<$K$O!"%A%g%&%A%g%&%3%7%g%&%@%$$N;R6!$,%U%j%U%j$7$F$?$h$s!#2+?'$N%$%s%I%+%(%k%&%*(Jyg$B$d%-%$%m%5%s%4%O%<(Jyg$B!"%.%s%,%O%<$N2+!u%0%l!<!"$b$A$m$s%f%S%(%@%O%^%5%s%4$N>e$K$O%F%s%8%/%@%$7O$,$S$C$7$j$G!"$=$l$rA@$C$F%f%+%?%O%?$d%+%9%_%"%8(Jyg$B$,$&$m$&$m$7$F$?$h!#:rF|$O%*%,%s$K9T$C$F%O!<%I$@$C$?$N$G!":#F|$O$N$s$S$j%@%$%S%s%0!*$C$H;W$C$F$?$i!&!&!&%@%V%k#M!]$A$c$s%3%s%S$K$O!":#F|$b$"$k0UL#%O!<%I$@$C$?$i$7$$!*!)$J$<$J$i!"?6$jJV$k$H$=$3$K$O!"%7%e%N!<%1%i!<$H2=$7$?Fs?M$,!&!&!&%O%!!A!J>P!K$@$+$i!"F~$kA0$K8@$C$?$N$K!&!&!&%&%(%$%H(J1kg$BA}$d$7$?J}$,$$$$$h$C$F!*!J!0!0!(!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>4$BHV%]!<%k(J</B><BR>
          <BR>
          $B:#G/$OBfIw$N1F6A$,>/$J$$$N$G!"NcG/$h$jFC$K@u$$=j$N?e29$,>/$79b$a!#>/$7Gr$C$]$/$J$C$F$-$F$k%5%s%4$b$"$C$F!"$A$g$C$H?4G[!&!&!&:#F|$O!"%0%l!<$N%8%g!<%U%#%C%7%e$,8}$rH>3+$-$K$7$F$?%3$,$$$?$N$G!"$?$V$sMq$r8}$K$/$o$($F$?$O$:!*!)$A$g$C$HFy4c$G$O3NG'=PMh$J$+$C$?$s$@$1$I$M!&!&!&$A$g$C$HDA$7$$%"%+%M%O%<$d%*%$%i%s%h%&%8!"%9%_%l%d%C%3(Jyg$B!"%A%c%$%m%d%C%3Ey!9!#$=$7$F2+NP?'!)$N%G%+$$%8%g!<%U%#%C%7%e7/!#1B$rA@$C$F$+!)6;%S%l$N$H$3$m$^$G!"Ac7j$+$iBN$r>h$j=P$7$F$F!"$A$g$C$H>P$($?$h$s!#$"$H!"B@$b$b$0$i$$$"$k!J$C$F!"C/$N!*!)!K%K%;%4%$%7%&%D%\$O!"$G$C$+$$$/$;$K<eCn!*!)$@$C$?$i$7$/!"%G%8%+%a;#$m$&$H$0$$$0$$4s$C$F9T$C$?$i!"1|$NJ}$K1#$l$F$7$^$C$?!&!&!&62$k$Y$7#M!]$A$c$s!J!0!0!(!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/8/15($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J30$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%"%6%_2-(J</B><BR>
          <BR>
          $B%[%s%H$O%P%i%9J}LL$NM=Dj$@$C$?$s$@$1$I!"Iw8~$-$H?e$NBy$j$N4X78$G!"5^$-$g:j;3J}LL(J
          $B$^$GAv$k$3$H$K!#$3$3$O%P%i%/!<%@!<$,$h$/=P$k%]%$%s%H$G!"$A$g$C$HN.$l$,$"$C$?$1$I%(%s%H%j!<!#%+%9%_%A%g%&%A%g%&%&%*$d%0%k%/%s$N72$l$,=8$^$C$F$F$=$l$rD/$a$F$$$?$i!"Bg$-$J%P%i%/!]%@!]$,(J20$BI$$0$i$$$N72$l$G$d$C$F$-$?$h!<!#:#F|$N%3C#$O!"$A$g$C$H0&A[$,0-$/$F!)3'$N$^$o$j$r%/%k!<$C$H2s$C$?$i!"$9!<$C$H9T$C$F$7$^$C$?!&!&!&$H$C$F$bDA$7$$!)%"%G%d%C%3$d%_%d%1%Y%i$b$$$?$7!"$b$A$m$s%O%?%?%F%O%<$d%/%m%f%j%O%<$b$$$C$Q$$$$$k$7!"%d%C%3$NCg4V$bBt;3$$$?$h$s!#$=$&$=$&$3$N;~4|$O!"%"%+%b%s%,%i$,;:Mq$7$F$F!"2<$N:=CO$N$H$3$m$G%Q%?%Q%?$7$F$F$*$b$7$m$$$h!<!#(J 
          <BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BFbN%$lFn(J</B><BR>
          <BR>
          $B:#F|$O2+?'$N%8%g!<%U%#%C%7%e7/!"$*Ck?2Cf!)$@$C$?$h!#%8%g!<%U%#%7%e$O!"?2$k$H$-Ac7j$K38$r$9$k$s$@$1$I!"38$OIaDL(J
          $B!"Ac7j$HF1$80L$NBg$-$5$N%5%s%4$N%,%l!J%P%i%9!K$d3-3L$@$C$?$j$9$k$s$@$1$I!":#F|$N$OAc7j$NCf$,4]8+$($N:Y$$;^%5%s%4$N%P%i%9$@$C$?$h!&!&!&$*$$$*$$!*!J!0!0!(!K$A$g$C$HDA$7$$%k%j%d%C%3$d%*%0%m%Y%i!"%D%-%N%o%$%H%R%-%Y%i$b$$$?$7!"%7%b%U%j%?%J%P%?%&%*$d$G$C$+$$%*%K%@%k%^%*%3%<!J$7$+$b%T%s%/!*!K$,4d$N2<$K1#$l$F$?$j!"$A$g!<2D0&$$%$%m%V%@%$(Jyg$B$b$$$?$h$s!#$b$A$m$s%O%J%4%$$H%"%+%M%O%J%4%$$O!"2V?a@c>uBV$G$a$A$c$a$A$ce:No$@$C$?$h!A"v(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          3$BF|DxA0$K8+$D$1$?%b%/%:%,%K!"$^$@5o$k$+$J$!!)$H;W$C$F9T$C$?$i!"5o$?5o$?!*$&$U$C"v$[$s$H!"$3$l$C$F$o$+$s$J$$$h$M$'!&!&!&;X$5$5$l$F$b!*!)3$At$H$$$&$+!"%4%_$H$$$&$+!"%?%i%s%A%e%i!)$_$?$$$J!&!&!&F0$$$F$/$l$J$$$H!"$^$5$+%+%K$@$H$O!#$7$+$b$3$l$,<j$N$R$i%5%$%:$G!"$G$C$+$$$s$@!<!J!0!0!(!K$"$H!"$G$C$+$$$H8@$($P!"$3$N;~4|$K$ODA$7$/!"Bg$-$J%3%V%7%a$,$$$F!"4d$K2=$1$J$,$iE\$C$?%]!<%:$r$7$F$?!#$1$IAjJQ$o$i$:$N>P$C$?$h$&$JL\$G!)$<!<$s$<$s62$/$J$s$+$J$$$b!<$s!)!)!J>P!K%*%$%i%s%h%&%8!"%_%d%1%F%0%j!"%?%F%-%s(Jyg$B!"%R%H%9%8%.%s%]!"%U%?%$%m%+%(%k%&%*Ey!9!#%9%+%7%F%s%8%/%@%$$d%0%k%/%s$N;R6!$?$A$b72$l$F$F!"$=$l$rA@$C$F%+%9%_%"%8!"%$%s%I%+%$%o%j!"%/%m%O%?!"%f%+%?%O%?Ey!9!"$H$K$+$/5s$2$?$i%-%j$,$J$$$/$i$$Bt;3$N<oN`$N5{C#$,$$$k$s$@$h!<"v$=$7$F!":#F|$O$$$D$b%5%s%4$N4V$G$8$C$HF0$+$J$$$G$$$k!"%$%6%j%&%*7/!J$A$g$C$H$-$A$c$J$$!*!)!K$,!"KA81$NN9$K(J 
          $B=P$+$1$F$?!J>P!K$"$s$J$KF0$/$s$@!<!*!)$C$F$0$i$$!"0\F0$7;O$a$F%S%C%/%j$7$?$h!#:#EY9T$C$?$i!"$^$?$$$D$b$N=j$K$A$c!<$s$H5"$C$F$k$s$@$m$&$+!*!)LB;R$K$J$i$:$K5"$j$D$$$F$M!A!A!A!A!A!J!0!0!(!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/8/7($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J33$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg@>$N%9%]%C%H(J</B><BR>
          <BR>
          $B:#F|$b%Y%?Fd$G!"%T!<%+%s$NNI$$$*E75$!*!J!0(J0$B!0!K$3$30l%v7n$[$I!"9A$r=P$F$9$0$N%R%J%$%S!<%AA0$K%4%s%I%&%/%8%i$,!J(J5$B!A(J6$BF,!KBZ:_Cf!*:#D+$b$$$k$+$J$!!)$H9T$C$F$_$k$H!"5o$^$7$?!"5o$^$7$?"vF,$r=P$7$FN)$C$F$k$h$&$J%]!<%:$G!"$*Ck$M!)$7$F$?$j!"$f$C$/$j1K$$$@$j!&!&!&$_$s$J$G%7%e%N!<%1%j%s%0$7$F!"$A$g$C$HM7$s$G!"$=$l$+$i!X%*%,%s!Y$X8~$+$C$F!"$$$6=PH/!*$I$3$^$G$b%+%,%_$N$h$&$J?eLL$G!"F|>F$1$5$(5$$K$7$J$1$l$P!"$3$s$JF|$OA%$NgX@h$,$H$C$F$b2wE,!*!J!0!0!KLs(J1$B;~4V$0$i$$$GCe$/$s$@$1$I!"$=$3$O$^$k$G%R%C%A%3%C%/$N!XD;!Y$r;W$$=P$7$F$7$^$&Dx$N!"LnD;$N3Z1`!)$J$s$@$h$s!#:#F|$O8a8e$+$i$ND,$@$C$?$N$G!"0lK\L\$O%j%i%/%<!<%7%g%s%]%$%s%H$G@x$k$3$H$K!#:=Lf$,e:No$G!"$=$3$K:9$79~$s$G$kB@M[$N8w$,$^$?%-%i%-%i$7$F!"<+J,$N1F$,1G$C$F!&!&!&$&!A!A!A$s!"$H$C$F$b5$;}$A$,$$$$$h$)!A!A!A!J!0!0!K$b$A$m$s!"AjJQ$o$i$:MD5{$?$A$bBt;3!*%D%f%Y%i!"%+%s%`%j%Y%i!"%*%S%F%s%9%b%I%-!"%F%s%9!"%"%+%O%A%O%<!"%<%V%i%O%<!"%R%a%f%j%O%<!"%?%9%-%b%s%,%i!"%d%;%"%^%@%$!"%$%o%5%-%9%:%a%@%$!"%_%d%3%-%s%;%s%9%:%a%@%$!&!&!&Ey!9!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg$N?@EgEl$N:,(J</B><BR>
          <BR>
          $B0l:rF|Mh$?;~$h$j:#F|$ON.$l$,$"$C$F!"%]%$%s%H$KCe$$$F$+$iN.$l$,4K$d$+$K$J$k$N$rA%$N>e$GD,BT$A!#(J30$B!A(J40$BJ,$?$C$F!">/$7$f$k$/$J$C$F$-$?$N$G%(%s%H%j!<!#A%$N8e$m$+$i%m!<%WEA$$$K!":,$NFMC<$^$G?J$s$@$s$@$1$I!"$^$@7k9=N.$l$,$"$C$?$N$G$_$s$J!V8q$N$\$j!W>uBV$@$C$?$h$s!J!0!0!(!K$$$D$b$h$j%0%k%/%s$O>/$J$+$C$?$1$I!"(J2m$B5i$N%$%=%^%0%m$r@hF,$K(J40$B!A(J50$BI$$0$i$$$N72$l$,!"%I!<%s$H2?EY$b$3$C$A$K8~$+$C$FMh$?$7!"%_%J%_%.%s%,%a%"%8$d%J%]%l%*%s$b$&$m$&$m$7$F$?$7!"$=$&$=$&$3$3$N%R%a%F%s%0%O%.$N3Q!)$O$H$C$F$bN)GI$J$s$@$h!<!J!0!0!K$"$H!"$$$D$b$N%/%l%Q%9$rDL$m$&$H$7$?$i!"(J1$B>v$0$i$$$"$k%m%&%K%s%"%8$,$9$0B&$r1K$$$G9T$C$?$N$K$O!"$S$C$/$j$7$?$h$s"v$G$b2x2f$7$F$?$+$i!"$A$g$C$H2D0%A[$@$C$?$J$!!&!&!&(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P><A href="kakolog3.html"><IMG src="IMAGE/kakolog.gif" width="100" height="60" border="0" alt="$B2a5n$N%m%0(J"></A></P>
</CENTER>
</BODY>
</HTML>
