<HTML>
<HEAD>
<TITLE>TAKE Diving$B2a5n$N%m%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/kakolog.gif" width="221" height="111"> 
  <HR width="221">
  <BR>
  <BR>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/9/7($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J28$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT>$B</$N@n!!Cf$N@%(J</B><BR>
        <BR>
        $B:#F|$N$*L\Ev$F$O!"$b$A$m$s!X%^%s%?!Y!#BfIw$N8e$J$N$G!"5o$J$/$J$C$F$J$$$+?4G[$7$J$,$i!"%(%s%H%j!<!#F~$C$F(J5$BJ,$0$i$$$7$F!"Mh$?Mh$?!"Mh$^$7$?!A!X(J 
        $B%^%s%?7/!Y!#$*6!(J(?)$B$N%3%P%s%6%a$r#2I$O"$l$F!"$f$/$C$j!"$f$C$?$jEP>l$G$9!#$A$g$C$H>.$5$a$N%3$@$C$?$1$I!"$H$C$F$b%5!<%S%9@:?@2"@9$G!"$G$s$0$jJV$j$r$7$?$j!"$9$06a$/$G$:$C$H%&%m%&%m$7$F$/$l$F$?$h$s!#$=$&!";dC#$NF,$r%Z%A%s$C$H!"%R%l$GC!$$$F$/$l$=$&$J$0$i$$(J!?$B$M!#$"$H$O!"%$%=%^%0%m$,(J1$BI$$H%+%^%9$H%O%J%4%$!"%0%k%/%s(J($B%?%+%5%4$J$I(J)$B$,$A$g$C$H72$l$F$F!"$=$&$=$&!"DA$7$$%_%d%1%Y%i$,$7$+$b%Z%"$G8+$l$F!"%i%C%-!<(J!$B$G$7$?!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
        <BR>
        $B%O%<$bBg9%$-(J!$B$H$$$&%2%9%H$?$A$K9g$o$;$F!%!%!%%3%3$O!"!X%O%<!Y%o!<%k%I!#DA$7$$%K%A%j%s%@%F%O%<!"$+$o$$$$%*%I%j%O%<!"%i%$%HEv$F$k$H$^$9$^$9e:No$J%O%?%?%F%7%N%S%O%<!"GX$S$l$,%T%3%T%3$+$o$$$$%R%l%U%j%5%s%+%/%O%<!"$*J"$,$A$g$C$H9u$$%d%^%V%-%O%<!J$3$$$D$OJ"9u$@$+$i!V1[8e20!W(J?$B$@$M!#(J 
        $B$J$s$F8@$C$F$??M$*$C$?$J$"(J($B>P(J)$B!#$"$H%0%l!<$N%3%=E%4i(J?$B$N%8%g!]%U%#%C%7%e7/$?$A!#(J3$BI$JB$s$G!"7j$+$i4i=P$7$F$k;Q$,!"$H$C$F$b%f!<%b%i%9$G>P$($?$h$s!#6a$E$-$9$.$F!"$_!<$s$J0z$C9~$s$8$c$C$?$N$G!"Ac7j$r4Q;!!#?2$k;~MQ$N%U%?$,$"$C$?$N$G!"$A$g$C$H$d$C$F$_$?$i!"$"$^$j$K$b7j$NBg$-$5$H%T%C%?%j$G!";W$o$:Go<j$b$s$d$C$?$h!#(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/8/30($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J31$B!n!!?e29(J28$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT>$B%$%=%m%/(J</B><BR>
        <BR>
        $BBfIw(J12$B9f$N0Y!"%^%s%0%m!<%V$N@n$N;YN.$KHrFq$5$;$F$$$?A%$r:#D+=P$7$FMh$F!"Ck$KE~Ce$N%2%9%H$rO"$l$F!"8a8e$+$i$N(J1$B%@%$%V!#(J 
        $B:=CO$K%5%s%4$,E@:_$7$F$$$k%]%$%s%H$G!"$N$s$S$j!"$f$C$/$j$N%@%$%S%s%0!#(J 
        $BBfIwD>8e$N$o$j$K$OF)L@EY$b%^%7$G!"F|$b:9$79~$s$G%G%P%9%:%a%@%$$b%5%s%4$NCf$r!"=P$?$jF~$C$?$j$H$C$F$be:No$@$C$?$7!"2<$N%,%l$G$O;:Mq9TF0$b8+$i$l$?$h$s!#BfIw$G5{C#$,$I$C$+$K5o$J$/$J$C$F$J$$$+!)$A$g$C$H%I%-%I%-$7$?$1$I!"%a%$%s$N:,$N%T%s%/$N%O%@%+%O%*%3%<$b(J2$BI$$H$b855$$@$C$?$7!"%-%s%a%b%I%-$d%j%e%&%-%e%&%O%?%s%]!"%9%+%7%F%s%8%/%@%$$b$?!<$/$5$s72$l$F$F!"$"!ANI$+$C$?!*$C$F46$8!#$*LsB+$N(J?$B%H%2%"%J%(%S$H$N9K0z$-$b(J?? 
        $B3Z$7$+$C$?$i$7$/%O%^$C$F$k%3$b$$$?$h$s"v(J $BA%$N$9$02<$N4d$K$O!"B@$b$b(J($BC/$N(J?)$B$0$i$$$"$kBg$-$J%K%;%4%$%7%&%D%\$,%*%$%i%s%h%&%8$K%/%j!<%K%s%0$5$l$F$?$h!<!#$"$C$=$&$=$&!":#F|$N%2%9%H$N(JK$B%s;R$A$c$s$NOC!#$A$g$C$H$*J"$NBg$-$$%O%@%+%O%*%3%<$,$$$?$+$i!VG%IX(J?$B$+$b!W$C$F8@$C$?$i$A$g!<$I$=$l$,%?%$%_%s%0NI$/(J($B0-$/(J?)$B!X%&%s%3!Y$7$?$N$h!<!#$=$7$?$i$=$l$r!"!X=P;:!Y$@$H;W$C$?$i$7$$(J($B>P(J)$B!%!%!%Mj$`$+$i!"$=$s$J$3$H8@$&$N$O(JF$B!]MM(J&amp;S$B;R$@$1$K$7$H$$$F$A$g!A!A!A!#!JGz!K(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/8/14($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l(J/$BF^$j!!5$29(J31$B!n!!?e29(J28$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT>$BLV<h%H%&%"%+(J</B><BR>
        <BR>
        $BF|K\$G$ODA$7$$$H$5$l$F$$$k!"%H%&%"%+%/%^%N%_$r8+$K9T$C$?!#!J@>I=Eg<~JU$K$O7k9=$$$k$s$@$1$I$M!#!K?e?<(J25m$B$N=j$K(J2$B$+=j!#$I$C$A$H$bMq$,;:$_$D$1$i$l$F$$$?$h!#(J 
        $B$^$o$j$,:=CO$J$N$G!"3-3L$K;:$_$D$1$F$"$k$s$@$1$I!"$3$N3-3L$O?F$,$I$3$+$+$i1?$s$GMh$k$s$@$h!<!#BfIw$H$+$GN.$5$l$k$H!"$^$?JL(J
        $B$N3-3L$H$+!"@P$3$m$H$+$r1?$s$G$-$F!";:$_$D$1$k$s$h!#$9$4$$$h$M!<!#(J $B%H%&%"%+$rK~5J$7$F!">/$70\F0$9$k$H>.$5$J:,$K%-%s%a%b%I%-$,72$l$F$F!"(J 
        $B%U%?%$%m%O%J%4%$$d%1%i%^%O%J%@%$$,$$$Fe:No$@$C$?$h!<!#$=$7$F!"(J5$B!A(J6m$B$N@u@%$G$O!"$$$m$s$JMD5{$,Bt;3$$$?$1$I!"%$%m%V%@%$(Jyg$B$,(J2$BI$$b$$$F!"$a$A$c$a$A$c$+$o$$$+$C$?$h!A$s!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT>$B=.Ib#4HV%]!<%k(J</B><BR>
        <BR>
        $B:#2s$O(J100$B%@%$%VL\$N?M$,$$$?$N$G!"F~$C$F$9$0$K!X5-G0;#1F!u5-G0$NIq!Y(J? $BK\?M$b%N%j%N%j(J(?)$B$G%@%s%9(J(??)$B$rHdO*!#$*JV$7$K!X$G$C$A7/$NIq!Y(J?$B$bHdO*$7$?$1$I!"$A$g!<%@%5%@%5$d$C$?!#(J($B>P(J)$B$A$g$C$H?<$$$1$I$3$3$O(J20$B!A(J30m$B$K$+$1$F!"%0%l!<$N%8%g!<%U%#%C%7%e$,(J 
        $B$$$C$Q$$!#$_$s$J$G6a$E$$$F8+$k$H!"$^$s$^$k$NL\$G$-$g$m$-$g$m$7$F!"(J $B$a$C$A$c$+$o$$$+$C$?$h!<!#(J 
        $B$"$HDA$7$$%Y%i$b!"(J20m$B0L$N=j$K7k9=$$$?$h!#%Y%K%R%l%$%H%R%-%Y%i!"(J $B%D%-%N%o%$%H%R%-%Y%i!"%T%s%/%U%i%C%7%c!<!#$H$C$F$be:No!#(J 
        $B@u>l$K$O%-%s%a%b%I%-$,$$$C$Q$$72$l$F$k%"!<%A$,$"$C$F!"$=$3$r$/$0$k$N$O(J 
        $B$A$g$C$H2w46$+$b(J!? $B1=$N(J(?)S$B;R>n$C$F$P!"%?%1$A$c$s$,%9%C%H%C%W$C$F$7$F$k$N$bL\$KF~$i$J$+$C$?$N$+(J?$B72$l$NCf$KFM$C9~$s$G9T$/$+$i!"3'$G$"$-$l$F$?$i!"(JU$B%?!<%s$7$F9,$;$=!<$J%K%3%K%34i$G!"72$l$NCf$+$i=P$FMh$?$h!#(J 
        $B$3$l$K$O$_$s$JBgGz>P!#$b$A$m$s%^%9%/$KH>J,$0$i$$?e$,F~$C$?$h!<!#(J </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/8/5($BEZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J28.5$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT>$B</$N@n!!Cf$N@%(J</B><BR>
        <BR>
        $B$3$3(J3$BF|4V!"O"%A%c%s$G!X%^%s%?!Y;0Kf(J!$B!*0l:rF|$O</$N@n$G(J5$BI$!":rF|$O%P%i%9@>$G(J1$BI$!"$=$7$F:#F|$O(J2$BI$!#(J 
        $BF~$C$F$9$0$K8=$l$F!"$f$C$/$j$f$C$/$j:,$N>e$r2s$C$F!"$9!<$C$H5o$J$/$J$C$?$+$H;W$C$?$i!"$^$?La$C$F$-$F$/$l$F!"$_$s$J$,K0$-$F$7$^$&$0$i$$(J(?) 
        60$BJ,4V$:!<$C$H=P$F$F$/$l$?$h!<!#(J $B$3$3$N%]%$%s%H$O!"(J6$BG/DxA0$NBg$-$JBfIw$ND>7b$G!"%5%s%4$,2uLG>uBV$@$C$?$s$@$1$I!"$d$C$H%5%s%4$bI|3h$7$O$8$a$F$-$F$F!"$3$N$H$3$m%^%s%?$b(J 
        $B5oCe$$$F$/$l$F$k$7!"$3$N2F$A$g$C$H%$%$46$8$C$9!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT>$B%"%6%_KL(J</B><BR>
        <BR>
        $B>/$7N.$l$,$"$C$?$N$G!"%+%9%_%A%g%&%A%g%&%&%*$d%0%k%/%s(J($B%/%^%5%5%O%J%`%m(J 
        $B$d%&%a%$%m%b%I%-(Jetc)$B$,!"=8$^$C$F$F$9$4!<$/e:No$@$C$?$h!#(J $B$"$H!"%"%+%b%s%,%i$b$$$C$Q$$$G!"$$$C$;$$$K%Q%?%Q%?$H$3$C$A$K8~$+$C$FMh$?;~$O!"$A$g$C$H5$?'0-$+$C$?!)$+$J!#(J($B>P(J)$B$3$3$O!"%O%J%4%s%Y$,$?$/$5$s$$$F:#$O(J3cm$B$0$i$$$N(Jyg$B$,$$$F!"$H$C$F$be:No$G$+$o$$$$$s$@$h!<!#(J 
        $B$"$?$7$bAa$/!"$3$N%A%S$A$c$s$,%A%S$A$c$s$N$&$A$K!"<L??;#$j$?$$$h!A$s!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT>$B%$%=%m%/(J</B><BR>
        <BR>
        $B$3$3$O:=CO$N%]%$%s%H!#$H$3$m$I$3$m$K%5%s%4$d:,$,$"$j!"%G%P%9%:%a%@%$$,(J 
        $B=P$?$jF~$C$?$j$7$?$j!"%9%+%7%F%s%8%/%@%$$,72$l$F$?$j$7$F$k!#(J $B$=$l$r$f$C$/$j!"$N!<$s$S$j$^$o$C$F$$$/$H!"%a%$%s$N:,$KCe$/!#(J 
        $B$=$3$K$O!"%-%s%a%b%I%-$d%j%e%&%-%e%&%O%?%s%]$,!"8~$3$&$,8+$($J$$$0$i$$72$l$F$F!":#F|$O%O%@%+%O%*%3%<$,(J3$BI$!#2+NP$,(J1$BI$$HDA$7$$%T%s%/$,(J2$BI$!#(J 
        $B6a$E$/$H<+J,$G?HBN$r%f%i%f%iMI$i$9$7!"L\$,%-%i%-%i6@$_$?$$$J$s$@$h!<!#(J 
        $BF($2$J$$$+$i!"$8$C$/$j6a$E$$$F8+$F$_$F$M!#(J </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/8/1($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j;~!9@2$l$N$A1+!!5$29(J30$B!n!!?e29(J29$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT>$B%O%H%^KL(J</B><BR>
        <BR>
        $B$3$3$O!"2FA0$+$i9T$/$h$&$K$J$C$?!"(JNEW$B%]%$%s%H!#2-$K8~$+$C$F%5%s%4$,$9$4$/e:No$KH/C#$7$F$-$F$F!"Eg$K6a$/$J$k$H!"$A$g$C$H$7$?%H%s%M%k$d:Y$$DL(J
        $BO)$,$"$C$F!"$=$3$rH4$1$F9->l$K=P$k$H!"$=$&!X%b%s%D%-%+%(%k%&%*!Y$,$$$k$N$h!<!#$=$l$,!"7k9=6a$/$^$G4s$i$7$F$/$l$k$+$i!"%+%a%i$b%P%C%A%j(J!? 
        $B!J%*!<%i(J?$B$,=P2a$.$F$k$H!"0z$C9~$s$8$c$&$1$I$M!#!J>P!K(J $BB>$K$b!"%<%V%i%O%<$d!"%(%j%0%m%.%s%]!"%$%m%V%@%$(Jyg$B!"%+%s%`%j%Y%i(Jyg$B!"(Jetc$B>.$5$$%3C#$b$$$C$Q$$$$$?$h!<!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT>$B%P%i%9@>(J</B><BR>
        <BR>
        $BF~$C$?=V4V!"$3$3$O!X%*%,%s!Y!)$C$F$/$i$$?e$,e:No$@$C$?$h!#(J($B3Z$K!"(J30$B#m0J>eH4$1$F$?$+$J!#(J)$BJL(J
        $BL>!X%+%9%_$N:,!Y$C$F8@$o$l$k$0$i$$!"%+%9%_%A%g%&%A%g%&%&%*$,72$l$F$F!"%N%3%.%j%@%$$d%O%J%4%$!"@u$$:,$K$O%-%s%.%g%O%J%@%$$H%"%+%M%O%J%4%$$b$$!<$C$Q$$72$l$F$F!"$H$C$F$be:No!#(J 
        $B$G$b!":#F|$N%R%C%H$O!"%[%[%9%8%?%k%_$N<c5{!#$"$?$7C#$NEG$$$?%(%"!<$NK"$D$V$r!"%Q%/%Q%/?)$Y$K(J(?)$B$/$k$s$@$h!#$_$s$J!"<+J,$N$H$3$KMh$F$[$7$/$C$F!"%(%"!<$NEG$-J}$r?'!9JQ$($?$j$7$F!"$:!<$C$HM7$s$G3Z$7$+$C$?$h!<!#?)$Y2a$.$?$N$+(J(?)$B;~!9!"K"$D$V$r%2%C%W$C$FEG$-=P$7$?$j$b$7$F!"$A$g!<$+$o$$$+$C$?$h$s!#(J 
        ($B$A$J$_$K!X%[%[%9%8%?%k%_(Jyg$B!Y$O!"$3$N%[!<%`%Z!<%8$N%H%C%W%Z!<%8$r>~$C$F$^!<$9!#(J)</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/7/23($BF|(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$BCg%N?@Eg!!El$N:,(J</FONT></B><BR>
        <BR>
        $B:#F|$b$$$$E75$$G!"3$$O%Y%?!<$C$H$I$3$^$G$b%+%,%_$N$h$&!#(J $B$3$s$JF|$O!"G/$K?t$($kDx!#(J 
        $B0l:rF|!"F~$l$J$+$C$?!XEl$N:,!Y$K%j%Y%s%8!#(J $B>/$7N.$l$,=P;O$a$F$-$?$H$3$m$GF~$k$N$K$A$g$&$I$$$$%?%$%_%s%0!#(J 
        $B?t$($-$l$J$$Dx$N%0%k%/%s!J%&%a%$%m%b%I%-!"%/%^%5%5%O%J%`%m$J$I!K$H!"(J $B$=$l$r$M$i$C$F%$%=%^%0%m$,$D$C$3$`!#(J 
        $B!V%V%!%C!W$C$H2;$,$7$F!"$J$+$J$+GwNO$b$s$G054,$@$C$?$h!#(J $B%+%9%_%"%8!"%_%J%_%.%s%,%a%"%8$b$9$0B&$^$G$-$?$7!"$A$g$C$H2<$N$[$&$K$O(J 
        $B%R%a%F%s%0%O%.$,72$l$F$?$h!#$3$3$N$O!"%D%N$,@($/D9$$$s$@$h!#(J $B%$%=%^%0%m$H%0%k%/%s$N%7%g!<$r4.G=$7$?$N$G!":#EY$O%/%l%Q%9$X!#(J 
        $B3d$lL\$r$L$1$F>e$r8+>e$2$k$H!"B@M[$N8w$,%-%i%-%i:9$79~$s$G(J $B$9$4!<$/!"$9$4!<$/e:No$@$C$?$h!<!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$BCg%N?@Eg!!@>$N%9%]%C%H(J</FONT></B><BR>
        <BR>
        $B$3$3$O!":=CO$,e:No$J%j%i%/%<!<%7%g%s%]%$%s%H!#(J $B:#F|$b!"B@M[$N8w$,:=CO$K%-%i%-%i$HMI$i$a$$$F$?!#(J 
        $B91Nc$N!J!)!K$+$1$C$3!#0l:rF|!"Ii$1$?%3$?$A$,%j%Y%s%8$7$F$-$?$1$I!"(J $B$b$A$m$s!J!)!K$^$?$"$?$7$,>!$C$?$N$O8@$&$^$G$b$J$$$1$I$M!J>P!K!#(J 
        $B%4!<%k$7$F?6$jJV$k$H!"%I%Y$N%3$,$J$+$J$+A0$K?J$a$:!X%^%H%j%C%/%9!Y>uBV!#(J 
        $B$3$l$K$O$_$s$J!"$*J"Jz$($F>P$C$F!"%^%9%/$KH>J,$0$i$$?e$,$O$$$C$?$h!<!#(J 
        $B%F%s%9$N;R6!$,:=$K1#$l$?$j!"%"%+%O%A%O%<$,:=$r?)$Y$F$O!"%(%i$+$i%]%m%]%m(J 
        $B$3$\$7$F$$$?$j!">.@P$r%3%D%3%DC!$/$H%7%m%?%9%-%Y%i$N;R6!$,=8$^$C$F$-$?$j(J 
        $B$_$s$J$G!"$f$C$?$j$N$s$S$jM7$s$@$h!<!#(J $B$=$&$=$&!"$J$<$+%J%]%l%*%s$H%+%9%_%"%8$,$/$C$D$$$F1K$$$G$?$C$1!#(J 
        $B!J%J%]%l%*%s$NJ}$O!"$A$g$C$H7y$,$C$F$?!)$+$J!#!K(J </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2000/7/13($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$B:j;3%"%6%_%5%s%4(J</FONT></B><BR>
        <BR>
        $B:#F|$O!XCg%N?@Eg!Y$X!"9T$/M=Dj!#(J $BD,;_$j$,Ck$4$m$NM=Dj$J$N$G!"#1K\L\%"%6%_%5%s%4$G@x$C$?!#(J 
        $B>/$7N.$l$,$"$C$F!"$$$$6q9g$K%+%9%_%A%g%&%A%g%&%&%*$,=8$^$C$F$$$F!"%3%,%M%"%8!"%J%s%h%&%+%$%o%j!"%$%=%^%0%m$,J%$>$$$r%9!<$C$HDL(J
        $B$j2a$.$F$$$C$?$h!#@u$$=j$G$O!";98j$N>e$K%4%s%YN`!";98j$NCf$K$O%@%s%4%*%3%<!"%+%9%j%U%5%+%5%4!"$=$7$F%Q%s%@%@%k%^%O%<$OMq$r;:$s$G$"$C$F!"$N$>$/$H%Q%?%Q%?$H6;%S%l$rF0$+$7$F<i$C$F$k(J(?)$BMM;R$,$^$?$+$o$$$+$C$?$h!<!#(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$BCg%N?@Eg!!E7GO:j(J</FONT></B><BR>
        <BR>
        $BN.$l$HBg$-$J$&$M$j$G;DG0$J$,$i$*L\Ev$F$N!XEl$N:,!Y$K$OF~$l$:!"(J $B$o$j$H@E$+$@$C$?E7GO:j$G@x$C$?!#(J 
        $B$7$+$7F~$k$H$3$3$b7k9=N.$l$,$"$C$F!"$A$g$C$H$7$s$I$+$C$?$+$J(J!? $BCO7A$,$o$j$H$*$b$7$m$/!"%+%9%_%"%8$dBg$-$J%"%+%/%/%j!"$=$7$F4d$N2<$K$O(J 
        $B%[%o%$%H%A%C%W$N;R6!$,(J3$BI$$[$I$$$F!"$_$s$J$G$N$>$/$H%*%I%*%I$7$F(J(?)$B$+$o$$$+$C$?$h$s!#;DG0$J$,$i%P%i%/!<%@!<$O!"8+$l$J$+$C$?$1$I!%!%!%(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$BCg%N?@Eg!!@>$N%9%]%C%H(J</FONT></B><BR>
        <BR>
        2$BK\L\$H$O$&$C$FJQ$o$C$F!"$3$3$O%j%i%/%<!<%7%g%s%]%$%s%H!#(J $B:=Lf$,$9$4$/e:No$JGr$$:=CO$,!"F;$N$h$&$KAv$C$F$F!"%P%?%P%?$7$F$b$<$s$<$s(J 
        $BBy$s$J$$$s$@$h!#B@M[$N8w$,%-%i%-%i$H:=CO$K1G$C$F!"<+J,$N1F$b$/$C$-$j$H(J 
        $B1G$k$s$@$h!#$[!A$s$H!"5$;}$A$$$$$h!<!#(J $B$=$7$F91Nc$N(J(?)$B6n$1$C$3!#>!<T$O!"3'$+$i%S!<%k$r$4$A$=$&$7$F$b$i$($k(J!$B$H$$$&>^IJ$D$-!#(J($B!%!%!%$b$A$m$s!)$"$?$7$,%S!<%k$r0{$s$@$N$O8@$&$^$G$b(J 
        $B$J$$$1$I$M$C!#(J) $B$A$g$C$H$7$?%H%s%M%k$N$h$&$J:Y$$DLO)$b$"$C$F!"$=$3$K$O%+%s%`%j%Y%i!"%D%f%Y%i!"%*%S%F%s%9%b%I%-$NMD5{$b7k9=$$$F!"$"$C$H$$$&4V$N(J60$BJ,$G$7$?!#(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD> <FONT size="5"><B>2000/7/8($BEZ(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!?>.1+!!5$29#3(J0$B!n!!?e29#2(J8$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$BFbN%$lFn(J</FONT></B><BR>
          <BR>
          $B:#F|$OBfIw#49f@\6a$N0Y!"8aA0Cf$K#2%@%$%V!#(J $BF)L@EY$O$$$^$R$H$D$@$C$?$1$I!"$_$s$J$N$*L\Ev$F$N!X2+?'$N%8%g!<7/!Y$O(J 
          $B$H$F$b8f5!7y$h$m$7$/$F!"(J30cm$B$0$i$$$^$G$h$i$;$F<L??;#$i$;$F$/$l$?$h!#(J 
          $B%*%-%J%o%5%s%4%"%^%@%$$O!"$A$g$C$H%7%c%$$@$C$?$1$I!%!%!%(J $B%Y%K%R%l%$%H%R%-%Y%i$O!":'0y?'$@$7$F$F$H$C$F$b%-%l%$$@$C$?$h!#(J 
          $B@u$$:,$N$H$3$K$O!"%O%J%4%$$,$3$l$G$b$+!*$C$F$0$i$$72$l$F$F!"(J $B$3$l$b$^$?$H$C$F$b5$;}$A$$$$$C$9!#(J<BR>
          <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34">$B!!(J</FONT><FONT size="4">$B30N%$lFn(J</FONT></B><BR>
        <BR>
        $B$_$s$J$N$*L\Ev$F$O!"$b$A$m$s!X%K%A%j%s%@%F%O%<!Y!#(J $B$3$3$N%3$O!"$^$?$$$D$b8f5!7y$h$m$7$/$F!"$a$A$c$a$A$c$h$l$k$s$h!#(J 
        $B$C$H;W$C$?$i!%!%!%$$$J!A!A$$!#(J $B$I$&$d$i!"B>$NA%$N%A!<%`$,$R$C$3$a$A$c$C$?!J!)!K$_$?$$!%!%!%(J 
        $B5$$r<h$jD>$7$F!"5"$j$K=P$F$-$F$k$3$H$r4j$C$F@h$X$9$9$`!#(J $B%O%?%?%F%7%N%S%O%<!"%d%^%V%-%O%<!"$=$7$F$_$s$J$K?M5$$N%*%I%j%O%<!#(J 
        $B$b$A$m$s855$$K?e6L$b$h$&$N6;%S%l$r$U$C$FMY$C$F$/$l$F$?$h$s!#(J U$B%?!<%s$7$F!"$*$=$k$*$=$k%K%A%j%s7/$N$H$3$m$X!%!%!%$$$?$$$?!*$$$?$h!A$s!*(J 
        $B$"!A$h$+$C$?!#$b$A$m$s$_$s$J(J30cm$B0L$^$G$h$C$F!"$8$C$/$j4Q;!$G$-$?$h!#(J </TD>
    </TR>
  </TABLE>
  <P><A href="log.html"><IMG src="IMAGE/gb-y.gif" width="122" height="30" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
