<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <BR>
    $B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">300 DIVE<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$B8EC+D>H~(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2002/7/15$B$K!X(J300$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$b!"4X@>%J!<%9%A!<%`$H9gN.$N4XEl%G%Q%,%3%s%S!*?t$8$cIi$1$F$k$1$I!"%Q%o!<$8$c$R$1$r<h$i$J$$$N$OAjJQ$o$i$:$d$C$?$M$'!A!J!d!c!K?eCf$G$O!"%+%C%Q$KIi$1$8$H!)<L??$N$*LL$rHo$C$F@x$k$7!*!J$7$+$b;};2!*!K$"$l$O$+$J$jL55$L#$@$C$?$o$h$)!A!J!0!0!(!K:#2s$O!"8D@-GI%-%c%i$N?7%a%s%P!<$b2C$o$C$?$7!"$^$9$^$9%Q%o!<%"%C%W$NC{$7!&!&!&%H%[%[!J!w!w!K$b$&$3$l0J>e$O!&!&!&2?$H$>!"$*<j=@$i$+$KMj$s$^$9!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/memol/full.jpg" width="300" height="241" alt="$B8E;P$*$a$G$H$&!*(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200 DIVE<BR>
          </FONT></B>$B?@8M$+$iMh$i$l$?!"(J<B><FONT size="3">$B1J@%9@;R(J</FONT></B>$B$5$s(J<FONT size="3"><B>$BBgGw??M};R(J</B></FONT>$B$5$s(J
        <HR width="100%" noshade>
        2002/7/11$B$K(J<FONT size="3">$B1J@%9@;R(J</FONT>$B$5$s!"!X(J200$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v$=$7$FB3$$$F0l=o$KMh$i$l$?!"BgGw??M};R$5$s$b!"(J2002/7/12$B$K!X(J200$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$N4X@>%J!<%9%A!<%`$O!"Bh0lCF$HBhFsCF$KJ,$+$l$F$7$^$C$?$N$H!"6/Nu%-%c%i!)$,Ls(J1$BL>ET9g$GMh$l$J$/$J$C$?$N$G!"%Q%o!<%@%&%s$+$H!);W$$$-$d!&!&!&$J$s$N$J$s$N$C!*?7%a%s%P!<$b6/Nu$@$C$?$7!*!J!v!v!K5l%a%s%P!<!)$O$H$$$($P!&!&!&?eCf$G$O%+%C%Q$NCe$0$k$_$G@x$k$7!*!J!w!w!KAjJQ$o$i$:%Q%o!<_ZNv$G$7$?!*!*!J!d!c!K5-G0<L(J
        $B??$K$O!"$J$<$+;DG0$J$,$iBgGw$5$s$,<L$C$F$J$$$s$@$1$I!%!%!%!)$U$U$U$C!#(J $B0{$_2a$.$K$OCm0U$7$^$7$g$&$M$'!A$*8_$$$K!*!)!J!0!0!(!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/memol/hiroosako.jpg" width="300" height="217" alt="$B$*$a$G$H$&!*(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BF1$8$/(J<FONT size="3"><B>$B!X%7!<%[!<%9%^%j%s!Y(J</B></FONT>$B$N%D%"!<$GMh$i$l$?3'$5$s(J
        <HR width="100%" noshade>
        $B:#2s$N%D%"!<$b5-G0%@%$%V%D%"!<!)$C$F!"46$8$G$7$?!*(J6/30$B!A(J7/2$B$N#3F|4V$G!"5-G0%@%$%V$r7^$($i$l$?$N$O!J%^%k$A$c$sIW:J0J30$K!K<!$NJ}!9$G!A$9!#(J<B><FONT size="3">$B0B1JFA;R(J</FONT></B>$B$5$s!"(J<FONT size="3"><B>$B@P0f@i<w(J</B></FONT>$B$5$s!u(J<FONT size="3"><B>$B70(J</B></FONT>$B$5$s$N#3L>$,!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v%a%s%P!<(J6$BL>Cf!"(J5$BL>$,5-G0%@%$%V$@$C$?$J$s$F!*$9$4!<$$!J!w!w!K!J%4%&$A$c$s$O!"A02s$,5-G0%@%$%V$@$C$?$+$i$M$'!%!%!%!K@P0f$5$s$H$3$O!"?F;R$G(J50$BK\5-G0!*$$$$$G$9$h$M$'!A!J!0!0!K$3$l$+$i$b!"0l=o$KCgNI$/@x$j$K9T$C$F2<$5$$$M!A!#$=$7$F!"3'$5$s$^$?@>I=Eg$K$b@x$j$KMh$F$/$@$5$$$M!#$*BT$A$7$F$^!A$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/memol/sea.jpg" width="300" height="198" alt="$B$_$s$J$*$a$G$H$&!*(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B7k:'<0!u?7:'N99T5-G0(JDIVE<BR>
          </FONT></B>$B?@8M$+$iMh$i$l$?!"(J<B>$BF~9>MW(J</B>$B$5$s!u(J<B>$B9aBe(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        $B:#2s$O(J2002/6/30$B!A(J7/2$B$K!"7k:'<0!u?7:'N99T$r7s$M$?!)?@8M$N%7%g%C%W!X%7!<%[!<%9%^%j%s!Y$N%D%"!<$GMh$i$l$?F~9>MW$5$s!u9aBe$5$s!"$47k:'$*$a$G$H$&$4$6$$$^!A$9"v!J!0(J0$B!0!KKhG/!"%^%k$A$c$s!J5l@+$,4]2,$5$s!K$NCB@8F|$K9g$o$;$F$N%D%"!<$@$C$?$N$K!":#2s$O7k:'$N$*=K$@$J$s$F!*6C$$$?$h!A$s!J!w!w!K<L(J
        $B??$N%V%k!<$N%*%V%8%'$O!"2?$H!*$*:=E|$G=PMh$?%&%(%G%#%s%0%1!<%-$J$N$@!*!*3$Cf$r%$%a!<%8$7$F:n$i$l$F$F!"$*5{$d%^%s%?!u%@%$%P!<$b$A$c$s$H$$$k$N$h!A!J!v!v!K:n$C$F;}$C$FMh$F$/$l$?$N$O!"0l=o$K@x$j$KMh$?%Q%F%#%7%'$N%+%*%k$A$c$s!#$[$s$H>e<j$G%S%C%/%j$7$A$c$C$?!*?)$Y$k$N$,$b$C$?$$$J$$$/$i$$!%!%!%$C$F!"$d$C$Q$j$b$C$?$$$J$/$F?)$Y$J$+$C$?$1$I$M!J!0!0!(!K$=$7$F$b$A$m$s(J6/30$B$O!"%^%k$A$c$s$O$N%P!<%9%G!<$b$"$C$?$N$G!"$3$C$A$N%1!<%-$O$_$s$J$GH~L#$7$/?)$Y$^$7$?!*!J!0!0!K$*Fs?M$H$b!"Kv1J$/$*9,$;$K!A"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/memol/maruwed.jpg" width="300" height="256" alt="$B7k:'$*$a$G$H$&!*(J" border="0"></TD>
    </TR>
    <TR> 
      <TD><IMG src="IMAGE/memol/marucake.jpg" width="150" height="164" alt="$B%1!<%-!*$9$4$$$C$7$g!*(J" border="0"><IMG src="IMAGE/memol/marucake2.jpg" width="150" height="121" border="0" alt="$B$*$a$G$H!*(J"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B$?$/$5$s5-G0(JDIVE<BR>
          </FONT></B>$BKL6e=#$N%7%g%C%W(J<B>$B!X%P%G%#%m!<%W!Y(J</B>$B$N$_$J$5$s(J
        <HR width="100%" noshade>
        $BKL6e=#$N%7%g%C%W!X%P%G%#%m!<%W!Y$N%D%"!<$GMh$i$l$?J}!9$G$9!#:#2s$N%D%"!<$O!"5-G0%@%$%V%D%"!<!)$C$F$0$i$$!"Bg@*$GFx$d$+$J$*=K$G$7$?"v(J6/27$B!A(J6/29$B$N(J3$BF|4V$G!"5-G0%@%$%V$r7^$($i$l$?$N$O!"<!$NJ}!9$G$9!*!X(J50$BK\!YGHB?Ln$F$k$_$5$s!"4_@/;R$5$s!"2#;3OB7C$5$s!#!X(J100$BK\!YEOJU??5]$5$s!#!X(J150$BK\!Y5{=;7r0lO:$5$s!"@FF#<"$5$s!#!X(J400$BK\!YI1Eh@i@2$5$s!#Am@*(J7$BL>!*!J!v!v!K$*$a$G$H$&$4$6$$$^!A$9"v:#2s$OE75$$bNI$/!"%^%s%?$"$j!"%5%s%4$"$j!"%^%/%m$"$j$N=<<B$N(J3$BF|4V$G$7$?$M!A!J!0!0!K$^$?3'$5$s$G!"%o%$%o%$3Z$7$/@x$j$KMh$F$/$@$5$$$M$C!*$*BT$A$7$F$$$^!A$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/memol/cake.jpg" width="300" height="208" alt="$B5-G0$N%1!<%-(J" border="0"></TD>
    </TR>
    <TR> 
      <TD><IMG src="IMAGE/memol/memol-B.jpg" width="300" height="230" alt="$B%P%G%#%m!<%W!"$_$s$J$G=89g(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">300 DIVE<BR>
          </FONT></B>$BJ<8K$+$iMh$i$l$?!"(J<B>$BBg0f=SO/(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $BJ<8K$N%7%g%C%W!X%+!<%s!Y$N%D%"!<$GMh$i$l$^$7$?!#(J 2002/6/25$B$K!X(J300$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$O!"$A$g$C$H%+!<%A%P%$!JG_1+L@$1$K?a$/5(@aIw!K$,6/$/$F!"%*%,%s$K$O9T$1$:$G;DG0$G$7$?$1$I!"%^%s%?$b8+$l$?$7"v2?$h$j$b$C$H%l%"$J!)$b$N$r!&!&!&%O%&%8%s%0$NCf$GF2!9$HB8:_$r<gD%$7$F$$$?!)Nc$N%"%l$G$9$h!#3N$+Bg$-$/%,%i%9$N8~$&$K!X#N#i#k#o#n!Y$NJ8;z$,!&!&!&$*1"$G!)A40w$,K:$l$i$l$J$$(J1$BK\$H$J$C$?$3$H$G$7$g$&!*!J!0!0!(!K(J</TD>
    </TR>
  </TABLE><BR>
    <IMG src="IMAGE/memol/020625ooi.jpg" width="300" height="251" alt="$BBg0f$5$s$*$a$G$H$&!*(J" border="0">
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P> </P>
  <P> </P>
  <P><B><A href="kakomemol2.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
