<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <BR>
    $B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100DIVE<BR>
          </FONT></B> $BKL6e=#$N%7%g%C%W!X%H%i%$!Y$N%D%"!<$GMh$i$l$?!"(J<B>$BGO>l7C;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/5/5$B$K!X(J100$BK\!YC#@.$$$?$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v=i$a$F$N@>I=$G$N%@%$%S%s%0!#$7$+$b0lK\L\$+$i!X%^%s%?!Y$,8+$l$F!"G04j$+$J$C$FNI$+$C$?$G$9$M!A!#@N$K0lEY!"4Q8w$GMh$i$l$?$3$H$,$"$k$H$N$3$H!#$=$N:"$+$i$9$k$H!"?oJ,JQ$o$C$F$7$^$C$?$+$b$7$l$^$;$s$,!"$^$@$^$@<+A3$,$$$C$Q$$$N@>I=Eg$G$9!#$^$?ET2q$G$N@83h$r$7$P$7K:$l$F!"%j%U%l%C%7%e$7$KMh$F$/$@$5$$$M!<!*$*BT$A$7$F$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/155baba.jpg" width="240" height="171" alt="$BGO>l$5$s!"$*$a$G$H$&!#(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">BIRTHDAY DIVE<BR>
          </FONT></B> $BEl5~!J!)!K$+$iMh$i$l$?!"(J<B>$B@1C+J89>(J</B>$B$5$s!#(J<BR>
        <HR width="100%" noshade>
        2001/4/12$B$K!"%O%C%T!<%P!<%9%G%#$G$7$?!#!J!&!&!&$A$g$C$H%"%s%O%C%T!<!)$+$b(J($B>P(J)$B$@$C$F!"$b$&G/$H$k$N4r$7$/$J$$$b$s$M$'!A!A!A$*8_$$$K!&!&!&!)(J($B>P(J)$B!K:#2s$b!"?'!9$H$d$C$F$/$l$^$7$?!*$=$&!"H`=w$,<B$O(JBBS$B$rFx$o$7$F$/$l$F$k(JF$B!]MM$J$N$h!#!JK\?M$N0Y$K!)$"$($F4i$,$O$C$-$j$7$J$$<L??$r:\$;$^$7$?!&!&!&(J($B>P(J)$B!K8fB8$8$J$$J}$O!"2a5n$N(JBBS$B$K$=$N;~$N;v$,%+%-%3$5$l$F$^$9$N$G!"$h$+$C$?$iFI$s$G$_$F$M!#!J$-$C$H!)0lEY!"2q$C$F$_$?$$$H;W$o$l$k$O$:!)(J($B>P(J)$B!K<!2s$O!"2F$@$M!A!A!A!*3Z$7$_!J6l$7$_!)!K$K$7$F$k$h!A!A!A$s"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/fusama.jpg" width="240" height="179" alt="$B$U!<$5$^(J" border="0"> 
  <P>$B!!(J</P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B2?(JDIVE$B!)(J<BR>
          </FONT></B> <B>$BI1O)`W6(Bg3X%9%-%e!<%P%@%$%S%s%0It(J</B>$B$N3'$5$s!#(J<BR>
        <HR width="100%" noshade>
        2001/4/1$B!"L5;v$K=U9g=I=*N;$7$^$7$?!*A0H>$OE75$$,0-$+$C$?$j$7$?$1$I!"H>$P0J9_E75$$bNI$/$J$j!"%3%V%7%a$N;:Mq$d!"%^%s%?$bA40w$,%P%C%A%j8+$l$FNI$+$C$?$M!<"v0lF|$O%9%N!<%1%j%s%0$G$:$C$H8+$F!"$b$&0lF|$O@x$C$?;~$K6a$/$G8+$l$?$7$M!<"v"v!J$"!A!A!A$C!"2H$NET9g$G5^$-$g5"$C$F$7$^$C$?#I7/$O!";DG0$@$C$?$1$I!&!&!&!K0l2s@8$N3'$b!"=iF|$HHf$Y$k$H:G=*F|$K$O?oJ,>e<j$/$J$C$?$7!"Bg$-$JJ*$r3Z$7$_$D$D!">.$5$JJ*$b$8$C$/$j4Q;!$9$k%@%$%S%s%0$C$F$$$&$N$b!"$J$+$J$+3Z$7$+$C$?$s$8$c$J$$$+$J!*!)$3$N<L??$O!":G=*F|$NBG$A>e$2$NLOMM$G$9"v5Y$_$,$$$C$Q$$<h$l$k3X@8$N$&$A$K!"%,%s%,%s@x$C$F$*$$$F$M!<!#$=$7$F$^$?@>I=Eg$K$b!"@x$j$KMh$F$M!A!*!J#I7/!"2F$K$G$b%j%Y%s%8$7$K$*$$$G!A!A!A!*(J($B>P(J)$B!KBT$C$F$k$h!A$s"v(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellpadding="0" cellspacing="0">
    <TR>
      <TD><IMG src="IMAGE/memol/gakusei01.jpg" width="230" height="181" alt="$B3X@8$5$s(J" border="0"></TD>
    </TR>
    <TR>
      <TD><IMG src="IMAGE/memol/gakusei02.jpg" width="230" height="204" alt="$BLk$N3X@8$5$s!)(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50DIVE<BR>
          </FONT></B> $BJ!2,$+$iMh$i$l$?!"(J<B>$BCSED5-;R(J</B>$B$5$s!#(J<BR>
        <HR width="100%" noshade>
        $BJ!2,$N%7%g%C%W!X%3%9%_%C%/!Y$N%D%"!<$GMh$i$l$^$7$?!#(J2001/3/18$B$K!X(J50$BK\!YC#@.$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"vFsF|4V$H$$$&C;$$4|4V$@$C$?$1$I!"%3%V%7%a$N;:Mq$dG04j$N!X%^%s%?!Y$K$b2q$($?$7!"$3$N;~4|$@$1$N!X%[%?%k!Y$b$9$4$/e:No$@$C$?$7$M$'!A!A!A!#NI$+$C$?!"NI$+$C$?"v$^$?@'Hs!"M7$S$KMh$F$/$@$5$$$M!<!#$*BT$A$7$F$^!<$9"v(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/318.jpg" width="240" height="173" alt="$BCSED$5$s!"$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$BB46H(JDIVE<BR>
          </FONT></B> $B:k6L$+$iMh$i$l$?!"(J<B>$B0BF#H~HA(J</B>$B$5$s!#(J<BR>
          $BL>8E20$HBg:e$+$iMh$i$l$?!"(J<B>$B0KElOB;R(J&$BE5;R(J</B>$B$5$s(J
        <HR width="100%" noshade>
        $B$=$l$>$l!"(J2001/3/6$B$H(J3/10$B$KL5;v!J$J$s$H$+(J?$B!K%9%/!<%k9g3J$7$^$7$?!#!J>P!K%7!<%:%s=i$a$,!"<c$$=w$N;R$N9V=,$H$"$C$F!"%?%1$bFb?4$A$g$C$H%&%-%&%-"v$C$H;W$C$?$N$bB+$N4V$G<B:]$O!&!&!&$+$J$j(J?$B$*Hh$l%b!<%I!"F~$C$F$?$h$M!<(J!?$B!J>P!K0BF#$5$s$H0l=o$KMh$?#K;R$A$c$s$O!"0l1~(J?$B%@%$%P!<$N$O$:$@$C$?$s$@$1$I!"2?8N$+(J??$B0l=o$K9V=,$r<u$1!&!&!&Fs?M$7$F!X%/%j%*%M1K$.!Y$J$k$b$N$r(J!?$B!J>P!K(J 
        $B$=$7$F0KEl;PKe$O!"$J!<$s$HAP;y$N;PKe$G!"=i$a$O8+J,$1$,$D$/$+$J(J?$B$H;W$C$?$1$I!"A4A3%-%c%i$,0c$C$?$N$G!"$9$0$K$o$+$C$?$h$M!#$G$bFs?M$H$b!"$+$J$jE7A3$OE7A3(J?$B$@$C$?$1$I!#!J>P!K!&!&!&$C$F!"Fs?M$8$c$J$/$C$F!";M?M$H$b$@$C$?$h!A!A!A!J>P!K$=$&$=$&!"H`=wC#$,(J 
        BBS$B$KEP>l$7$?!X%[%?%k!Y(J&$B!X%$%j%*%b%F%d%^%M%3!Y$r8+$F$7$^$C$F!"1?$r;H$$2L(J
        $B$?$7$F$7$^$C$?%3C#$G$7$?!#$"$H!"$5$i$K%d%^%M%3$h$jDA$7$$(J?$B!X%"%7%Y!Y$b8+$F$7$^$C$?$s$@$C$?!<(J!$B!J>P!K<L(J
        $B??$O!"%9%/!<%kB46H$NBG$A>e$2$NLOMM$G$9!#$G$O$G$O!"$_$s$J$^$?2F$K(J?$B2q$($k$N3Z$7$_$K(J??$BBT$C$F$^!A$9"v(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/uchiage.jpg" width="240" height="174" alt="$B3Z$7$+$C$?BG$A>e$2(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100DIVE<BR>
          </FONT></B> $BEl5~$+$iMh$i$l$?!"(J<B>$B9bED=`;0(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/12/31$B$K!X(J100$BK\!YC#@.$7$^$7$?!#(J20$B@$5*:G8e$NF|$K5-G0$9$Y$-(J100$BK\L\$@$J$s$F(J!$B$9$4!A!A!A$$(J!!$B$&$^$/9g$o$;$^$7$?$M$C!#(J($B>P(J)$BG/Kv$^$GE75$$,$A$g$C$H0-$+$C$?$N$G!";DG0$@$C$?$1$I!"L{2w$J%a%s%P!<$H0l=o$G3Z$7$+$C$?$h$M$'(J!?($B$C$F$$$&$h$j!"BgJQ(J?$B$@$C$?$h$M!&!&!&>P(J)$B:#$O;E;v$G!"4($$@D?9$G4hD%$C$F$k$H;W$&$1$I!"%+%<$R$+$J$$$h!<$K$M!#$^$?CH$+$$@>I=Eg$G!"$*BT$A$7$F$^!A$9"v(J($B<L??!"3N$+(J9$B?M$G;#$C$?$O$:$J$N$K!&!&!&$"$H$N(J2$B?M$O$$$C$?$$2?=h(J??($B>P(J)</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/1231takada.jpg" width="240" height="212" alt="$B9bED$C$5$s!"$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100DIVE<BR>
          </FONT></B> $BBg:e$+$iMh$i$l$?!"(J<B>$B2,>18c(J</B>$B$5$s!#(J
        <HR width="100%" noshade>
        $B7G:\$,$3$s$J$KCY$/$J$C$F$4$a$s$M!A!#(J2000/10/27$B$K!X(J100$BK\!YC#@.$7$^$7$?!#=U$KMh$i$l$?;~!"$H$C$F$bE75$$,0-$/:#2s$O%j%Y%s%8$@$C$?$N$K!&!&!&$^$?$^$?E75$$,0-$/$F!&!&!&2?8N$G$7$g$&(J?$B0l=o$KMh$?H`=w$K$b!"%-%i%-%i$7$?2-Fl$i$7$$3$$r8+$;$F$d$j$?$$(J!$B$C$F8@$C$F$?$s$@$1$I!&!&!&(J21$B@$5*!"$&!A!A!A$s$H9T$$$rNI$/$7$F(J?($B>P(J)$B:FEY!"%j%Y%s%8$7$KMh$F$A$g!<!#$*BT$A$7$F$^!<$9(J!($B$A$J$_$K!"<L??$N=w@-(J3$B?M$O8e$m$GMY$C$F$k(J?$B$o$1$G$O$J$/!"!X(J100$B!Y$H$$$&J8;z$r:n$C$F$k$N$@(J!)</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/1027oka.jpg" width="240" height="195" alt="$B2,$5$s!"$*$a$G$H$&!#(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100DIVE<BR>
          </FONT></B> $B2#IM$+$iMh$i$l$?!"(J<B>$BOBED7CH~(J</B>$B$5$s!#(J 
        <P><B><FONT size="4">400DIVE</FONT></B><BR>
          $B@P3@Eg$+$iMh$i$l$?!"(J<B>$B1:9a@8N$(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B2#IM$+$iMh$i$l$?!!OBED!!7CH~$5$s!#(J 2000/10/11$B$K!X(J100$BK\!YC#@.$7$^$7$?!#:#2s!"8f<g?M$N2m?M$5$s$HMh$i$l$?$N$G$9$,!"$"$^$j$N$*Fs?M$N!VD6!<%i%V%i%V"v!W$V$j$K!"3'%S%C%/%j$9$k$d$i(J?$BA"$^$7$$$d$i(J??($B>P(J)($B?7:'$5$s$G$O$J$$$s$G$9$h!<(J!)$B$^$?CgNI$/$*Fs?M$GM7$S$KMh$F$/$@$5$$$M!#$*BT$A$7$F$^!<$9"vNY$N@P3@Eg$+$iMh$i$l$?!!1:!!9a@8N$$5$s!#(J 
        2000/10/11$B$K!"L5;v!)!X(J400$BK\!YC#@.$7$^$7$?!#:#2s$O(J400$BK\$r5-G0$7$F!"K\?M$,?eCf$G!V2ZNo$J(J(?)$BIq$$!W$rHdO*$7$F$/$l$k%O%:$@$C$?$N$G$9$,!&!&!&$&!A!A!A$s(J?500$BK\L\$K4|BT$7$?$$$H;W$$$^$9!#(J($B>P(J)$B:#EY$O!"$A$c!<$s$H(J?$BN}=,$7$F$-$F$A$g(J!!($B>P(J)</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/1011ura.jpg" width="240" height="177" alt="$BOBED$5$s!"1:$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50DIVE</FONT></B><BR>
          $BEl5~$+$iMh$i$l$?!"(J<B>$B8EGwH~DE9>(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $BEl5~$+$iMh$i$l$?!"8EGwH~DE9>$5$s!#(J2000/10/9$B$K!X(J50$BK\!YC#@.$7$^$7$?!#:#2s$O!"B-$N;X$r2x2f$7$F$7$^$&$H$$$&%"%/%7%G%s%H$K8+Iq$o$l$F$7$^$$!&!&!&8+$?$,$C$F$$$?%+%a$b8+$l$J$/$F!"$[$s$H;DG0$G$7$?!#$3$l$KD($j$:$K!"$^$?%j%Y%s%8$7$KMh$F$/$@$5$$$M!#$*BT$A$7$F$^!A$9!#(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/109furusako.jpg" width="240" height="168" alt="$B8EGw$5$s!"$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">200DIVE</FONT></B><BR>
          $BJ<8K8)$+$iMh$i$l$?!"(J<B>$B:4F#?80lO:(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
$BJ<8K8)I1O)$N%7%g%C%W!X%@%$%V%;%s%?!<%N%j%9!Y$N%D%"!<$GMh$i$l$?:4F#?80lO:$5$s!#(J2000/10/7$B$K!X(J200$BK\!YC#@.$7$^$7$?(J!$B:#2s$G(J2$B2sL\$N:4F#$5$s$O!"%o%$%I$b%^%/%m$b$9$k%+%a%iGI%@%$%P!<!#$5$F!":#2s$N=PMh$OG!2?$@$C$?$s$G$7$g$&$+(J?$B$*5$$KF~$j$N<L??$,$"$C$?$i!"(JBBS$B$KEj9F$7$F$/$@$5$$$M!<!#$^$?MhG/$b!"3Z$7$$%N%j%9$5$s$N%D%"!<$G!"$*BT$A$7$F$^!A$9!#(J </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/1007noris.jpg" width="240" height="167" alt="$B:4F#$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">700DIVE&amp;750DIVE</FONT></B><BR>
          $B?@F`@n$+$iMh$i$l$?!"(J<B>$BB<;3>O(J</B>$B$5$s!#(J
        <HR width="100%" noshade>
        $BA02sMh$i$l$?(J2000/6/24$B$K!X(J700$BK\!Y!":#2s(J2000/9/28$B$K!X(J750$BK\!YC#@.!*:#2s$OE75$$K$b7C$^$lCg$N?@Eg$K9T$1$F!"G04j$N%+%D%*%I%jB>!"Bt;3$NLnD;$b8+$k;v$,=PMh$FNI$+$C$?$G$9$M!<!#$3$N(J3$B%v7n$N4V$K(J50$BK\$b@x$k$H$$$&%O%$%Z!<%9$V$j$K$O6C$-$G$9!#:#:"$O!"$-$C$H4($$KL$N3$$rK~5J$5$l$F$k;v$G$7$g$&!#$^$?CH$+$/$J$C$?$i!"Fn$N3$$K$b5"$C$FMh$F$/$@$5$$$M!A!#(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/928mura.jpg" width="240" height="189" alt="$BB<;3$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50DIVE&amp;100DIVE</FONT></B><BR>
          $BJ<8K$+$iMh$i$l$?!"(J<B>$B;0LZ9bJv(J</B>$B$5$s!&(J<B>$B5FCS=(E5(J</B>$B$5$s!#(J</P>
        <P> <B><FONT size="4">HAPPY WEDDING DIVE</FONT></B><BR>
          $BEl5~$+$iMh$i$l$?!"(J<B>$BIMED5H><(J</B>$B$5$s!&(J<B>$B??M3H~(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $BJ<8K8)@>L@@P$N%7%g%C%W!X%@%$%V%;%s%?!<%N%j%9!Y$N%D%"!<$GMh$i$l$?;0LZ9bJv$5$s$H5FCS=(E5$5$s!#(J 
        2000/9/15$B$K!X(J50$BK\!Y!"(J2000/9/16$B$K!X(J100$BK\!Y$=$l$>$l!"C#@.$7$^$7$?(J! $B$=$7$F!"El5~$+$i$3$N%D%"!<$K;22C$5$l$?!"IMED5H><(J&amp;$B??M3H~$5$s!#8f7k:'$*$a$G$H$&$4$6$$$^$9(J!! 
        $B:#2s$N%D%"!<$O!"BfIw$NF0$-$K%O%i%O%i$5$;$i$lE78u$bNI$/$J$+$C$?$N$G$9$,!"$=$s$J$3$H$r?a$-Ht$P$7$F$7$^$&$0$i$$!"%a%s%P!<$N%Q%o!<$O@($+$C$?$G$9!#(J($B>P(J)$B$M$C!"%*%+%`%i$C$A(J?$B$"$l$G%Q%o!<A43+$8$c$J$$$J$s$F!&!&!&$A$g$C$HI]$$(J($B>P(J)$BMhG/$b!"$^$?L{2w$J%a%s%P!<$GM7$S$KMh$F$/$@$5$$$M!<!#(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/916noris3.jpg" width="240" height="166" alt="$B;0LZ9bJv$5$s!&5FCS=(E5$5$s(J" border="0"><IMG src="IMAGE/memol/916noris2.jpg" width="240" height="166" alt="$B%N%j%9$N$_$s$J$H(J" border="0"></P>
  <P><IMG src="IMAGE/memol/916noris1.jpg" width="240" height="228" alt="$BIMED5H><$5$s!&??M3H~$5$s(J" border="0"></P>
  <P><IMG src="IMAGE/memol/916noris4.jpg" width="170" height="108" alt="$B$*$a$G$H$&%1!<%-(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!El5~$+$iMh$i$l$?!"(J<B>$BEgED!!CR9/(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/9/11$B$K!X(J50$BK\!YC#@.$5$l$^$7$?!#@>I=Eg$O:#2s$,=i$a$F$@$C$?$N$K!"1?0-$/BfIw$HBfIw$N4V$G!";0F|4V$N%@%$%S%s%0M=Dj$@$C$?$N$K0lF|$7$+@x$l$:!"$H!<$C$F$b;DG0$G$7$?!#(J($B5c(J)$B$G$b$=$NF|$O!"4hD%$C$F(J3$B%@%$%V$7$?$N$G!"(J50$BK\C#@.=PMh$F$h$+$C$?$G$9$M!<!#:#2s$O0-E78u$N0Y9T$1$J$+$C$?$1$I!"@>I=$OB>$K$b?'!<$s$J%]%$%s%H$,$"$C$F!"$b$C$H$b$C$H3Z$7$$$G$9$+$i!"$3$l$KD($j$:$K!"$^$?I,$:%j%Y%s%8$7$KMh$F2<$5$$$M!<!#$*BT$A$7$F$^!A$9!#(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/911sjima.jpg" width="240" height="180" alt="$BEgED$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">100DIVE</FONT></B>$B!!!!2#IM$+$iMh$i$l$?!"(J<B>$BF;Cf!!@i>=(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/8/14$B$K!X(J100$BK\!YC#@.$7$^$7$?!#@>I=$O$b$&(J4$B2sL\$G!"=i2s$N$H$-$K2&MM(J($B7G<(HD$K$bEP>l$7$F$k!"Mn=q$->.AN(J?)$B$K!"%^%@%i%?%L%-(J?($B$C$F!"$I$s$J%?%L%-(J?)$B%a!<%/$r;\$5$l$F$+$i!"$9$C$+$j%a!<%/$NN:$K$J$C$F$7$^$C$?(J??$B0l?M$G$9!#(J($B>P(J) 
        $B:#2s$O!"2&MM$N0U;W$r0z$-7Q$$$@?M!9(J?$B$K$h$C$F!"!X%3%=E%4i$N%8%g!<%U%#%C%7%e!Y%a!<%/$K$F5-G0;#1F$G!<$9!#(J($B>P(J) 
        $B$3$l$O!"$A$c!<$s$HH`;a$K$b$_$;$F$M!A"v!&!&!&$G$b$=$N8e!"$I$s$J7k2L$K$J$C$F$bEvJ}(J 
        $B$G$O!"0l@Z@UG$$O<h$j$^$;$s$N$G!&!&!&$"$7$+$i$:!#(J($B>P(J)$B!J$A$J$_$K!"NY$K<L(J
        $B$C$F$k@V$$4i$N%X%s$J%d%D$O!"$G$C$A$N%7%g!<%X!<$N!X%$%m%V%@%$(Jyg$B!Y%a!<%/$C$9!&!&!&$A$g$C$HI]$$$+$b(J?$B!JGz!K(J</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/814.jpg" width="240" height="183" alt="$B@i>=$5$s$*$a$G$H$&(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">BIRTHDAY DIVE</FONT></B>$B!!!!9-Eg$+$iMh$i$l$?!"(J<B>$B@n>e!!$h$7;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2000/8/12$B$K!"%O%C%T!<%P!<%9%G%#$G$7$?!#L{2w$JCg4V$H(J($B$J$s$?$C$F!"$h$7;R(J 
        $B$A$c$s$O!"$"$N(JS$B;R>n$NDLLu(J?$B$J$s$h!<!#$9$4$$$o$"!&!&!&>P(J)$B9g=I$N$h$&$K(J?$B2a$4$7$?0l=54V$O$"$C$H$$$&4V$@$C$?$M!<!#$^$?MhG/$b3Z$7$$!)%O%C%T!<%P!<%9%G%#$r!"0l=o$K7^$($i$l$k$H$$$$$M!<!#BT$C$F$^!A!A!A$9!#(J($B<!$O%&%A$i$H$8$c$J$/$C$F!"%+%l;a$H7^$($?$$$C$F(J?$B$@$h$M!A!#>P(J)</TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/memol/812yoshiko.jpg" width="265" height="196" alt="$B%h%7%3$A$c$s$*CB@8F|(J8/12" border="0"><IMG src="IMAGE/memol/yoshiko&cake.jpg" width="153" height="115" alt="$B$h$7$3$A$c$s$H%1!<%-(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <B><FONT size="4">50DIVE</FONT></B>$B!!!!Bg:d$+$iMh$i$l$?!"(J<B>$BEDOB>-5](J</B>$B$/$s(J&amp;<B>$B;3K\>;J?(J</B>$B$/$s!#(J 
        <HR width="100%" noshade>
        2000/8/9$B$H!"(J8/12$B$K!"$=$l$>$l!X(J50$BK\!YC#@.(J!! $B$3$NFs?M$O!"2F5Y$_$N4V$*<jEA$$$7$F$/$l$k!":#G/$N%&%A$N!X$G$C$A7/!YC#$G$9!#6aBg@x?eIt$NFs2s@8$G!";~4|<g>-(J&amp;$BI{>-$i$7$$$s$@$1$I!&!&!&$&!A!A!A$s(J?$B%/%i%V$NCf$G!V0lHV%$%1$F$k%3!W$C$F!"$3$H$G?dA&$5$l$F(J($BA0G/EY$N%3$,!"<!$N%3$r87A*(J?$B$7$F$/$k!#(J)$BMh$?$O$:$J$s$@$1$I(J?? 
        $BEDOB$/$s$O!";}IB(J?$B$,=P$F!"$9$0$K5"$C$F$7$^$C$?$7!"%7%g!<%X!<$O%F%D$r(J($B5nG/!"0l:rG/$N$G$C$A7/(J)$B$[$&$U$D$5$;$k(J?$B%-%c%i$@$7!&!&!&(J($BD6!<!<!<E7A3%\%1(J??$B$C$F%3%H!#(J)$B$H$K$+$/!"BgJQ$G$7$?!#(J($B$C$F!"%7%g!<%X!<$O$^$@5o$k$s$@$1$I$M!#(J)$B$^$"!"KhG/$$$m$s$J%3$,Mh$F!"$=$l$O$=$l$G3Z$7$$$s$@$1$I(J!?$B!J$=$l$K$7$F$b!":#G/$O$d$i$+$72a$.$@$"!<!<!<!J5c!K(J 
      </TD>
    </TR>
  </TABLE>
  <P><IMG src="IMAGE/912.jpg" width="266" height="202" alt="$B$G$C$A7/$H$_$s$J(J" border="0"><IMG src="IMAGE/decchi.jpg" width="152" height="124" alt="T$B%7%c%DB#Dh!*(J" border="0"></P>
  <P>$B!!(J</P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P>$B!!(J</P>
  <P><B><A href="kakomemol5.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
