<HTML>
<HEAD>
<TITLE>TAKE Diving$B:G6a$N%m%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/loglogo.gif" width="221" height="111" alt="$B:G6a$N%m%0(J"> 
  <HR width="221">
  <BR>
  <BR>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/10/20($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J28$B!n!!?e29(J27$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B$3$N$H$3$mKLIw$N6/$$F|$,B3$$$F$*$j!":#F|$b@P3@$+$i$NDj4|A%$3$C$A$N9A$O7g9R$G$7$?!J!d!c!K%]%$%s%H$N>e$b7k9=MI$l$F$^$7$?$,!"$=$l$G$b2?$H$+%(%s%H%j!<!#F~$C$F$_$k$H30$N9S$l$?E75$$,%&%=$N$h$&$KF)L@EY$bNI$/$C$F!"@>I=$G(J1$B!"(J2$B$rAh$&$0$i$$$N;^%5%s%4$d%F!<%V%k%5%s%4$Ne:No$5$H!"?t$($-$l$J$$Dx$N%G%P%9%:%a%@%$$d%m%/%;%s%9%:%a%@%$$d%"%+%M%O%J%4%$$N72$l$K7^$($i$l$F!"5$J,$O%O%C%T!<"vBg9%$-$J%&%a%$%m%b%I%-$b$^$@;R6!C#$@$C$?$1$Ie:No$@$C$?$h!A$s!J!0!0!K!](J18m$B$K$"$k%*%*%$%=%P%J$K$:$C$H5o$?!"%*%k%H%^%s%o%i%(%S!J%`%.%o%i%(%S2~$a!K$O!"5o$J$/$J$C$F$?!%!%!%!J!d!c!K$G$b:#$O!"%d%^%V%-%9%:%a%@%$(Jyg$B$,Ce$$$F$F$H$C$F$be:No$G2D0&$$$h$)!A"v(J<BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BH74VFn@>(J</B><BR>
          <BR>
          $B8a8e$+$i$O%j!<%U$NCf$N2:$d$+$J:=CO$N%]%$%s%H!#$3$N$H$3$m!"%+%_%=%j%&%*$N%Z%"$,$:!<$C$H5oCe$$$F$/$l$F$k$h!*Mq$rJ"%S%l$KJz$($F<i$C$F$k$s$@$1$I!"Mq$K?7A/$J?e$rM?$($k0Y$K%R%l$r%Q%U%Q%U$9$k$N$G!"Cf$,8+$($k$+$J!)$H8e$m$+$iGA$/$s$@$1$I!";DG0$J$,$i:#F|$O8+$l$J$+$C$?$h!A$A$'$C!J!d!c!K:=CO$C$F!"0l8+2?$K$b5o$J$$$h$&$J5$$,$9$k$1$I!)$3$l$,$^$??'!91#$l$F$?$j$9$k$N$h$M$'!A!!:#F|$O!"JQ$o$C$?%&%_%&%7$,#4I$$K%b%s%@%k%^%+%l%$(Jyg$B!"%+%V%HCn$_$?$$$J!)%X%s%F%3$J%+%K$H!%!%!%$=$7$F!*$a$C$A$c>.$5$$9u$$%$%6%j%&%*$N@V$A$c$s!*!*(J 
          $B>.;X$ND^$/$i$$$NBg$-$5$G!J!w!w!KD6!A!A!A%i%V%j!<"v5nG/$b!"$A$S%$%6%j$O$3$N;~4|$@$C$?$+$i!JG/2l>u$K$7$?%d%D$b!*!K5o$J$$$+$J$!!A$HC5$7$F$?$i!"%2%9%H$N%&%_%&%79%$-$N#H@n$5$s$,8+$D$1$F$/$l$^$7$?!*$"$j$,$H$)!A!A!J!0(J0$B!0!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/9/5($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9@>(J</B><BR>
          <BR>
          $BBfIw(J13$B9f$NA0$KF~$C$?;~$K!"$:!<$C$H%^%s%?$,=P$C$Q$J$7$@$C$?$N$G!":#F|$b$b$7$+$7$?$i!%!%!%!)!J$$$d$$$d!"$+$J$jM=46$O$"$C$?$N$h!*!)!K%(%s%H%j!<$7$F$9$0$K!"%?%1$N9g?^!#$3$l$O!*$C$H;W$C$?$i!"%^%@%i%H%S%(%$$,EP>l!*=i$a$O1s!<$/$K$$$?$N$G!"$J$+$J$+3'5$IU$$$F$/$l$J$+$C$?$s$@$1$I!"$@$s$@$s6a$E$$$FMh$F$/$l$?$N$G!"$"$N%$%k%+$N$h$&$J4i!)$bGXCf$NGr$$E@!9$b$O$C$-$j$o$+$C$?$h$s"v$=$l$+$i>/$77P$C$F!"M=46E*Cf!)%^%s%?EP>l!*!J!0!0!K(J 
          $B%+%9%_%A%g%&%A%g%&%&%*$d%O%J%4%$$N72$l$H0l=o$K!":,$N>e$G$f!<$C$/$j$H%[%P!<%j%s%0!#F)L@EY$bNI$+$C$?$7!"$9$C$4$/M%2m$Ge:No!*B>$NA%$b$J$+$C$?$N$GB_$7$-$j>uBV$@$7!*!J!0!0!K%[%s%=%a$K%/%j!<%K%s%0$5$l$?$j!"8}$r3+$1$F1B!J%W%i%s%/%H%s!K$r?)$Y$?$j!*A4A3F($2$k$3$H$J$/!"$:!<$C$H5o$F$/$l$?$h!A!J!0(J0$B!0!K:G8e$O!"%^%s%?$NJ}$+$i4s$C$FMh$F!V%3%s%K%A%o!*!W$C$F!)F,%S%l$GIo$G$i$l$F$7$^$&$+$J!)$C$F;W$&$0$i$$Bg@\6a!*!J!w!w!K3'!"Bg6=J3$N#1;~4V$@$C$?$h!A$s"v!J!0!0!K(J<BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BBgJ)%5%s%4(J</B><BR>
          <BR>
          $B:G6a$O!"0lF|$K0lEY$O%9%3!<%k$N$h$&$J1+$,9_$C$F$k$N$G!"$A$g$C$HF)L@EY$,0-$$>l=j$b$"$k$s$@$1$I!"$3$3$O$^$:$^$9$G$7$?!#L>A0$NDL(J
          $B$jBgJ)$N$h$&$J!)5pBg$J%3%b%s%7%3%m%5%s%4$K!"%"%+%M%O%J%4%$$H%-%s%.%g%O%J%@%$$,2V?a@c$N$h$&$KIq$C$F$F!"$=$l$O$=$l$Oe:No$G$*5'$j$9$k$H$4Mx1W$,$"$j$=$&$J46$8!)!J!0!0!(!K%5%s%4$=$C$/$j$J%$%=%.%s%A%c%/$K$O!"%K%;%"%+%[%7%+%/%l%(%S$,$F$s$3@9$j$@$7!"B&$G$O%$%=%.%s%A%c%/%b%(%S$,B7$C$F!"$7$C$]%U%j%U%j"v$7$F$F2D0&$$!A$h$s!J!0!0!K$=$&$=$&!"%*%i%&!<%?%s%/%i%V$b$A$c$s$H5o$^$7$?!*(J<BR>
        </P>
        <P> <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B:#!"2-FlK\Eg<~JU$O?tG/A0$N%5%s%4$NGr2=8=>]$d8=:_$O%*%K%R%H%G$K$h$k?)32$G!"%5%s%4$O2uLGE*$N$h$&$G$9!J!d!c!K$G$b@>I=$O9,$$$J$3$H$K!"$^$@$^$@%5%s%4$,855$$G$9!*!J!0(J0$B!0!K$3$3$O!"$?$V$s@>I=$G$b#5K\$N;X$KF~$k$/$i$$!"%5%s%4$Ne:No$J%]%$%s%H!*@u$$=j$O%F!<%V%k%5%s%4$d;^%5%s%4$,$S$C$7$j!*!J!v!v!K%G%P%9%:%a%@%$$d%"%*%P%9%:%a%@%$!"%m%/%;%s%9%:%a%@%$$K%"%+%M%O%J%4%$!"$=$7$F%0%k%/%s$J$I$N72$l!*72$l!*72$l!*$$$D$^$G$b%\!<!<!<$C$HI:$C$F$$$?$/$J$k$h$)!A"v$3$N;~4|$O!"%G%P%9%:%a%@%$$d%"%*%P%9%:%a%@%$C#$,!";:Mq9TF0$7$K%,%l>l$K9_$j$FMh$F$O?HBN$r%9%j%9%j$7$F$k$h!#%R%l$,2+?'$C$]$/$J$C$F$?$j!"?HBN$,$^$@$iLOMM$K$J$C$F$?$j$G:'0y?'$K$J$C$F$k$N$b$9$0$o$+$k$7!*$_$s$J$b$8$C$/$j4Q;!$7$F$_$F$M"v!J!0!0!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/8/27($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l;~!91+!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg%N?@Eg!!F67"%]%$%s%H(J</B><BR>
          <BR>
          $B$9$4!<$/E75$$bNI$/$F3$$b%Y%?Fd$@$C$?$N$G!"%*%,%s$X9T$C$A$c$$$^$7$?!*(J 
          $B:#F|$O5W!9$K!"F67"%]%$%s%H$X!#@h$K#1g[Gq$C$F$?$N$G!"$A$g$C$HBT$C$F$+$i%(%s%H%j!<!#$@$C$F!"F67"$N=P8}$K?M$,Bt;3$$$?$i%$%d$@$b$s$M$'!J!0!0!(!K$3$3$N=P8}$O@Z$j<h$C$?$_$?$$$K;M3Q$/H4$1$F$F!"2?$+0lKg$N3($_$?$$$G%+%C%3%$%$$N$h$)"v$=$7$F!"$=$3$rH4$1$k$H0lKgHD$N$h$&$JBg$-$J@P>v$,9-$,$C$F$FBg$-$J4d$b%\%3%\%3$"$C$F!"$[$s$HJL(J
          $B@$3&$N$h$&$J46$8!*:#F|$O!"%&%a%$%m%b%I%-$N72$l$K$b0O$^$l$F!V$"!A!A!A9,$;$C"v!W!J!0!0!K(J<BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg%N?@Eg!!@>$N%9%]%C%H(J</B><BR>
          <BR>
          $B%(%s%H%j!<D>A0$+$i!"$K$o$+$K1@9T$-$,!%!%!%$(!<!<!<$s!J!d!c!K$3$3$O!":=CO$KB@M[$N8w$,%-%i%-%i$7$F$k$N$,NI$$$N$K!*$G$b!"$^$:$O:=CO$rGg$C$F!)%H%S%.%s%]C5$7"v$3$l$,$J$+$J$+Fq$7$$$N$h$M$'!A!!<+J,$G$O8+$D$1$l$F$b!"$_$s$J$K8+$;$k$N$,0l6lO+!*L\$rN%$9$H2?=h$K5o$k$N$+!"$o$+$i$J$/$J$k$7!)%3%3$C$F;X$9$H!"%T%e%s$C$FF($2$k$7!%!%!%!J!0!0!(!K0l?M$GA\$;$?$i!"$"$J$?$b>e5i<T!*!):Y$$DL(J
          $BO)$rH4$1$F1|$N:=CO$K=P$k$H!"$A$g$&$IB@M[$,=P$F$-$F8w$,%-%i%-%i$7$F!"$9$C$4$/e:No$@$C$?$h!A$s!*$d$C$Q$j!"$3!<$G$J$/$C$A$c!*!J!0!0!K$=$&$=$&!"%b%s%D%-%+%(%k%&%*$,7j$K1#$l$F$?$s$@$1$I!"6a$E$/$H7j$NCf$G<s$r?6$C$F!"$&$s$&$spw$$$F$k$_$?$$!)$a$C$A$c2D0&$+$C$?$!!A"v!J!0(J0$B!0!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/7/21($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J33$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%H%+%-%sA>:,(J</B><BR>
          <BR>
          $B%(%s%H%j!<$9$k$H!"$^$C$?$/L5$$$N$G$A$g$C$H%$%d!A$J46$8!)2sM75{A@$$$@$H!"$d$C$Q$j>/$7$/$i$$N.$l$,$J$$$H$M$'!#%0%k%/%s$b=8$^$j$O%$%^%$%A$@$7!J!d!c!K$G$b!"$3$3$b%5%s%4$O$H$C$F$be:No!*%+%9%_%A%g%&%A%g%&%&%*$d%O%J%4%$$OBt;3$$$k$7!"DA$7$$%"%G%d%C%3$b$$$?$h$s!*!J$9$0$KF($2$i$l$F$7$^$C$?!%!%!%!KLL(J
          $BGr$+$C$?$N$O!"%o%K$=$C$/$j$N%(%s%^%4%A!##7#0(Jcm$B$/$i$$$O$"$C$?$h!J!w!w!KIaDL(J
          $B$O%5%s%4$N>e$d%,%l>l$G$o$+$j$K$/$$=j$K$$$k$s$@$1$I!":#F|$O2+NP?'$N%=%U%H%3!<%i%k$N>e$K!"$G!A!A$s$H$$$?$N$G$b$m%P%l!J!0!0!(!K%;%@%+%.%s%]$N;:$_$?$F$NMq$O!"2+?'$G>.$5$J%D%V%D%V$@$C$?$h!J!0!0!K:G8e$N:G8e$K!"$d$C$HN.$l$,=P$F$-$F!"%0%k%/%s$N72$l$H%$%=%^%0%m#4!A#5I$$H%m%&%K%s%"%8$,EP>l$7$?$h$s"v!J!0(J0$B!0!K(J<BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BA%1:6d2O(J</B><BR>
          <BR>
          $BE%:=7O%j%/%(%9%H$K$*Ez$($7$F!"%.%s%,%O%<%Q%i%@%$%9$X!#:G6a$O!"%.%s%,%O%<$N@V$A$c$s$bBt;3$K$J$C$F$-$F$F!":#F|$O2+?'%P!<%8%g%s$N#5(Jmm$B$/$i$$$ND6!A%A%S$A$c$s$,$$$?$h!J!w!w!K2+?'$N%3$H%0%l!<$N%3$N%Z%"$b2?%1=j$+$$$?$h!A!*%H%&%"%+%/%^%N%_$N<~$j$K$O!"%_%d%3%$%7%b%A$,$?$C$/$5$s!*8}FbJ]0iCf$N8}$NCf$r$8$C$HGA$$$F$_$k$H!"Mq$,6d?'!JL\$,IU$$$F$k!K$K$J$C$F$k$N$,$o$+$C$?$h!#$=$7$F$=$7$F!":#F|$N%$%A2!$77/$O!*%A%g%&%A%g%&%3%7%g%&%@%$$N#1(Jcm$B$/$i$$$ND6!A!A!A%A%S$A$c$s!J!v!v!K%7%C%]$,!"$A$.$l$=$&$J$/$i$$%U%j%U%j$7$F$F!"$a$C$A$c%i%V%j!<"v$@$C$?$h$)!A$s!J!0(J0$B!0!K$?$@!"4Q$k$V$s$K$O%i%V%j!<"v$G$b!"%+%a%i5c$+$;$NF0$-$G$O$"$k$s$@$1$I$M!%!%!%!J!0!0!(!K(J<BR>
        </P>
        <P> <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B$3$3$O!"%j%/%(%9%H$NB?$$%]%$%s%H$J$s$@$1$I!"Kh2s$H$C$F$b3Z$7$$$h$M$C!*:#!"%"%$%I%k$NL>$rM_$7$$$^$^$K!)$7$F$k$N$O%/%^%I%j%$%6%j%&%*7/!#DA$7$$?'$G!"9uCO$K%*%l%s%8$N?e6L(J
          $BLOMM$J$N$h!A!J!w!w!K!J%?%1$N%Z!<%8$KF02h$G7G:\Cf!*!K$G$b!"$3$N%3$C$F$P$a$C$A$cF0$-2s$k$N$h$M$'!A!#$"$N@u$$=j$N:,$N>e$r$"$C$A$3$C$A!#:#F|$O!"$^$?Jb$$$F$k!)$J$!!A$H;W$C$?$i!"%W!A!A!A$C$HHt$s$@$h!J!v!v!K2D0&$+$C$?$!!A"v$"$H:#F|$O!"85%"%$%I%k!)$N!"$A$g$C$H$-$A$c$J$$!J$+$o$$$=$)!<!K%&%k%^%$%6%j7/!"5W!9$KEP>l!*$J$s$+$^$?%G%V$K$J$C$?$_$?$$!*!)$W$W$C!J!0!0!(!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/7/11($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg%N?@EgEl$N:,(J</B><BR>
        <BR>
        $B5W!9$K$d$C$FMh$^$7$?$!!A!*BfIw#69f$N$"$H!"%+!<%A%P%$!J6/$$FnIw!K$,6/$/$F$:!<$C$HMh$l$J$+$C$?$b$s$M$'!A!J!d!c!K$G$bE~Ce$7$?$i!"$A$g$&$ID,$,;_$^$C$F$7$^$C$F!%!%!%;DG0$J$,$i%$%=%^%0%m$NBg73$K$O=P2q$($J$+$C$?$1$I!"%,%s%,%s$KN.$l$F$k$H%&%m%&%m=PMh$J$$$+$i!"$=$NJ,:#2s$O$?$C$W$jCO7A$b4.G==PMh$F!"$=$l$O$=$l$G#O#K$G$7$g$&!*!J!0!0!K%(%s%H%j!<$7$?=V4V$N$"$N%V%k!<$N@$3&$H!"9bAX%S%k$,D@$s$G$k$_$?$$$JCO7A$O$d$C$Q$j$$$$$h$M$'!A!J!0(J0$B!0!K%+%9%_%"%8$d%J%]%l%*%s$O2?EY$b9T$C$?$jMh$?$j$7$F$/$l$?$7!"%0%k%/%s$bBt;3$$$?$7"vBg$-$J%"%+%^%@%i%O%?$d%1%7%g%&%U%0$b$$$?$7$M!*(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg%N?@Eg@>$N%9%]%C%H(J</B><BR>
        <BR>
        $BB@M[$N8w$,:=CO$K%-%i%-%i$7$F!"<+J,$N1F$b$/$C$-$j<L$C$F$H$C$F$be:No$J$s$@$1$I!%!%!%%(%s%H%j!<$7$?$H$?$s!"$_$s$J:=CO$rGg$$$D$/$P$C$F!"%H%S%.%s%]C5$7!*$3$l$,$^$?:=$K$=$C$/$j$J$N$G!"8+$D$1$k$N$O$J$+$J$+Fq$7$$$N$@!*!J!w!w!K$G$b:=$+$iL\$@$1%-%g%m%-%g%m=P$7$F$F!"$1$C$3$&2D0&$$$s$@$h"v:=$K1#$l$k$H$$$($P!"%F%s%9$N@V$A$c$s$b2D0&$+$C$?$J!#@x$C$F$k:=$4$H<j$G$9$/$&$H!"<j$NCf$+$i%R%g%m%R%g%m=P$F$/$k$s$@$h!A!J!0!0!KDA$7$$%F%s%0%X%S%.%s%]!JI!@h$,%D%s$H=P$F$k!K$d$^$@?^4U$K:\$C$F$J$$e:No$J%a%.%9$NCg4V#2<oN`$b$$$?$7!"%*%S%F%s%9%b%I%-(Jyg$B$d%+%s%`%j%Y%i(Jyg$BEy!9!"%A%SC#$bBt;3$$$?$h!A$s"v(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/7/9($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J31$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B@P:j%^%s%?%9%/%i%s%V%k(J</B><BR>
        <BR>
        $B:rF|$O!"</%N@n$K9T$C$?$s$@$1$I;DG0$J$,$i%^%s%?$O8=$o$l$:!%!%!%!J!d!c!K:#F|$O%^%s%?7/%j%Y%s%8$G!"@P:j$^$G9T$C$C$A$c$$$^$7$?!#%^%s%?7/$O!"$P$C$A$j8+$l$?$s$@$1$I!"%^%s%?%9%/%i%s%V%k$H$$$&$h$j%@%$%P!<%9%/%i%s%V%k!)$C$F$/$i$$!"?eCf$O?M$@$i$1!*!J!w!w!K$_$s$J$NEG$/%(%"!<$,!"$^$k$G$*Er$,J(F-$7$F$k$+$N$4$H$/$G!"%\%3%\%329@t$_$?$$$@$C$?$h!A!J!v!v!K$b$&$A$g$C$HFnIw$,$*$5$^$C$F</%N@n$K%^%s%?$,=P$@$9$H!"$N!A$s$S$j8+$l$F$$$$$s$@$1$I$J$!!A!J!0(J0$B!0!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9@>(J</B><BR>
        <BR>
        $BJLL>!X%+%9%_$N:,!Y$C$F$/$i$$!"%+%9%_%A%g%&%A%g%&%&%*$,72$l$F$F!"2-Fl$G$O%0%k%/%s$C$F$^$H$a$F8F$P$l$A$c$&$1$I!J!0!0!(!K%/%^%5%5%O%J%`%m$d%?%+%5%4$b$$$C$Q$$$$$F!"$A$g$C$H2<$NJ}$K$O%N%3%.%j%@%$$b$?$/$5$s72$l$F$k!*%O%J%4%$$d%"%+%M%O%J%4%$$be:No$G!"$\!<$C$HI:$C$F$k$@$1$G$bL~$5$l$k$N$h$M$'!A!J!0!0!K$A$g$C$HDA$7$$%A%g%&%A%g%&%&%*$N%O%/%F%s%+%?%.$d$H$C$F$bDA$7$$%"%G%d%C%3!J$3$3$K$O=;$_Ce$$$F$k!K$J$s$+$b$$$?$h$s"v$A$g$C$H2<$NJ}$G!"5{C#$,2?$d$i=8$^$C$F$k$N$G9T$C$F$_$k$H!"%(%s%^%4%A$,%b%S%s%0!J30E($,Mh$?$3$H$r>.5{C#$,=8$^$C$F65$($k$3$H!K$5$l$F$?$h!*!J!w!w!K6a$/$G8+$k$H%[%s%H!"%o%K$=$C$/$j$GLL(J
        $BGr$$4i$7$F$k$s$@$h$)!A!#%^%D%2$_$?$$$N!)%S%m%S%m!A$C$F$7$F$k$7!*4i$,$/$C$D$/$/$i$$6a$E$$$F8+$k$3$H$r!"@'Hs$*4+$a$9$k$o$C!*!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/7/4($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J26$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B=.Ib!!9u??<nA0(J</B><BR>
        <BR>
        $B$3$3$N$H$3$m!"%+!<%A%P%$!JG_1+L@$1$N;~$K?a$/6/$$FnIw!K$KAK$^$l$F!"Eg$NKLB&$+$i$J$+$J$+C&=P=PMh$J$+$C$?$s$@$1$I!":#F|$O5W!9$K@>B&$K9T$C$FMh$^$7$?!*$=$m$=$m!"$A$S%^%s%8%e%&C#$,%&%_%7%g%&%V$NNS$NCf$K5o$k:"$@$m$&$H!"%o%/%o%/$7$J$,$iC5$7$F$_$k$H!%!%!%5o$^$7$?!*D6!A$A$S$A$S%^%s%8%e%&C#$,$$$C$Q$$"v$&$U$U!J!0!0!K$3$N;~4|$@$1$J$N$h$M$'!A%&%_%7%g%&%V$NCf$K1#$l$F$k$N$C$F!*>/$7Bg$-$/$J$k$H!"%5%s%4$K1#$l$k$h$&$K$J$C$F$7$^$&$N$G!"0\F0$7$A$c$&$N$h!J!d!c!K$J$s$+!"Ap86$NCf$KI:$C$F$k$C$F46$8$G!"$"$?$7E*$K$O$9$C$4$/9%$-$J$N$h$M$'!A!J!0!0!K$3$3$O%F%s%8%/%@%$7O$,$?$/$5$s5o$F!"$3$N;~4|8}FbJ]0i$r$h$/$7$F$k$h!#8}$NCf$NMq$r4Q;!$70W$$$N$O!"%M%*%s%F%s%8%/%@%$!#$[$C$Z$,F)$1$F$k$+$i$M$C!J!w!w!K$[$C$Z$,%T%s%/$N;~$OMq$r$/$o$($?$F$G!"6d?'$N;~$OMq$KL\$,IU$$$F$-$F$F!"$=$m$=$m%O%C%A%"%&%H!*:#EY!"6a$/$G$8$C$/$j4Q;!$7$F$_$F$M!J!0(J0$B!0!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
        <BR>
        $B$3$NA0$NBfIw#69f$,D>7b$@$C$?$N$G!"$3$3$N%5%s%4$,$A$g$C$H?4G[$@$C$?$s$@$1$I!"Bg>fIW$@$C$?$h!*!J!0!0!K$"!A$h$+$C$?"v$3$3$N$O!"@E$+$JF|K\Dm1`Iw$J%5%s%4$N?9$C$F46$8$G!"$"$?$7$O7k9=$*5$$KF~$j!*:#F|$b!"$H$C$F$b%S%e!<%F%#%U%k$G$7$?$h!A$s!J!0(J0$B!0!K%5%m%s%Q%97/$O!J%9%_%l%J%,%O%J%@%$!KAjJQ$o$i$:?HBN$r%V%k%V%k?L$o$;$J$,$i!"%a%9$K%"%?%C%/$7$F$?$7!"@u$$$H$3$N%f%S%(%@%O%^%5%s%4$K$O!"%N%3%.%j%@%$$d%O%J%4%$!"%"%+%M%O%J%4%$$,72$l$F$FB@M[$N8w$b%-%i%-%iF~$C$F!"$H$C$F$be:No$@$C$?$7$M$'!A"v%,%l>l$K$O!"%3%-%3%-1K$.$N!)%;%8%m%N%I%0%m%Y%i(Jyg$B$d%D%f%Y%i(Jyg$B$b5o$?$h$)!A!J!0!0!K(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$B$$$=$m$/(J</B><BR>
        <BR>
        $B$3$N5(@a$O!"2?=h$K9T$C$F$b2D0&$$%A%S$A$c$sC#$,$$$C$Q$$$G$9!*!J!0!0!K%G%P%9%:%a%@%$$N$A$SC#$b!">.$5$J%F!<%V%k%5%s%4$r=P$?$jF~$C$?$j!#%$%s%I%+%(%k%&%*(Jyg$B!J2+!K$bC5$9$H7k9=$$$k$h!#L\$,%0%j!<%s$G8}$,%`%K%e!)$C$F46$8$G!"$a$A$c2D0&$$$s$@$1$I!%!%!%$h!<$/8+$k$H$*$J$+$NJU$j$N124,$-!)$,$A$g$C$H%0%m%F%9%/$+$b!)!J!0!0!(!K$=$&$=$&!":#F|$O%X%3%"%f$,(J30$BI$$/$i$$$N%0%k!<%W$H(J50$BI$$/$i$$$N%0%k!<%W$,5o$F!"(J2$B$D$,$9$0B&$rDL(J
        $B$C$?$j$7$?$s$@$1$I#1$D$K$O$J$i$J$+$C$?$h!#$A$'$C!J!d!c!K%X%3%"%f$C$F!"IaCJ$O5UN)$A$G$U$o$U$o1K$$$G$k$s$@$1$I!"$$$6$C$F;~$OIaDL(J
        $B$K2#$K$J$C$F!"%T%e!<!<!<$C$F!J!w!w!KF($2B-$OAa$$$s$@$o!*$*$b$7$m$$$h$)!A!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2003/5/19($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!?@2$l!!5$29(J30$B!n!!?e29(J26$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B=.Ib(J</B><BR>
        <BR>
        $B9u??<nA0(J $B%^%s%8%e%&%$%7%b%A$N%j%/%(%9%H$@$C$?$N$G!"Bg1+$N8e$J$N$GBy$C$F$k$+$J$!!A!)$H?4G[$7$?$1$I!";W$$$N$[$+?e$Oe:No$@$C$?$h!*!J$3$3$N3d$K$O!%!%!%!K$=$m$=$m@u@%$N%&%_%7%g%&%V$NNS$NCf$K!"%$%A%4%Q%s%DMz$$$F$J$$!)$A$S$A$S%^%s%8%e%&$,$$$k$+$b!*!)$H;W$C$?$1$I!"$^$@$A$g$C$HAa$+$C$?$_$?$$!%!%!%$A$'$C!J!d!c!K$b$A$m$sCf$/$i$$!ABg?M$N%^%s%8%e%&$OBt;3$$$?$h!#%M%*%s%F%s%8%/%@%$$O8}FbJ]0iCf$N%3$b$$$F!"$/$o$($F$kMq$N@.D96q9g$GKD$i$s$G$k%[%C%Z%?$N?'$,0c$&$+$i$h!<$/4Q;!$7$F$_$F$M!#%[%C%Z%?$,%T%s%/?'$@$H$/$o$($?$F$G!"6d?'$@$H6a!9%O%C%A%"%&%H$@$h!*%X%3%"%f$d%?%$%o%s%+%^%9$N72$l$b$$$?$h!A!J!0!0!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BFbN%$lFn(J</B><BR>
        <BR>
        $B$3$3$O:#!X%8%g!<%U%#%C%7%eCDCO!Y!)$C$F$/$i$$!"$"$C$A$K$b$3$C$A$K$b!*!J!w!w!KA4It$G#5I$!*!*2+?'$N%3$KCc?'$N%3!"$G$b:#F|$O3'$A$g$C$H%7%c%$$@$C$?$1$I!%!%!%!J!d!c!K$"$H$3$3$ODL(J
        $B>o!"?<>l$K$$$kDA$7$$%Y%i$r#1#0(Jm$B!A#2#0(Jm$B$NHf3SE*@u$$=j$G8+$k$3$H$,=PMh$k%]%$%s%H$N0l$D"v:#F|$O!"%/%8%c%/%Y%i$NM:$,%R%l$r9-$2$F;s$K%G%#%9%W%l%$$7$F$Fe:No$@$C$?$h!#$G$bF0$-$OAa$$$7B>$N%Y%iC#$K:.$8$C$F$k$7$G!"$_$s$J$K65$($k$N$O$R$H6lO+$C$9!J!d!c!K$=$&$=$&!"%*%0%m%Y%i$b$$$?$h$s"v(J<BR>
        <BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
        <BR>
        $B:#F|$O!"$J$s$H8@$C$F$bD6!A%U%l%s%I%j!<$J!)%+%a7/$,!"0lHV$N%R%C%H$+$J!)!J!0!0!KM<J}$@$C$?$+$i$b$&?2$h$&$H;W$C$F$?$N$+!)<+J,$h$j>.$5$$7j$NCf$K!"0l@87|L?F~$m$&$H$7$F!XF,1#$7$F?,1#$5$:!Y$N>uBV$G5o$?$h!J!d!c!K$G$b!"$"$?$7C#$K5$IU$$$F$bA4A3F0$8$:!)$5$i$K<+J,$G7j7!$C$FCf$KF~$m$&$H$7$?$j$7$F!*D6!A!A!A2D0&$+$C$?$h$s"v%?%1$N%S%G%*$,5$$KF~$C$?$N$+!)<+J,$+$i%S%G%*$N%l%s%:$K$/$C$D$/$0$i$$B&$^$G4s$C$F$-$F!"5U$K%?%1$NJ}$,8e$:$5$j$7$?$j$7$F!">P$($?!*!J!0!0!(!K$"$H$O!"#2=54VA0$K8+$D$1$?DA$7$$LOMM$N%$%6%j7/!J$?$V$s%/%^%I%j%$%6%j%&%*$N;R6!!K$,!":#F|$b$^$@5o$?!*%\%G%#!<$O9u$G%*%l%s%8$N?e6L(J
        $BLOMM!"?e?'$G1o<h$j$5$l$F$F!"$a$C$A$c%i%V%j!<"v$G$b!"8+$D$1$?;~$O#3(Jcm$B0L(J
        $B$@$C$?$N$K$b$&#5(Jcm$B0L$K$J$C$F$F!"$A$g$C$H%S%C%/%j!J!w!w!K$7$P$i$/5oCe$$$F$/$l$k$H$$$$$s$@$1$I$J$!!A!*$3$N%+%a$H%$%6%j7/$N1GA|$O!"6a!9!V%?%1$N%Z!<%8!W$K%"%C%W$9$kM=Dj$G!A$9"v8p$&8f4|BT!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> <FONT size="5"><B>2003/5/18($BF|(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j;~!91+!!5$29(J28$B!n!!?e29(J26$B!n(J</B></FONT> 
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BH74VFnEl(J</B><BR>
          <BR>
          $B$3$3$O!"$?$^!A$K$7$+F~$i$J$$%]%$%s%H!*!)Bg$-$J%&%A%o%R%i%d%.$,NS$N$h$&$K72@8$7$F$$$F!"054,!*!J!v!v!K$J$s$@$1$I!"%&%A%o$,72@8$7$F$$$k$C$F$3$H$O!%!%!%N.$l$,$"$k$3$H$,B?$/!"J?6Q?e?<$b$d$d?<$a$J$N$G!"Cf5i!A>e5i<T8~$-$C$F$3$H$J$N$G$9!#%+%i%U%k$J5{$H%5%s%4$Ne:No$J=j$,B?$$@>I=$G$9$,!"$3$3$OJ70O5$$,0c$C$F$A$g$C$H?@HkE*!#%&%A%o$NNS$N>e$r$U$o$U$oHt$V$b$h$7!"2<$+$i%&%A%o$N72@8$r8+>e$2$k$b$h$7!%!%!%$?$@:#F|$OF^$C$F$FF|<M$7$,:9$79~$s$G$J$+$C$?$N$,$A$g$C$H;DG0$@$C$?$s$@$1$I$M$'!J!d!c!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B$*2VH*(J</B><BR>
          <BR>
          $B#1K\L\$H$O$&$C$FJQ$o$C$F!";^%5%s%4$N72@8$K%+%i%U%k$J5{C#$,$?$C$/$5$s$G!"$^$5$7$/!X$*2VH*"v!Y$C$F46$8$N!"D6!AL~$77O$N%]%$%s%H!*$?$@$7!";^%5%s%4$,$"$^$j$K$b$S$C$7$j$J$N$G!"<L(J
          $B??$r;#$k$N$K$O3'$A$g$C$H6lO+$7$F$k$h!#$@$C$F!"<j$r$D$/$H$3$m$,$J$$$+$i$M$'!J!0!0!(!K:#F|$ODA$7$/0l<~%3!<%9!*A0H>$O?'$H$j$I$j$N%+%i%U%k%5%s%4$G!"8eH>$O$A$g$C$HFbOQ7O$NA!:Y$J46$8$N%5%s%4$N72@8$G!"0lN3$GFsEYH~L#$7$$$C$F46$8!)!J!0!0!K$3$N;~4|$O!"?'$s$J5{C#$N;:Mq9TF0$,8+$i$l$k$1$I!"$3$3$G$O%G%P%9%:%a%@%$$,%,%l>l$K=8CD$G;:Mq$7$F$?$h!#IaCJ$O?HBN$N?'$O?e?'$d2+NP?'$K8+$($k$s$@$1$I!"6=J3$7$F$k$H?HBN$O2+?'$]$/%R%l$N1o$O9u$/$J$C$F$F!":#F|$O=8CDMp8r%Q!<%F%#>uBV!)!)!)$@$C$?$h$)!A!J!w!w!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34" alt="3Dive" border="0">$B!!(J</FONT>$B%P%i%9Fn(J</B><BR>
          <BR>
          $B0l:rF|$,K~7n$@$C$?$N$G!"%5%s%4$N;:Mq$,8+$i$l$k$+$b!)$H!"$^$@40A4$K??$C0E$K$O$J$C$F$J$+$C$?$s$@$1$I!"4|BT$7$F%(%s%H%j!<!#F~$C$F$+$i#1#0J,$b$7$J$$$&$A$K!"%5%s%4$N;:Mq!J%^%k%O%J%,%?%5%s%4!K$,!"$A$g$C$H$@$1$@$C$?$1$I8+$l$?$h!A!J!0!0!K>.$5$J4]$$%D%V%D%V$,%]%D%]%D=P$F$-$?$J$!!A$H;W$C$?$i!"%V%o$C$H=P$F!J!v!v!K;~4V$K$9$l$P$[$s$N0l=V$J$s$@$1$I!%!%!%%5%s%4$b@8$-$F$k$s$@$J$!!A$H;W$o$5$l$k=V4V$@$h$M$'!J!0!0!K$b$A$m$s!"5{$b$?$/$5$s5o$?$h!*%V%@%$$OKlD%$C$F?2$F$?$7!"%A%g%&%A%g%&%&%*$OLk$N?'$KJQ?H$7$F$?$7!*>.;X$ND^$/$i$$$N%_%_%$%+7/$O!"D6!A2D0&$+$C$?$C$9"vF^$C$F$J$1$l$P!"%(%-%8%C%H$7$?;~$KBg$-$J4]$$7n$,e:No$JM=Dj$@$C$?$N$K$J$!!A;DG0!J!d!c!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/5/2($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!!5$29(J27$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B:j;3%"%6%_%5%s%4(J</B><BR>
        <BR>
        $B$3$N;~4|!":j;3J}LL$O%"%87O$d%$%=%^%0%m$J$I$N2sM75{$,;:Mq$N0Y$+!"72$l$F$$$k$N$r$h$/8+$+$1$k$h!#:#F|$b%J%s%h%&%+%$%o%j$N%Z%"$,(J10$BAH$/$i$$72$l$F$?$s$@$1$I!"%Z%"$O9u$C$]$$$N$HGr$C$]$$$N$NAH$_9g$o$;$K$J$C$F$k$s$@$h!J!w!w!K:'0y?'$@$H;W$&$s$@$1$ILL(J
        $BGr$$$h$M$'!A!*%$%=%^%0%m$O(J5$BI$$/$i$$1K$$$G$?$1$I!"0lHVBg$-$+$C$?%3$O$*J"$bBg$-$+$C$?$+$i;s$J$N$+$J$!!)(J 
        $B$=$&$=$&!"$3$3$K$OE\$j$s$\$N%/%^%N%_$,$$$k$s$@$1$I!":#F|$OMq$,$"$C$?$+$i$+FC$KE\$C$F$?!*$G$b6a$/$K$$$?#S$5$s$O!"E\$i$l$F$k$H$O$D$fCN$i$:!J!d!c!K$H$C$F$b%U%l%s%I%j!<$J%/%^%N%_$H;W$C$F$?$_$?$$$@$1$I$M!*!J!0!0!(!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B</%N@nCf$N@%(J</B><BR>
        <BR>
        $B%^%s%?$N%j%/%(%9%H$b$"$C$?$N$G!"9T$C$F$-$^$7$?!*$@$1$I!%!%!%:#G/$KF~$C$F!"=i$a$F%O%:%l$@$C$?$h$)!A!A!A;DG0!*!J!d!c!K$G$b!"$*$G$3$N%3%V!)$b$7$C$+$j=P$F$kBg$-$J%J%]%l%*%s$d!"$*$G$3$K%D%N!)$,@8$($F$k%R%a%F%s%0%O%.$N72$l!"$=$l$K%&%a%$%m%b%I%-$N72$l$d%*%J%,%(%$$K%&%_%,%a$b$$$F!"$+$J$j@9$jBt;3$@$C$?$h$)!A!A!A$s!J!0!0!K$3$3$O!"(J10$BG/DxA0$KBg$-$JBfIw$ND>7b$r<u$1$F!"@>I=0l$@$C$?%5%s%4$,A4LG$7$F$7$^$C$?$s$@$1$I!":#$O$^$@>.$5$$$1$l$I%F!<%V%k%5%s%4$J$I$b$$$C$Q$$0i$C$F$-$F$F!"$"$H(J2$B!A(J3$BG/$b$7$?$i%5%s%4$b40A4I|3h$C$F46$8$J$/$i$$!*?'!9$H3Z$7$_$J%]%$%s%H$N0l$D$G$9"v!J!0!0!K(J 
        $B$=$&$=$&!"%^%s%?$O5"$kESCf$K30N%$l$N2-$G?eLL$K%R%l$r=P$7$J$,$i1K$$$G$?$N$G!"%7%e%N!<%1%j%s%0$G$P$C$A$j8+$?$h!A!J!0(J0$B!0!K8}$rBg$-$/3+$1$F%W%i%s%/%H%s(J 
        $B$rJd?)$7$F$?$N$G!"$+$J$j@\6a$7$?;~$K$O$A$g$C$HI]$+$C$?$i$7$$$1$I!%!%!%!J!v!v!K$A$g$C$H5[$$9~$^$l$F$b$i$$$?$+$C$?$J$!!A$M$'!"#N$5$s!*!)!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/3/31($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!!5$29(J25$B!n!!?e29(J24$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
        <BR>
        $B:#F|$OD+F~$j$N%2%9%H$rBT$C$F!"$f$C$/$j$N=PH/!*$3$3$O!"%\!<%H$G#1#0J,$b$+$+$i$J$$$/$i$$6a$$$1$I!"@>I=$G$b#1!"#2$rAh$&$/$i$$%5%s%4$,e:No$J%]%$%s%H!*F|$,:9$7$F$k$H%5%s%4$N>e$,%-%i%-%i$7$F$H$C$F$be:No$J$s$@$1$I!"F^$C$F$?$N$,$A$g$C$H;DG0!%!%!%!J!d!c!K=i$a$K!]#2#0(Jm$B$N=j$N%*%*%$%=%P%J$r4Q$K9T$3$&$H@x$C$F$$$C$?$i!"$=$N$A$g$C$H2<$N:=CO$K2?$d$iBg$-$J1F$,!&!&!&!)2?$H!*(J2.5m$B$/$i$$$N%H%i%U%6%a$,%8%C$H$7$F$k$8$c$"$J$$$G$9$+!*!J!v!v!KF,$N>e$K%3%P%s%6%a$r$/$C$D$1$F!"?2$F$k$s!)$C$F$/$i$$!"6a$/$K4s$C$F$b$<!<$s$<$sF($2$J$C$+$C$?$h!A$s!J!0(J0$B!0!K%i%C%-!<"v%5%s%4$K1#$l$F$$$k%Q%s%@%@%k%^%O%<$OMq$r<i$C$F$?$s$@$1$I!"6a4s$C$F$h!<$C$/8+$k$HMq$K$O6d?'$NL\$,$D$$$F$F%O%C%A%"%&%H@#A0$C$F46$8$@$C$?!*#E#X#T4V:]$K$O!"Bg$-$J%+%a$b$$$-$J$jEP>l$G!"$7$+$b$3$C$A$K8~$+$C$F$/$k$7!*!J!w!w!K$3$3$b0U30$H2?$,=P$k$+$J!)%]%$%s%H$G!"$o$/$o$/3Z$7$$$h$s"v!J!0!0!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
        <BR>
        $B:#F|$N%H%&%"%+%/%^%N%_$O!"Mq$r;:$_$D$1$k0Y$N3-3L$r?F$,8}$G$;$C$;$HA]=|$7$F$?$h!#;s$N$*J"$O%Q%s%Q%s$KKD$i$s$G$$$?$+$i!"$b$&4V$b$J$/$4=P;:$C$F46$8!*6a$$%&%A$K@x$l$P!":#EY$O?F$,Mq$N@$OC$r$7$F$k$H$3$m$,8+$l$k$O$:$@$h$s"v$3$N;~4|$O$$$m$s$J5{C#$,;:Mq$N;~4|$G!"?F$,Mq$r<i$C$F$k$s$@$1$I!"@u$$=j$K$"$k:,$G$O%_%D%\%7%/%m%9%:%a%@%$$,Mq$r<i$C$F$k!#$3$N%3C#$O$+$J$j967bE*$G!"?M$,6a$E$$$F$b2L(J
        $B4:$K8~$+$C$FMh$F%S%C%/%j$7$?3P$($N$"$k?M$bB?$$$O$:!*!):#F|$O%?%3$,$3$N%3C#$K0l@F967b$5$l$F$?$h!*!J!w!w!K?'$r%0%k%0%kJQ$($J$,$iF($2$^$I$C$F$F!"$A$g$C$HLL(J
        $BGr$+$C$?$h!A!J!0!0!(!K%9%+%7%F%s%8%/%@%$$d%-%s%a%b%I%-$b$@$s$@$sA}$($F$-$F!"$^$?$3$N:,$rJ$$C$F$7$^$&$0$i$$$K$J$kF|$b6a$$!*!)3Z$7$_!A"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/3/26($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J25$B!n!!?e29(J23$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
        <BR>
        $B$*E75$$ONI$+$C$?$b$N$NElIw$,7k9=6/$+$C$?$N$G!":#F|$OEg$N@>B&$N%]%$%s%H$G@x$k$3$H$K!#$3$3$O!"!]#8(Jm$B$+$i%9%_%l%J%,%O%J%@%$$,8+$i$l!"$7$+$b?t$bBt;3$$$F!"$o$j$HG/Cf:'0y?'$,8+$i$l$k$H$$$&6C$-$N%]%$%s%H$J$N$h!J!w!w!K:#F|$bF,$dJ"%S%l$KLOMM$r=P$7$F$kM:$,!"?HBN$r%V%k%V%k$7$J$,$i;s$K%"%?%C%/$7$F$?$h$s"v$=$7$F!"$3$3$N$b$&0l$D$N8+=j$O!"2?$H$$$C$F$b%5%s%4$Ne:No$5!*$A$g$C$HFbOQE*$JA!:Y$J46$8$N%5%s%4$,<PLL(J
        $B0lLL$K$S$C$7$j!J!v!v!K$=$s$J$K%+%i%U%k$J%5%s%4$G$O$J$$$1$I!"$=$N>e$r1K$$$G$k$H!%!%!%@E$+$J?9$N>e$rHt$s$G$k$h$&$J46$8$,$7$F!"$"$?$7$O7k9=$*5$$KF~$j"v!J!0!0!K$=$&$=$&!"@u>l$N%5%s%4$N%,%l$K%3%V%7%a$,;:Mq$7$h$&$H$7$F$?$1$I!"$A$g$C$H7Y2|?4$N6/$$%3C#!JM:$O;s$r$*$$$F$H$C$H$HF($2$F$C$A$c$C$?$7!J!0!0!(!K$@$C$?$N$G!";:Mq%7!<%s$O8+$l$J$+$C$?$N$G;DG0!%!%!%!J!d!c!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B:j;3%"%6%_%5%s%4(J</B><BR>
        <BR>
        $B:#F|$O!"%*%d%S%C%A%c$NC+$O;:Mq$5$l$F$J$+$C$?!%!%!%;:$_$?$F$NMq$O;g?'$GJI0lLL(J
        $B;g?'$K$J$C$Fe:No$J$s$@$1$I$J$!!A;DG0!J!0!0!(!KN.$l$b5U$@$C$?$N$G%+%9%_%A%g%&%A%g%&%&%*$N=8$^$j$O%$%^%$%A$@$C$?$s$1$I!":#F|$N0lHV$O2?$H$$$C$F$b!X%7%F%s%d%C%3!Y$@$C$?$h$s!*2?$,$C$F!)$=$l$O!%!%!%#2I$$,%?%1$NEG$$$?%(%"!<$r%Q%/%Q%/?)$Y$K!)$/$k$N$h!*!J!v!v!KD6!A!A!A2D0&$+$C$?$h$)"vA0$K%[%[%9%8%?%k%_(Jyg$B$,!"F1$8$h$&$K%(%"!<$r?)$Y$K$-$?$3$H$O$"$C$?$1$I%7%F%s%d%C%3$O!"=i$a$F!*%?%1$,%P%V%k%j%s%0$NNX$/$0$j$KD)@o$5$;$h$&$H$7$F$?$1$I!"$5$9$,$KL5M}$@$C$?!J!0!0!(!K$"$?$7C#$N%(%"!<$K$bMh$FM_$7$/$F!"$=$P$GEG$/$s$@$1$I!"2?8N$+%?%1$N$K$7$+9T$+$J$$$s$@$h$M$'!%!%!%2?$G$@$m!)(J 
        $B$-$C$H!"2?$+HkL)$NL#$,$"$k$N$+$b!)!)!)!J!w!w!K@u>l$N%O%^%5%s%4$N<~$j$K$O!"?M5$$N%@%s%4%*%3%<$d%Q%s%@%@%k%^%O%<!"%+%9%j%U%5%+%5%4$J$I$$$k$N$G!"%5%s%4$NCf$rGA$-$O$8$a$k$H!%!%!%$"$C$H$$$&4V$K!"$^$?0l;~4V0J>e7P$C$F$7$^$C$?$h!%!%!%!J!d!c!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/3/3($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J26$B!n!!?e29(J23$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9KL(J</B><BR>
        <BR>
        $B#37n$KF~$j!":#%7!<%:%s$bK\3JE*$K;OF0$7;O$a$^$7$?$h$)!A!J!0!0!K(J<BR>
        $B$3$3$N$H$3$m!X2F!Y$N$h$&$JE75$$,B3$$$F$$$?$1$I!"$I$&$bM<J}$+$i$O0-$/$J$k$H$$$&$3$H$G!"%P%i%9KL$K9T$C$F$_$^$7$?!#>/$7N.$l$,(J<BR>
        $B$"$C$?$1$l$I!"%+%9%_%A%g%&%A%g%&%&%*$,72$l$F$k$[$&$K4hD%$C$F1K$$$G9T$/$H!%!%!%$A$g$C$H1sL\$@$C$?$1$I!X%^%s%?!Y7/!"5o$^$7$?$h$)"v=i$a$O!"%^%@%i%H%S%(%$$,%[%P!<%j%s%0$7$F$k$N$+!)$H;W$C$?$s$@$1$I!"$h!<$/8+$k$HF,%S%l!J8}$N2#$N%R%l!K$,$"$C$?$N$G!"92$F$F3'$K65$($k$H$9$%!<$C$H5n$C$F9T$C$F$7$^$C$?!%!%!%0&A[$J$7$N%3$@$C$?$N$G;DG0!J!d!c!K(J<BR>
        $B$b$A$m$s!"$$$D$bDL$j%-%s%.%g%O%J%@%$$d%"%+%M%O%J%4%$C#$O2V?a@c$N$h$&$G$H$C$F$be:No$@$C$?$h$)!A!J!0!0!K$d$C$Q$j3$$O$$$$$M$C!*!*(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
        <BR>
        $B@>I=$OHf3SE*0lG/Cf?e29$,9b$$$+$i$+!)%/%^%N%_C#$OE_$G$b;:Mq$7$F$k$s$@$1$I!"$3$3$N%H%&%"%+%/%^%N%_$b;:Mq$7$F$"$C$F!"<i$C$F$?$h!*$a$A$c$a$A$c967bE*$G!";2$C$?$1$I$M!J!0!0!(!K$=$&$=$&!":#%7!<%:%s=i$N%T%+%A%e%&%&%_%&%7$bEP>l!*2D0&$+$C$?$!!A"v5nG/!"@>I=$G$O=i$a$F8+$?$s$@$1$I!":#G/$b8+$l$=$&$JM=46!)K\EZ$NJ}$G$O!"?e29$,2<$,$k$H8+$i$l$k$_$?$$$J$s$@$1$I!"@>I=$G$O5U$G?e29$,>e$,$j;O$a$k$H8+$i$l$k$_$?$$$J5$$,$9$k$h!*!)5nG/$O?e29$,#2#7!A#2#8!n0L(J
        $B$K$J$C$?$iBt;3=P8=$7$?$+$i$J$!!J!w!w!K%_%J%_%O%3%U%0$N;R6!$O$R$H2s$jBg$-$/$J$C$F$?$7!"$"$s$^$je:No$J?'$8$c$J$$!)!J%4%a%s$h!*!K%$%6%j7/$O!"AjJQ$o$i$:%5%s%4$N4V$K5U$5$^$K$X$P$j$D$$$F$?$1$I!"$h$/8+$k$H#2I$$K$J$C$F$?!*!J!v!v!K$3$N%]%$%s%H$O!":#G/$b2?$,=P$F$/$k$N$+!)$o$/$o$/3Z$7$_$@$o$!!A"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/11/5($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l0l;~1+!!5$29(J25$B!n!!?e29(J26$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%$%=%m%/(J</B><BR>
        <BR>
        $B$3$N$H$3$m$"$?$7$NBg$N$*5$$KF~$j$N%$%=%m%/"v(J1$B=54V$/$i$$A0$K!"$*5R$5$s$,5o$J$$;~$K<L??$r;#$j$K@x$j$K9T$C$?$s$@$1$I!J$&$U$U"v%U%!%s%@%$%V$@$h$s!*!K$=$N;~$O?F;X$ND^$NH>J,$/$i$$$N2+?'$N%$%m%$%6%j$N@V$A$c$s$,5o$?$N$K!%!%!%:#F|$O;DG0$J$,$i5o$J$+$C$?$h$)!J!d!c!K$G$9$,$C!*:#F|$b%^%/%m$J$i$L%_%/%m%o!<%k%I_ZNv!*!*0JA0$K%"%C%W$7$?>.;X$ND^$NH>J,$/$i$$$N%$%6%j%&%*$N@V$A$c$s!":#F|$b5o$^$7$?!*$7$+$b!"9u$$%3$H$5$i$K%*%l%s%8$N%3$N(J2$BI$!*!*$b$&%_%K%_%K$9$.$F!"$a$C$A$c%i%V%j!<"v>/!<$7N.$l$,$"$C$?$s$@$1$I!"I,;`$KN><j!)!J>P!K$rF'$sD%$C$FBQ$($F$k;Q$b!"D6!A!A!A2D0&$+$C$?$h$s"v$b$A$m$s:#2s$b8+$D$1$?;~$O!"?eCf$G6+$S!J!w!w!K<+J,$G<+J,$NF,$rIo$G$?$o$h!<$s!J!0!0!(!KB>$K$b!"(J3cm$B0L$N%+%_%=%j%&%*(Jyg$B$d!"%?%D%N%O%H%3!"(J2cm$B0L$N%7%^%R%a%d%^%N%+%_(Jyg$B!"9u$N%K%7%-%U%&%i%$%&%*$b7r:_$G!"$7$+$b(J3$BI$$b!*%a%9$OMq$rJz$($F$?$s$@$1$I!":#F|$O%,!<%I$,8G$/$FCf$O8+$;$F$/$l$J$+$C$?$1$I$M$C!J!0!0!(!K(J<BR>
        <BR>
        <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BBgJ)%5%s%4(J</B><BR>
        <BR>
        $B$3$3$O!"@h7n%]%$%s%HD4::$7$F;H$&$3$H$K$J$C$?!"(JNEW$B%]%$%s%H!*L>A0$NDL$j!)5pBg$JBgJ)$NF,$N$h$&$J%5%s%4!J%3%b%s%7%3%m%5%s%4!K$K!"2V?a@c$,Iq$C$F$k$+$N$4$H$/!"%"%+%M%O%J%4%$$d%-%s%.%g%O%J%@%$$,72$l$F$F!"$=$l$O8+;v!*!*!J!v!v!K$-$C$H!"F`NI$NBgJ)MM$NF,$b$3$l$/$i$$Bg$-$$!)$C$F$0$i$$Bg$-$J%5%s%4$G!"=i$a$F$_$?$i%S%C%/%j$9$k$O$:!*!)!J!w!w!K$?$@$?$@!"%\!<!<!<$C$HI:$C$FL~$5$l$F$A$g$C!*$C$F46$8$G$9!J!0!0!K$9$0B&$K$O%N%3%.%j%@%$$,72$l$F$?$j!"%$%=%P%J$K$O(J2cm$B$/$i$$$N%$%=%P%J%,%K$d>.$5$J%$%=%P%J%+%/%l%(%S$,IU$$$F$?$j!":=CO$K$O%*%I%j%O%<$d%R%l%U%j%5%s%+%/%O%<!J%"%C%Q%l7/!K$J$I$b5o$?$h$s!#(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/10/20($BF|(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J29$B!n!!?e29(J27$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B:rF|$NBg1+$G!"By$j$,%9%4%$$+$J$!!A!)$H;W$C$?$1$I!"$=$lDx$G$O$J$/$F$A$g$C$H%[%C$H$7$J$,$i%(%s%H%j!<!#Bg$-$J%"%+%^%@%i%O%?$,$h$/5o$k>l=j$r%A%'%C%/$7$K9T$/$H!"$$$?$$$?!*$C$H;W$C$F$k$H!%!%!%5W!9EP>l!"%3%3$N$L(J
          $B$7$ND6!A$G$+$$%J%]%l%*%s$,M*!9$H1K$$$G$k$8$c$!$J$$$G$9$+$C!*!J!v!v!K$3$3:G6a;Q$r8+$J$+$C$?$+$i!"5y;U$5$s$K$G$bJa$i$l$?$+$H!);W$C$F$?$1$I!"$"!A!A!ANI$+$C$?"v!J!0!0!K$=$7$F$5$i$K!"$=$N8e$m$r3$%,%a7/$^$G1K$$$G9T$C$F!"2?$H:G8e$K$O!"D>7B(J2m$B$/$i$$$N%^%@%i%(%$$^$GEP>l$9$k;OKv!*!J!w!w!K$&!A!A!A$s!":#F|$O%o%$%I%9%Z%7%c%k$@$C$?$o"v$A$g$C$HN.$l$b$"$C$?$N$G!"%G%P%9%:%a$d%m%/%;%s%9%:%a!"%"%+%M%O%J%4%$$O!"$b$A$m$sBt;372$l$F$Fe:No$@$C$?$N$O8@$&$^$G$b$J$$$1$I$M$C!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%$%=%m%/(J</B><BR>
          <BR>
          $BA02s@x$C$?;~$O!"%K%7%-%U%&%i%$%&%*!J9u!K$,5o$?$N$G!"%j%/%(%9%H$K$*Ez$($7$F!%!%!%$H;W$C$?$i!"A08+$?$H$3$K$O5o$J$+$C$?!J!0!0!(!K$3$l$O!"5$9g$$F~$l$FC5$5$M$P!*$H;W$C$F$7$P$i$/1K$$$G$k$H!"5o$?$h!A$s"v;^%5%s%4$K1#$l$F$k$D$b$j$@$m!<$1$I!"8+$D$1$A$c$C$?$h!*$_$s$J$K65$($k$H!"3'%]%1%C%H$+$iCn%a%,%M$r<h$j=P$7$F!"$8$C$/$j4Q;!!#$=$NMM;R$rN%$l$F8+$k$H$A$g$C$H>P$($?!*!J!0(J0$B!0!K(J 
          $B$G$b!"$=$NCn%a%,%M$,$5$i$K0RNO$rH/4x$9$k$3$H$K!%!%!%2?$H!*>.;X$ND^$NH>J,$/$i$$$NBg$-$5$N%$%6%j%&%*$N@V$A$c$sH/8+!*!*!J!w!w!K$b$&!"8+$D$1$?;~$K$O?eCf$G!V$&$)$)$)$*!*!W$C$F!"6+$s$@$h!*%^%8$G!#<+J,$G<+J,$NF,$rIo$G$FM@$a$F$"$2$?$$$/$i$$$@$C$?$o$C!J!0!0!(!K$7$P$i$/5o$F$/$l$k$H$$$$$1$I$J$!!A!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B:#F|$N2+?'$N%8%g!<$O!"$H$C$F$b$45!7y$,NI$/!"$_$s$J$+$J$j6a$/$G%P%7%P%7<L??;#1F$7$F$bA4A30z$C9~$^$J$+$C$?!*%H%&%"%+%/%^%N%_$O;R6!(J3$BI$$G=;$s$G$F!"0lHV%A%S$O(J1cm$B$/$i$$$G$A$g!A%W%j%F%#$@$C$?$h$s"v%O%<$b%O%A%^%-%@%F%O%<!"%7%^%*%j%O%<!"%/%5%O%<Ey!"$8$C$/$j%i%$%H$rEv$F$F4Q;!!#COL#$K8+$($k%3$b%i%$%HEv$F$k$H$9$C$4$/e:No$J$s$@$h!#%O%@%+%O%*%3%<(Jyg$B!J2+!K$O!"2?$+?)$Y$?$H$3$@$C$?$_$?$$$G!"8}$+$iGr$$$b$N$,$O$_=P$7$F$F>P$($?!*!J!0!0!KBg$-$J(J 
          $B%"%*%&%_%,%a$O!"$$$D$b$N$*5$$KF~$j$N>l=j$G$*Ck$MCf!)$@$C$?$7!"%3%V%7%a$OAjJQ$o$i$:(J10$BI$$/$i$$5o$?$h!J!w!w!K%_%J%_%O%3%U%0(Jyg$B$b!"$^$@$^$@7r:_$@$C$?$h!A$s!J!0(J0$B!0!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/10/14($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J29$B!n!!?e29(J26$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</%N@nCf$N@%(J</B><BR>
          <BR>
          $B$3$N$H$3$mEv$j$N</%N@n$G$9$,!":#F|$bA%$rDd$a$?$i$b$&>e$+$i%^%s%?$N;Q$,!%!%!%K\F|$b4|BTBg!*%(%s%H%j!<$7$F$9$0A%$N??2<$KEP>l!*!*$:!<!<!<$C$H!"$_$s$J$N<~$j$r%0%k%0%k$H%[%P!<%j%s%0$7$F$/$l$F!"<L(J
          $B??$b<h$jJ|Bj$@$C$?$h$s"v$A$g$C$H0\F0$9$k$H:#EY$O%J%]%l%*%s$,!"$N$s$S$j%`!<%I$@$C$?$7!"Bg$-$a$N%+%9%_%"%8$bDL(J
          $B$C$F9T$C$?$j!*%^%s%?$b(J3$BKgJB$s$G1K$$$G$/$l$?$j!"#2Kg$,$:!<!<!<$C$HCgNI$/!)%0%k%0%k$^$o$C$F$/$l$?$j!J!0!0!K2?$h$j!"B>$N%@%$%P!<$H2q$&$3$H$J$/B_$7$-$j%^%s%?7/$@$C$?$N$G!"$_$s$J5$J,$O:G9b"v$G$7$?!J!0(J0$B!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
          <BR>
          1$BK\L\$H$OBG$C$FJQ$o$C$F!"%^%/%m$J%O%<%o!<%k%I!#:#F|$O!"%*%I%j%O%<$N=P$,$H$F$bNI$/!"5!7y$NNI$$;R$b$$$?$j$G<L(J
          $B??$b$P$C$A$j!)$@$C$?$_$?$$!J!0!0!K%K%A%j%s%@%F%O%<$O!":#F|$O(J1$BI$$7$+=P$F$J$+$C$?$1$I!"$3$N%3$b$45!7y$5$s$@$C$?$N$G!"$_!<$s$J$+$J$j4s$C$F8+$?$j;#$C$?$j$G4.G==PMh$?$h!A!J!0!0!K!J:#2s$N<L(J
          $B??$O!"$-$C$H$_$s$J(JBBS$B$KEj9F$7$F$/$l$k$K0c$$$J$$!*$M$C!*!)!K0l8+COL#$C$]$$$1$I!"%i%$%H$rEv$F$k$H$H$C$F$be:No$J%O%?%?%F%7%N%S%O%<$d!"J"9u$$!%!%!%$J$s$F8@$o$l$F2D0%A[$J!J!0!0!(!K%d%^%V%-%O%<$bBt;3$$$?$h$s"v(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/9/17($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J28$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</%N@n!!Cf$N@%(J</B><BR>
          <BR>
          $BBfIw(J16$B9f$N8e$N5W!9!X</%N@n!!Cf$N@%!Y$G$9!#B>$N%7%g%C%W$+$i!V0l:rF|$O%^%s%?=P$?$h!*!W$N>pJs$r$b$H$K!"$$$6=PH/!*E75$$bNI$/!"A%$NgX@h$b2wE,"v2wE,"v!J!0!0!K(J 
          $B$J$+$J$+F)L@EY$bNI$5$=$&$@$7!"$A$g$C$H%o%/%o%/$7$J$,$i%(%s%H%j!<!#$9$0$K%^%s%?7/EP>l!*$=$N8e$b!"$"$C$A$+$i$b$3$C$A$+$i$b$NEP>l$G!"8+$k$N$K$H$C$F$bK;$7$$!J!v!v!K$C$F$/$i$$$?$/$5$s=P$?$h$s"v0lEY$K8+$l$?$N$O#3Kg$@$C$?$1$I!"%H!<%?%k$G(J7$BKg!*$7$+$b(J70$BJ,4V$:!<!<!<$C$H!*!*8aA0$b8a8e$b@x$C$?%H%3$K$h$k$H!"$J$s$H%H!<%?%k(J10$BKg0J>e$@$C$?$i$7$$!*!)$9$4!<$$!*!J!w!w!K$d$C$Q$j!"F)L@EY$bNI$/$F%5%s%4$be:No$G?M$b>/$J$$!X</%N@n!Y$G8+$k%^%s%?$O$$$$$h$M$'!A"v!J!0(J0$B!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BLV<h%,!<%G%s%$!<%k(J1</B><BR>
          <BR>
          $B$A$g$C$HFn$NIw$,?a$$$F$-$?$N$G!"Eg$N@>B&$^$G0\F0!#$3$3$O:=CO$K!V%`!<%_%s$N%K%g%m%K%g%m!)!W$,!"$?$/$5$s=P$F$k$H$3!*!J!0!0!K:#F|$b855$$K%W%i%s%/%H%s$r%Q%/%Q%/?)$Y$F$?$h$s"v%J%s%h%&%O%.$N@V$A$c$s$,!"%5%s%4$NCf$K5g6~$=$&$K1#$l$F$?$j!"4d$N3d$lL\$K$G$C$+$$%*%K%@%k%^%*%3%<$b1#$l$F$?$j!"%O%@%+%O%*%3%<$O<+J,$NBN$r$f$i$f$iMI$i$7$F!"MU$C$Q$K2=$1$F$?$j!)!J!0!0!K(J3cm$B$/$i$$$N%-%j%s%_%N%+%5%4$N%Y%$%S!<$bD6!A2D0&$+$C$?"v%9%+%7%F%s%8%/%@%$$H%"%+%M%O%J%4%$(Jyg$B$H%-%s%.%g%O%J%@%$(Jyg$B$,72$l$F$k=j$,$"$C$F!"$=$NCf$KJq$^$l$F$\$)!A!A!A$C$H!"$^$C$?$j$9$k$N$,:G6a$N$*5$$KF~$j!*!J!0!0!KA%$N$9$02<$K$O!"%3%V%7%a$H%+%_%=%j%&%*$b$$$?$1$I!"$^$!!"$^$@$^$@L$=O<T$+$7$i!)K\?MC#$O>e<j$/2=$1$F$k$D$b$j$i$7$$$1$I$M$C!J!0!0!(!K$=$&$=$&!"%/%^%N%_$,$A$g$&$I;:Mq$b$7$F$$$?$h!<$s!J!v!v!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT>$BA%1:%^%s%@%j%s(J1</B><BR>
          <BR>
          $B$3$N;~4|$O!"Bg?M$N%F%0%j%s$h$j(J2cm$B$/$i$$$N;R6!%F%0%j%s$,$h$/8+$i$l$k$h!#:#F|$b%A%S(J2$BI$$GDI$$$+$1$C$3$7$F$?$j!"Bg?M$N8e$r$A$g$m$A$g$mIU$$$F2s$C$F$k%3$,$$$?$j$G!"D6!A!A2D0&$+$C$?$h$s"v%$%A%b%s%8%3%P%s%O%<$O!"$$$D$b$N$*5$$KF~$j$N%5%s%4$N>e$K$A$g$3$s$H>h$C$F$?$7!"%*%P%1%$%s%3%O%<$OAjJQ$o$i$:!"E%$r?)$Y$F$O%P%U%P%U$H%(%i$+$i=P$7$F$?$h!J!d!c!K$3$N$H$3$m%_%+%E%-%D%P%a%&%*$N;R6!$,$:$C$H5o$k$s$@$1$I!"$"$N$N$C$Z$j4i$,$^$?2D0&$$$$$s$@$h$M$'!A"v!J!0!0!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/8/26($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J31$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BLV<h!!%,!<%G%s%$!<%k(J1</B><BR>
          <BR>
          $B:#F|$O!"%Y%?Fd!#A%$GAv$j$J$,$i3$$NCf$,8+$($k$/$i$$!*$3$3$N$H$3$m1s=PB3$-$@$C$?$N$G!"$3$s$J2:$d$+$JF|$K$3$3$N:=CO$G!"$N!A$s$S$j$9$k$N$b$H$C$F$b5$;}$A%$%$$h$)!J!0!0!K$^$:$O!"$A$g$C$H?<>l$K%d%7%c%O%<$r4Q$K9T$C$F!"@u$$=j$G$N$s$S$j%,!<%G%s%$!<%k$r4Q$h$&$H;W$C$F$?$i!"$J$s$H!*%a%,%M%&%*7/H/8+!*!*(J 
          $B$&$^!A$/:=$NCf$K@x$C$F$k$+$i!"$J$+$J$+8+$D$1$k$3$H$,=PMh$J$$$s$@$1$I!&!&!&:#F|$O%i%C%-!<"v$A$g$C$H$$$8$o$k$7$F!):=$NCf$+$i7!$j5/$3$7$F$_$k$H!"$G$C$W$j$H$7$?BN$G$U$i$U$i$7$J$,$i!"$A$g$C$H1K$$$G$^$?:=$NCf$K%P%U%P%U@x$C$?$h!#L}CG$9$k$H2?=h$K@x$C$?$N$+J,$i$J$/$J$k$/$i$$!":=@x$j$NL>?M$J$N$@!*!J!v(J 
          $B!v!K(J<BR>
          $B$G$C$A(J4$B9f$,!"(J10cm$B$0$i$$$^$G6a4s$C$F%K%i%a%C%3$7$?$i!"F($2=P$7$A$c$C$?$C"v!J!0!0!(!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
          <BR>
          $B:#F|$b?e?<(J6$B!A(J7m$B$+$i!"%9%_%l%J%,%O%J%@%$$,$*=P7^$("v?<$$=j$G8+$k$H%V%k!<$K8+$($k%*%9$b!"$3$3$@$H@V;g?'$K8+$($F$^$?e:No!*(J 
          $B$=$7$F?<>l$NJ}$r8+$k$H!&!&!&%J%]%l%*%s$,$f$C$/$j1K$$$G9T$C$F$?$h!#%*%I%j%O%<$N(J1cm$B0L$N@V$A$c$s$,$$$F2D0&$+$C$?$1$I!"(J3cm$B0L(J
          $B$N%5%D%^%+%5%4$N@V$A$c$s$O!"??$CGr$G$5$i$K2D0&$+$C$?$h!A"v$@$1$I!"$b$C$H2D0&$+$C$?$N$O!&!&!&(J<BR>
          $B$J$s$H!*%U%j%=%G%(%S$r8+$D$1$F$7$^$C$?$N$@$!!*!*$7$+$b(J2$BI$!J!v!v!K$^$@(J3cm$B0L$GLOMM$O%T%s%/!#$b$A$m$s!"Nc$N%U%j%=%G$r?6$C$FMY$C$F$/$l$?$h$s"v$=$P$K$O!"?)$Y$+$1$N>.$5$J%R%H%G$b$"$C$F!"F($2$i$l$J$$$h$&$K!)0z$CD%$C$F$?$h!#$7$P$i$/$"$=$3$K!"5oCe$$$F$/$l$k$H$$$$$s$@$1$I$J$!!A!*!J!0(J0$B!0!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/8/16($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B@P:j!!%^%s%?%9%/%i%s%V%k(J</B><BR>
          <BR>
          $B$*K_$H8@$&$3$H$b$"$C$F!"%]%$%s%H$KE~Ce$9$k$H$9$G$K(J10$Bg[$[$I$NA%$,!%!%!%?eCf$O%^%s%?%9%/%i%s%V%k$J$i$L(J
          $B%@%$%P!<%9%/%i%s%V%k!*!)%(%s%H%j!<$7$?=V4V!"!V%2%C!%!%!%!WF)L@EY$b0-$$$h$)!A!J!d!c!K(J30$BJ,Dx7P$C$F!"$d$C$H(J1$BI$$,1sL\$K%9!<$C$HDL(J
          $B$j2a$.$F9T$C$?$s$@$1$I!"8+$F$J$$?M$b!%!%!%2?$+7y!A$JM=46!)!)!)$H;W$C$?$i!"%i%9%H(J10$BJ,$0$i$$$K(J1$BI$$,:,$N>e$r2?EY$+@{2s$7$F$/$l$?$N$G!"$_$s$J7k9=6a$/$G$b8+$l$F!"$"!A!A!ANI$+$C$?!*!J!0(J0$B!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%H%+%-%sA>:,(J</B><BR>
          <BR>
          $B>/$7N.$l$,$"$C$?$1$I!"%+%9%_%A%g%&%A%g%&%&%*$d%0%k%/%s$O$?$/$5$s72$l$F$F$H$C$F$be:No$@$C$?$h!#%O%/%F%s%+%?%.$N%Z%"$N(J1$BI$$O!"?'$,$A$g$C$HGv$/$F2+?'$C$]$/$F!"2?$+$H:.7l!)$C$F46$8!#%"%G%d%C%3$O6a$E$$$?$i!"$9$0$K7j$K1#$l$F$7$^$C$?!J!d!c!K$G$b!"$A$g$C$HBT$C$?$i=P$FMh$?$i$7$$!%!%!%<L(J
          $B??$b;#$l$?$C$F!*!JEj9F3Z$7$_$K$7$F$k$o$!!A!*!K%$%=%^%0%m$b(J4$B!"(J5$BI$%&%m%&%m$7$F$?$7!"5W!9$K!X%*%*%"%6%_%5%s%4!Y$K$b9T$C$?$h!#9b$5$O$J$$$1$I!"$d$C$QBg$-$+$C$?!*!J!w!w!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/3dive.gif" width="60" height="34">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B$$$D$b2?$,=P$k$+!)%o%/%o%/$9$k%R%J%$%S!<%AA0$@$1$I!":#2s$O%T%s%/$N%$%6%j7/!*!J$?$V$s%*%*%b%s%$%6%j%&%*$N;R6!!)!K$A$g!A!A!A2D0&$+$C$?"v$3$N?'$O!"$"$?$7$b$*=i$@$C$?$N$G!"4r$7$+$C$?$h$s"vK\?M$O$-$C$H8+$D$+$C$F$J$$$D$b$j!)$J$s$@$m!<$1$I!"$W$W$C!J!0!0!K$^$@$^$@$d$J$C!*8+$D$1$?<+J,$NF,$rIo$G$F$"$2$?$+$C$?$C$9!*!J>P!K$7$P$i$/5o$F$/$l$?$i$$$$$1$I$J$!!A!#%3%V%7%a$N;R6!$d%$%m%V%@%$(Jyg$B!"%R%P%7%h%&%8!"%*%$%i%s%h%&%8!"%Y%s%1%$%O%<!%!%!%(Jetc$B!#B>$K$b$?!A$/$5$s$N5{$,5o$F!"$-$j$,$J$$$C$9!J!v!v!K$=$&$=$&!"2+?'$N%8%g!<%U%#%C%7%e$b5o$?$1$I!"#S$5$s$,2?Kg$+;#$C$?$i0z$C9~$s$G$7$^$C$F!%!%!%;DG0$@$C$?$M$'!A#I$5$s!J!0!0!(!K(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/8/1($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l;~!9F^$j!!5$29(J31$B!n!!?e29(J29$B!n(J</B></FONT></P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
          <BR>
          $B:rF|$NBg1+$G!"By$C$F$k$+$J$!!)$H;W$C$?$1$I!":#F|$O$^$@Bg>fIW$@$C$?!#$3$3$O!"%9%_%l%J%,%O%J%@%$!J%5%m%s%Q%9!K$,@u>l$K$$$k$s$@$1$I!":#F|$O(J6m$B!A$$$F!J!w!w!K%*%9$,%a%9$K2L(J
          $B4:$K%"%?%C%/$7$F$?!#%*%9$O:'0y?'$,=P$F$Fe:No$@$C$?$h!<$s"v$"$H%3%$%\%&%_%&%7$b!"(J2$BI$$,2#$KJB$s$G$/$C$D$$$F8rHx$7$F$?$7!&!&!&!J!0!0!(!K$=$7$F<PLL(J
          $BE:$$$O!"%5%s%4$,72@8$7$F$F$=$l$O8+;v!*$I$A$i$+$H$$$&$H!"OBIw$J46$8!)%+%i%U%k$5$O$J$$$1$I!"@E$+$GA!:Y$J46$8$G!"$"$?$7$O7k9=9%$-$+$J"vA02s$O!"@u$$=j$G%4%^%b%s%,%i$,Mq$r<i$C$F$$$?$N$+!"FM?J$5$l$FI]$+$C$?$s$@$1$I:#F|$O5o$J$/$F!"$"!A$h$+$C$?!*!J!0!0!K(J<BR>
          <BR>
          <BR>
          $B!ZCk5Y$_!*![(J<B><FONT size="3">$B%5%P:jEl(J<BR>
          </FONT></B>1$B%@%$%VL\$,=*$o$C$F>e$,$C$F$_$k$H!"$J$s$H!*!X%+%D%*%I%j!Y$,A%$NgX@h$KDd$^$C$F$?$N$h!A"v:#G/$N$*@57n$b!X%+%D%*%I%j!Y$,F,$N>e$KDd$^$C$F$/$l$?$j!"!J%f%-$N1#$7%Z!<%8$r8+$F$M!*!K2?$+%&%A$C$F!X%+%D%*%I%j!Y$K?M5$$J$N$+$b!*!)6a$E$$$F$bA4A3F($2$J$$$7!"Io$G$F$bBg>fIW!*$=$l$I$3$m$+!"5$;}$ANI$5$=$&$KL\$r$D$V$C$F?2$O$8$a$k$7!&!&!&!J!0!0!(!K$A$g!A!A!A!A!A2D0&$$$+$C$?$h$)"v(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%"%6%_%5%s%4(J</B><BR>
          <BR>
          $BL>;D$j@K$7$+$C$?$1$I!X%+%D%*%I%j!Y$N%+%C$A$c$s!)$KJL$l$r9p$2$F!)!)$$$6!"(J2$BK\L\$K!*%*%d%S%C%A%c$NC+$OMq$O$J$/$F!"$3$l$+$i;:$`=`Hw$G!"?F$,4dH)$r$-$l$$$KA]=|$7$F$?$h!#$[$H$s$IN.$l$,$J$+$C$?$N$G!"%+%9%_%A%g%&%A%g%&%&%*$O!"DA$7$/>/$J$+$C$?!#$G$b!"%0%k%/%s!J%/%^%5%5%O%J%`%m!K$N72$l$O@n$N$h$&$G!"$H$C$F$be:No$@$C$?$h$s"v$5$F!"$=$m$=$m@u$$=j$N:,$K9T$3$&$H0\F0$7$O$8$a$?$i!&!&!&$&$)$)$C!A!J!w!w!K%4%^%b%s%,%i$,$3$C$A$K8~$+$C$FFM?J$7$F$-$?$C!*92$F$FN%$l$?$s$@$1$I!"$7$D$3$/DI$C$FMh$kDI$C$FMh$k!*I]$+$C$?$h$)!A!A!A!J!(!(!K%N%V!J:#G/$N$G$C$A(J2$B9f!K$C$F$P!"1s4,$-$K8+$F$k$@$1$G!&!&!&$^$C$?$/$b$)$C!*!J!.!-!K3'$5$s!"Mq$r<i$C$F$k%4%^$A$c$s$K$O$/$l$0$l$b5$$rIU$1$F$M$C!*!J!0!0!(!K(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/6/6($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j;~!9@2$l!!5$29(J29$B!n!!?e29(J27$B!A(J28$B!n(J</B></FONT></P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg(J 
          $BEl$N:,(J</B><BR>
          <BR>
          $BD,;_$^$j$NM=Dj$h$j(J40$BJ,0J>eA0$KE~Ce$7$?$N$K!"$9$G$K5U$NN.$l$KJQ$o$C$F$$$?$N$G!":#F|$OBgJ*$O4|BT=PMh$J$$$+$J$!!)$H;W$$$J$,$i!"%(%s%H%j!<!#$5$[$IN.$l$b$J$+$C$?$N$G!"3'%m!<%W$b;H$o$:$K%U%j!<$G@x9T!#L\$NA0$K$O!"%S%k$rD@$a$?$h$&$J%@%$%J%_%C%/$JCO7A$,9-$,$C$F$$$F!&!&!&$H!"$$$-$J$jL\$NA0$KBg$-$J%$%=%^%0%m$,(J30$BI$0L(J
          $B$G$d$C$FMh$?!*$=$N8e$m$+$i!"%m%&%K%s%"%8$d%+%9%_%"%8!"$=$7$F%J%]%l%*%s$O!":,$N>e$G$N$s$S$j$H%[%s%=%a%o%1%Y%i$KA]=|$5$l;O$a$k$7!*N.$l$b6/$/$J$$$N$G!"$_$s$J$b<+M3$K<L(J
          $B??;#$j$^$/$j$G!"5{$bCO7A$b==J,4.G=$7$?(J1$B%@%$%V$@$C$?$h!A$s!J!0!0!K$=$&$=$&!"??2F$K$O9M$($i$l$J$$$1$I!":#F|$OB>$N%7%g%C%W$OMh$F$$$J$+$C$?$N$G!"!VEl$N:,!W$O%&%A$NB_$7@Z$j$@$C$?$N$h$)!A!A!A!J!v!v!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg(J 
          $B@>$N%9%]%C%H(J</B><BR>
          <BR>
          $BA%$N>e$O>/$7MI$l$F$$$?$1$I?eCf$O2:$d$+$G!"$3$3$OD6!A!XL~$7$N%]%$%s%H!Y!*:#F|$OF^$C$F$$$?$N$G!":=CO$KB@M[$N8w$,:9$79~$s$G$J$+$C$?$N$,!"$A$g$C$H;DG0$@$C$?$1$I!&!&!&:=CO$K<j$r$D$/$H!"2?$+$,%T%e%s%T%e%sHt$s$G9T$/!)%H%S%.%s%]$,6C$$$FF($2$F$k$s$@$1$I!"$h!<$/8+$F$_$k$H!":=$NCf$+$i4i$@$1=P$7$F1#$l$F$F!">.$5$JL\$,%-%g%m%-%g%m$7$F$F2D0&$$$h!A"v$G$b!":=$K>e<j$/2=$1$F$k$+$i!"%[%s%H$K$h!<!<!<$/8+$J$$$H$o$+$s$J$$$1$I$M$C!*!J!d!c!K(J<BR>
          $B:Y$$DLO)$NCf$O!"$b$&%Y%i7O$N;R6!C#$,$$$C$Q$$!*$3$3$OFC$K!"%+%s%`%j%Y%i$NMD5{$,B?$/$F!"$^$@(J1cm$B0L(J
          $B$N%A%S$b$$$FD6!A%i%V%j!<"v$@$C$?$h$s!#(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/6/1($BEZ(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!?@2$l!!5$29(J29$B!n!!?e29(J27$B!n(J</B></FONT></P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9Fn(J</B><BR>
          <BR>
          $B:#F|$O!"Ln:ZH*M7Mw%3!<%9!*!)%-%c%Y%D$K?7%8%c%,!"$7$$$?$1!"$^$$$?$1!&!&!&2?$N$3$C$A$c!*!)$C$F46$8$G$7$g$&!)!J!0!0!(!K$=$C$/$j$J%5%s%4$,!"$7$+$b72@8$7$F$k$N$@$o!"$3$3$O!*!J!w!w!KFC$K!"1d!9$HB3$/%j%e%&%-%e%&%-%C%+%5%s%4!J%-%c%Y%D$N$h$&$J!)K~3+$N%P%i$N2V$N$h$&$J!)!K$N72@8$O054,!*!J!v!v!K$=$N>e$r1K$$$G$k$H!"2?$+6u$rHt$s$G$$$k$h$&$J!)5$J,$K$J$k$N$@$o"v$=$7$F:#F|Gr$+$C$?$N$O!"%Q%i%*%/%5%S%i%$%7$r%A%g%&%A%g%&%&%*$,$D$D$$$F$F!"$=$N<~$j$K%9%:%a%@%$C#$,=8$^$C$F$k$+$i!"2?$@$m$&!)$H;W$C$F!"6a$E$$$F$_$k$H!&!&!&2?$H!*Mq$r?)$Y$F$$$?$N$h!A!J!w!w!K%Q%i%*%/%5%S%i%$%7$N!"$W$h$W$h$N$H$3$r$D$D$/$H!"7j$,3+$$$?$H$3$+$iMq$,!V$W$o$!!A!W$H=P$F$-$F!"$=$3$r$9$+$5$:5{C#$,!"%Q%/%Q%/$H?)$Y$F!&!&!&@($+$C$?$o$!!A!J!v!v!K(J 
        <P>$B!vH74VEg$G%i%s%A%?%$%`!v(J $B:#F|$O!"@>I=Eg!AH74VEg4V$N%+%L!<%l!<%9$,$"$C$F!"$=$N0Y$K3$>eJ]0BD#$b7YHw$G=PF0!#$=$N%*%^%1!)$G!":#F|$OG/$K0lEY$NH74VEtBf$N2rJ|F|!*!J:#$^$G!"CN$i$J$+$C$?$N$h$M$'!A!K$5$C$=$/9T$C$F$_$^$7$?!*$$$D$b$OEP$l$J$$EtBf$N!"$F$C$Z$s$^$GEP$C$F8+EO$97J?'$O!"%5%$%3!<$K5$J,NI$+$C$?$h!A!A!A$s"v!J(J*$B!0(J0$B!0(J*$B!K(J 
          <BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BH74VFn@>(J</B><BR>
          <BR>
          $B%f%S%(%@%O%^%5%s%4$K%F%s%8%/%@%$7O$,$$$C$Q$$$$$k$s$@$1$I!"$3$N;~4|$O%Q%QC#$N!X8}FbJ]0i!Y$,@9$s$G!"%"%4$,30$l$=$&$J$/$i$$8}$rKD$i$^$;$F$k%3$,Bt;3!*8}$NCf$NMq$r8+$h$&$H6a$E$/$H!"$3$C$A$r8+$F$/$l$J$$$N$h$M$'!#$G$b!"$7$P$i$/$8$C$H4Q;!$7$F$k$H!"8+$k$3$H$,$G$-$k$h$s!#$/$o$($?$F$NMq$OGv$$%T%s%/$G!"%O%C%A%"%&%H4V6a$NMq$OL\$,IU$$$F$/$k0Y!"6d?'$J$s$@$h!A!J!w!w!K:#EY!"8}$rKD$i$^$;$F$$$k%3$,$$$?$i!"$8$C$/$j4Q;!$7$F$_$F$A$g!#$=$7$F!"(J1$B=54V$/$i$$0{$^$:?)$o$:$G!";R0i$F$KJ6Ah$7$F$k!)$1$J$2$J%Q%QC#$K!"@<1g$rAw$C$F$"$2$F$M!A!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/5/31($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!!5$29(J29$B!n!!?e29(J27$B!n(J</B></FONT></P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B$*2VH*(J</B><BR>
          <BR>
          $B:#F|$O!"9AFb$+$i?e$,e:No$@$C$?$N$G!"F)L@EY$,4|BT=PMh$=$&!)$H;W$$$J$,$i!"$$$6=PH/!*M=A[DL$j!";k3&NI9%!"NI9%"v!J!0!0!K$3$3$O!"L>A0$N$j%5%s%4$,!X$*2VH*!Y$N$h$&$G!"$9$C$4$/e:No!*!J!v!v!KFC$K!"%V%k!<$N;^%5%s%4$,<PLL(J
          $B0lLL$K9-$,$C$F$k$N$O!"$?$@$?$@467c$b$s$J$N$h$M$'!A!#%G%P%9%:%a%@%$$d%m%/%;%s%9%:%a%@%$!"%M%C%?%$%9%:%a%@%$$d%-%s%.%g%O%J%@%$Ey$,L5?t$K$$$F!"$=$N>e$r%U%o%U%oI:$C$F$k$H!";jJ!$N;~"v$C$F46$8!A!J(J*$B!0(J0$B!0(J*$B!KFC$K:#F|$O!"F)L@EY$bNI$/!"B@M[$N8w$b%-%i%-%i:9$79~$s$G$F!&!&!&$7$C$+$j!"L~$5$l$?(J60$BJ,$G$7$?!*!J!0(J0$B!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B$3$3$O!":#F|$O2?$K2q$($k$+$J!*!)$C$H!"7k9=$o$/$o$/$5$;$i$l$k%]%$%s%H$N0l$D!#(J $B:#F|$O!"%K%7%-%U%&%i%$%&%*$K%3%V%7%a$N@V$A$c$s!"(J1cm$B$N%O%.$N@V$A$c$sEy!9!"D6!A!A!A2D0&$+$C$?$h!<$s"v$_!<$s$J3$At$K$&$^!<$/2=$1$F$k$s$@$1$I!&!&!&H/8+!"H/8+!*!J!0(J0$B!0!K!V%U%U%U!&!&!&$=$s$J2=$1J}$8$c!"$^$@$^$@$d$J$C!*!W$H!"8+$D$1$kEY$K!"?4$NCf$G$D$V$d$/$N$,3Z$7$/$C$F"v$_$s$J$b!"L\$r6E$i$7$F$h!<$/$^$o$j$rC5$7$F$_$F$M!#<+J,$GH/8+$9$k$H!"0lCJ$H3Z$7$$$+$i!*%H%&%"%+%/%^%N%_$O!"Mq$r;:$_$D$1$k3-3L$r0l@87|L?!"8}$G$D$D$$$Fe:No$KA]=|$7$F$?$+$i!":#F|$+!)L@F|$K$O!);:$_$D$1$F$$$k$O$:!#$b$&!";s$N$*J"$b%Q%s%Q%s$@$C$?$+$i$M$'!A!#$=$&$=$&!"@>I=$G$ODA$7$$!J:#2s=i$a$F8+$?!*!K!X%T%+%A%e%&%&%_%&%7!Y!J%&%G%U%j%D%N%6%d%&%_%&%7!K$b8+$D$1$?$h$s"v2D0&$+$C$?$!!A!#!J6zK\J}LL(J
          $B$K$OBt;3$$$k$i$7$$$1$I$M!&!&!&!J!0!0!(!K(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/5/1($B?e(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J29$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</$N@n!!Cf%N@%(J</B><BR>
          <BR>
          $B:#G/$N#G#W$O!"$a$A$c$a$A$c%$%$E75$!*:G9b5$29(J29$B!n!":GDc5$29(J25$B!n$N2FF|$,B3$$$F$^!A$9"v!J!0!0!K$3$N$H$3$m!"30$l$J$7$N!X%^%s%?!Y7/!#:#F|$b=P$^$7$?!*(J1$BKgL\$N%3$O!"$A$g$C$H>.$V$j$@$C$?$1$I!":,$N>e$r$:!<$C$H%[%P!<%j%s%0$7$F$/$l$F!"%5!<%S%9K~E@!*%&%s%A$^$G%V%j%V%j$H!%!%!%!J!0!0!(!K(J2$BKgL\$N%3$O!"L\$N>e$K%3%P%s%6%a$,$/$C$D$-$=$&$K$J$C$F!V$$$d!A$s!*!W$C$F46$8$G!"?6J'$*$&$H$7$F$?$N$,>P$($?$h$s!J!0(J0$B!0!K(J3$BKgL\$N%3$O!":8$NF,%S%l$,7g$1$F$k%3!J%5%a$K$G$b$+$8$i$l$?!)!K$G!"$b$&$=$m$=$mA%$KLa$m$&$+$J$!!A$H$7$F$$$?$iEP>l!*$J$+$J$+5"$i$;$F$/$l$J$+$C$?$N$h$M$'!A!J!0!0!(!K$=$7$F%J%s%H!*%^%s%?$,5n$C$?8e$K!"%3%P%s%6%a7/!J(J20cm)$B$,CV$$$F$1$\$j$K$5$l$F!"2?$r;W$C$?$+!)3'$N%U%#%s$dB-$d$*?,$K!)$/$C$D$3$&$H!"$^$H$o$j$D$$$F!%!%!%$A$g!A!A!A2D0&$+$C$?$h$s"v#T$5$s$NB-$K$^$H$o$j$D$$$?$^$^!"A%$^$G>e$,$j$=$&$J@*$$$@$C$?$1$I!)!J!w!w!K$"$N8e!"$I$&$7$?$N$+$J$!!A!)$A$g$C$H?4G[!%!%!%C/$+$$$$?M!)8+$D$+$C$?$+$J$!!A!J!0!0!(!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%"%6%_%5%s%4(J</B><BR>
          <BR>
          $B:#F|$O!V%*%d%S%C%A%c$NC+!W$O!"$A$g$&$I%O%C%A%"%&%H8e$@$C$?$h$&$G!"Mq$O;:$_$D$1$i$l$F$J$+$C$?$1$I!"$=$NBe$j$K!)%N%3%.%j%@%$$,Bt;372$l$F$?$h!#%+%9%_%A%g%&%A%g%&%&%*$N72$l$GM7$s$G$k$H!"2?$d$i%A%S%/%^%N%_$,(J1$BI$$@$1$G!"$A$g$m$A$g$m$H$7$F$?$N$G6a$E$$$F$_$k$H!">.$5$J%$%=%.%s%A%c%/$K0l?MJk$i$7!*!)5g6~$=$&$K@x$j9~$s$G!"$*$I$*$I$7$J$,$i$3$C$A$r8+$F$F!"$a$C$A$c%i%V%j!<"v!J!0!0!K$=$&$=$&!"%V%k!<$N3$LJ$N>e$K(J2cm$B$0$i$$$N!V%9%L!<%T!<!W$N$h$&$J!)%&%_%&%7!J%U%M%V%j%9!K$,$D$$$F$F!"$3$l$b$^$?$^$?D6!A%i%V%j!<"v$@$C$?$N$@$!!A!J!0(J0$B!0!K(J 
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2002/4/15($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J27$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9El(J</B><BR>
          <BR>
          $B:#%7!<%:%s$b%P%i%9El$N%5%s%4$O!"$a$A$c$a$A$c855$$G$9!*%5%s%4$,855$$@$H!">.5{C#$bBt;3$$$F!"3$$NCf$O$H$C$F$bFx$d$+"v%-%s%.%g%O%J%@%$!"%"%+%M%O%J%4%$!"%G%P%9%:%a%@%$!"%m%/%;%s%9%:%a%@%$(Jetc$B!"$=$&$=$&:#G/$b$3$N;~4|!"%3%V%7%a$,;:Mq$7$K$d$C$FMh$F$F!":#F|$OM:(J3$BI$!";s(J2$BI$$G$7$?!#LL(J
          $BGr$+$C$?$N$O!"Bg$-$J;s$K>.$5$JM:$,!"7|L?$K%"%W%m!<%A$7$F$?$s$@$1$I!"7y$,$i$l$F2!$7B`$1$i$l$F$?$h!J!0!0!(!KBg%$%=%P%J$K=;$_Ce$$$F$k!"%/%@%4%s%Y$b855$$@$C$?$h!<"v?M47$l$7$F$-$?$N$+!)(J 
          $B7k9=4s$C$F$bF($2$J$$$N$G!"%2%9%H$b%G%8%+%a$Ge:No$K;#$l$F$?$h$s!*!J!0!0!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%R%J%$%S!<%AA0(J</B><BR>
          <BR>
          $B:#F|$b$$$k$+$J$!!A!*!)!X%U%j%=%G%(%S!Y$A$c$s"v<B$O(J1$B=54VDxA0$K8+$D$1$F$F!"5oCe$$$F$/$l$k$+!)$A$g$C$H?4G[$@$C$?$s$@$1$I!%!%!%Bg>fIW!*:#F|$b$A$c$s$H(J2$BI$$GCgNI$/!"?6$jB5$U$j$U$j855$$@$C$?$h!A$s!J!0(J0$B!0!K@u$$=j$N:,$N%-%s%a%b%I%-$d%9%+%7%F%s%8%/%@%$$J$I$,!"<YKb$J$/$i$$!)A}$($F$-$?$h!A!J!0!0!K8}FbJ]0i$7$F$k%3$bBt;3$$$k$7!*$3$l$+$i$^$@$^$@A}$($F$$$/$O$:"v%R%H%9%8%.%s%]$d%U%?%$%m%+%(%k%&%*$J$I$r$8$C$H8+$F$k$H!"Mq$r<i$C$F$k!)%_%D%\%7%/%m%9%:%a%@%$$K!"F,$d<j$r%,%7%,%7$d$i$l$k$N$G!"MWCm0U!J!w!w!K$A$g$C$H2<$K9_$j$F$$$/$H!":#F|$b$$$^$7$?!*%&%_%,%a7/!#(J 
          $B$1$C$3$&Bg$-$$%3$G!"$$$D$b$*5$$KF~$j$N>l=j$G!)$*Ck$M$7$F$k$h!A$s!J!0!0!K$3$N5(@a!"?'$s$J%3C#$N8rHx!u;:Mq%7!<%s$r8+$k$3$H$,=PMh$k$s$@$1$I!":#F|$O%&%_%&%7$N8rHx$N=V4V$KN)$A2q$&$3$H$,=PMh$?$N$@!*$^$k$G!"Ht9T5!$N6uCf5kL}!)$N$h$&$@$C$?$h!A!J$C$F!"$I$s$J$s$+$o$+$k$+$J$!!)!)!K(J
      </TD>
    </TR>
  </TABLE>
  <P><A href="kakolog2.html"><IMG src="IMAGE/kakolog.gif" width="100" height="60" border="0" alt="$B2a5n$N%m%0(J"></A></P>
</CENTER>
</BODY>
</HTML>
