<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR><BR>$B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">BIRTHDAY DIVE<BR>
          </FONT></B>$B2#IM$+$iMh$i$l$?!"(J<B>$BAj_7FA9>(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/12/23$B$K!"%O%C%T!<%P!<%9%G!<$G$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v$[$s$H$O!":#G/$N2F$KL<$5$s$H0l=o$K@x$j$KMh$kM=Dj$@$C$?$N$G$9$,!"5^$KMh$l$J$/$J$C$F$7$^$$!":#2s$O%j%Y%s%8!*(J2$BF|4V$HC;$+$C$?$;$$$b$"$j!"E75$$O$$$^$$$A$G$7$?$,!"%5%s%4$Ne:No$J=j$K$b9T$1$FNI$+$C$?$G$9$M!*:#2s$OL<$5$s$OMh$l$J$+$C$?$N$G$9$,!"?F;R$G%@%$%P!<$J$s$FAGE($G$9$h$M!A!J!0!0!K<!2s$O@'Hs0l=o$K!"2F$K$G$b$^$?@x$j$K$$$i$7$F$/$@$5$$$M!A"v$*BT$A$7$F$^!A$9!*!*(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/1223.jpg" width="300" height="248" alt="$BAj_7$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BJ<8K$N%7%g%C%W!X%+!<%s!Y$N%D%"!<$GMh$i$l$?!"(J<B>$BF#0fD*;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/11/4$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$O!"%^%s%?$b8+$l$?$7%K%7%-%F%0%j$b4.G==PMh$?$7!*NI$+$C$?$G$9$M!J!0!0!K$=$7$F!"0l=o$KMh$?%7%g%C%W$NCg4V$K$b$"$s$J$K=KJ!!)$5$l$F!&!&!&!J$3$N<L??!"J|Aw5,Dj%.%j%.%j$+$7$i!)!)!)!K$H!A$C$F$b!"5-21$K;D$k5-G0%@%$%V$K$J$C$?$3$H$G$7$g$&!J!0(J0$B!0!K$3$l$G!"$?$H$($*2G$K9T$1$J$/$J$C$?$H$7$F$b!"EvJ}$O0l@Z@UG$$OIi$($^$;$s$N$G!&!&!&$"$7$+$i$:!*!J!0!0!(!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/1104-01.jpg" width="280" height="238" alt="$BF#0f$5$s(J" border="0"> <IMG src="IMAGE/memol/1104-02.jpg" width="160" height="189" alt="$B$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BBg:e$N%7%g%C%W!X%j%V%@%$%P!<%:!Y$N%D%"!<$GMh$i$l$?!"(J<B>$B<B@/7I;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/10/28$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v:#2s$O!"FsAH6&$*%A%S$A$c$sO"$l$G!"Fx$d$+$J%D%"!<$G$7$?!#(J10$B7nKv$@$H$$$&$N$K!"$*%A%S$A$c$sC#855$$$$C$Q$$$G!"$J$s$H?eCe$G!J0l?M$O%9%C%]%s%]%s$G!*!K1K$$$G$?$N$h!A!J!w!w!K$=$7$F!"$=$l$KIU$-9g$&$*Ic$5$sC#$b!*8+$F$k$"$?$7C#$NJ}$,!"4($+$C$?$C$9!*!)!J!0!0!(!K$44uK>$N!X%*%,%s!Y$K$b9T$1$?$7!*(J100$BK\L\$O!"%+%D%*%I%j$,=P7^$($F$/$l$?$7!*NI$+$C$?$G$9$M!A"v$^$?!"@'HsM7$S$KMh$F2<$5$$$M!A!A!A!J!0!0!K!&!&!&$A$J$_$K$3$N<L??$N!"$H!<$C$F$b$R$g$&$-$s$JCK@-$,!"%@%s%JMM$G!A$9!*!J!0!0!(!K!J$"$C!"8@$C$A$c$C$?!*(J($B>P(J)$B!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/1028rivD.jpg" width="300" height="242" alt="$B<B@/$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">$B%9%/!<%kB46H(J<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$B?9L@H~(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/10/20$B$K!"L5;v!)%9%/!<%k9g3J$7$^$7$?!*$*$a$G$H!A!A!A"v$$$d$!!A!"%[%s%H$K9g3J=PMh$k$H$O!&!&!&!*!)$M$'!A!A!A!J>P!K:rG/!"$A$g$C$H%S%S%j$J$,$i!)BN83%@%$%S%s%0$r$7$F!&!&!&0lBg7h?4$NKv!)!):#2s$N%9%/!<%k$H$J$C$?$s$@$1$I!"1?0-$/BfIw(J21$B9f$KEv$C$A$c$C$?$N$h$M$'!#BZ:_4|4V$,D9$+$C$?$N$G!"2?$H$+9V=,$b=*N;$9$k$3$H$,=PMh$?$s$@$1$I!"K\?M$O!VBfIw$rK~5J!A!A!A"v!W$J$I$H!"%N!<%F%s%-$J$3$H8@$C$F$?$C$1!*!)!J!0!0!(!K6/Iw$NCf$N!X%O%$%S%9%+%9$N;^@Z$j!Y$d!X%Q%Q%$%dE%K@!Y!)$O!"7k9=3Z$7$+$C$?$G$7!*!)!J>P!K$5$"!*$;$C$+$/:n$C$?%&%(%C%H%9!<%D$,F~$i$J$/$J$kA0$K!)!J>P!KAa$/!)@x$j$K$*$$$G$M!A"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/1020mori.jpg" width="300" height="246" alt="$B?9$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">300 DIVE<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$B;~ED63;R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/9/20$B$K!X(J300$BK\!YC#@.$7$^$7$?!*$*$a$G$H!A!A!A"v:#2s$O!"?&>l$NJQ$o$jL\$H$$$&$3$H$G!"(J2$B=54V$H$$$&%m%s%0%9%F%$$@$C$?$o$1$@$1$I!&!&!&$b$A$m$s:#2s$b!*!)H`=w$HBfIw$O$d$O$j%;%C%H$@$C$?$h!&!&!&!J!0!0!(!K$^$:!"1)ED$+$iHt9T5!$,Ht$V$+Ht$P$J$$$+$G%.%j%.%j$^$GBT$?$5$l!"Ht$s$@$b$N$N!"FaGF$K9_$j$l$k$+!)</;yEg$K9_$j$k$+$b!)$H5!Fb%"%J%&%s%9!&!&!&$=$l$G$b2?$H$+@P3@$^$G$?$I$jCe$$$?$1$I!"A%$O$b$A$m$sBg869A$X!&!&!&$3$s$JGH_Q$NKk3+$1$G;O$^$C$?$1$l$I!"2?$H$+@x$l$F(J300$BK\$bC#@.$G$-$F!"NI$+$C$?$M$'!A!A!A!J!0(J0$B!0!K!J$"$H!"4GHDIA$-!u$O$??%$j$b3Z$7$+$C$?$7$M$C"v!K2?8N$+!)$$$D$b9T$-(Jor$B5"$j$K%"%/%7%G%s%HH/@8$G!&!&!&Mj$`$+$i!"$?$^$K$O%9%s%J%j$$$C$F$/$l$'!A!A!A!J!0!0!(!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/0920kyoko.jpg" width="300" height="241" alt="$B$-$g$&$3$A$c$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$B0f869';R(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/9/17$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"vBfIw(J16$B9f$N2x$7$$F0$-$K!"$I!<$J$k$3$H$+$H?4G[$7$^$7$?$,!"2?$H$+BfIw$b5n$C$F@x$k$3$H$b$G$-$F$h$+$C$?$G!<$9!J!0!0!(!K:#2s$O!"L<$5$s$H$=$N$*M'C#$H(J3$B?M$G@x$j$KMh$i$l$?$s$G$9$,!"L<$5$s$H0l=o$K%@%$%S%s%0$@$J$s$F!"$$$$$G$9$h$M$'!A!A!A!J!0!0!KCgNI$7?F;R$G!"A"$^$7$$$+$.$j$G$9!*$^$?CH$+$/$J$C$?$iM7$S$KMh$F2<$5$$$M!A"v$*BT$A$7$F$$$^!<$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/0917ihara.jpg" width="320" height="210" alt="$B0f86$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B>.;gM32B(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/9/9$B$K!X(J100$BK\!YC#@.!*$*$a$G$H$&!A"v6a5&Bg3X@x?eIt$NH`=w$O!"$G$C$A(J2$B9f$N@hGZ$G$"$j!"%?%1$N!J$&!<$s$H!K8eGZ$J$N$@!*:#2s$O2F9g=I$N5"$j$K%/%i%V$N3'$H!"@x$j$KMh$F$/$l$?$s$@$1$I!"$"$$$K$/BfIw(J19$B9f$N1F6A$G$$$m$s$J$H$3$K@x$j$K9T$1$:!%!%!%;DG0$G$7$?!J!0!0!(!K$G$b!"?eCf$GCg4V$K(J100$BK\$N$*=K$$#T%7%c%D$r$b$i$C$?$j!"!V$*Ni$NIq$$!)!W$rHdO*$7$?$j$G!"$*$b$7$m$+$C$?$M!*!)!&!&!&$G$b!"?eCf$G#T%7%c%DCe$k;~$O!"%l%.%e$0$i$$$O$:$7$F!"M>M5$GCe$F$A$g!A!J>P!K$G$b!"$_$s$J5{$NL>A0$r7k9=CN$C$F$?$N$K$O!"%S%C%/%j!*!J!w!w!K:#$^$G$N6aBg$H$O!"$A$g$C$H0c$C$F$?$h!A!*$?$@$7!"$G$C$A(J2$B9f$O!&!&!&!J!0!0!(!K:#2s!"$$$m$s$J%"%/%7%G%s%H$b$"$C$F!"@x$l$J$+$C$?$j$7$?$1$I!"D($j$:$K$^$?%j%Y%s%8$7$KMh$F$M!A!#BT$C$F$^!A!A!A$9!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/0909kindai.jpg" width="300" height="233" alt="$B>.;g$5$s$*$a$G$H$&!*(J" border="0"></P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">900 DIVE<BR>
          </FONT></B>$B?@F`@n$+$iMh$i$l$?!"(J<B>$BB<;3>O(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        $B$H$C$F$bCY$l$P$;$K$J$C$F$7$^$C$F!"$4$a$s$J$5!A$$!J!0!0!(!K(J<BR>2001/9/8$B$K!X(J900$BK\!YC#@.$$$?$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"vB<;3$5$s$O!"$3$N5-G0%@%$%V$N>oO"$5$s!)$G!":#2s$G(J3$B2sL\$G$9!#(J2000/6$B$K(J700$BK\$@$C$?$+$i!"(J1$BG/$H(J3$B%v7n$G$J$s$H!*(J200$BK\$b@x$C$F$k$C$F$3$H!*!)$&!A!A!A$s!"@($9$.$@$o!*!J!v!v!KE78u$,NI$/$J$+$C$?$N$G!"!X%*%,%s!Y$K$O9T$1$J$+$C$?$1$I!"%+%D%*%I%j$N<L??$O;#$l$?!J!&!&!&%O%:!)!K$+$iNI$7$H$7$F$M$C"v$5$F$5$F!"$3$ND4;R$G$$$/$H(J1000$BK\$b$"$C$H8@$&4V$KC#@.$7$F$7$^$$$=$&$G$9$M!A!#4hD%$C$F$/$@$5!<$$"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/0908murayama.jpg" width="320" height="223" alt="$B$9$P$i$7$$!*(J900$BK\(J" border="0"></P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">100 DIVE<BR>
          </FONT></B>$B:#G/$N2F!X%Z%s%7%g%s$U$"$J$O$&$9!Y$G!"%X%k%Q!<$@$C$?(J<B>$B2OLn<wH~(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/9/3$B$K!X(J100$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v(J3$B%v7n$GLs(J50$BK\6a$/!&!&!&$=$s$J$K@x$C$F!"$A$c$s$H;E;v$7$F$s$N!*!)!J!0!0!(!K$C$F!"?4G[$K$J$k$/$i$$$N:#$^$G$N%X%k%Q!<$5$s$K$J$$!"7k9=%O%$%Z!<%9$G@x$C$F$?$h$M$'!#!J$G$bK\?M[)$/!V$^$@$^$@@x$jB-$j$J$$!W$i$7$$!*!)(J($B>P(J)$B!K$$$d$!!A!":#$G$b;W$$=P$9$h!&!&!&$"$N=iF|$N0lK\L\!*!)!J>P!K%S%G%*$r;#$l$J$+$C$?$N$,!"2y$d$^$l$k$C$9!*!)!J2?$G!);#$l$J$+$C$?$N$+$O!&!&!&K\?M$NL>M@$N0Y!)=q$+$J$$$G$*$-$^$7$g$&!#(J($B>P(J)$B!K%G%8%+%a$G!"$H$K$+$/$M$P$C$F$M$P$C$F;#$C$F$?$+$$$"$C$F!)%$%1$F$k<L??$,$?$/$5$s!*(JBBS$B$K$b2?2s$+Ej9F$7$F$/$l$F!"$I!<$b$"$j$,$H$&"v$^$?M7$S$K$*$$$G$M!A!A!A!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/hisami100.jpg" width="280" height="273" alt="$B<wH~$A$c$s!"$*$a$G$H$&(J" border="0"></P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$BF?L>4uK>$N#Y(J</B>$B$5$s!#(J 
        <HR width="100%" noshade>
        2001/9/2$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H$&$4$6$$$^!A$9"v2?8N!)F?L>4uK>$+$H8@$&$H!&!&!&:#2s$NN99T$O?&>l$K$O!"HkL)$GMh$?$i$7$$!*!)!J!0!0!(!K$b$A$m$s!"F|>F$1$b$7$F$O%@%a$J$N$G!"A%$N>e$G$b40`z%,!<%I!*$3$l$C$F2fK}Bg2q!)2?$+$NH3%2!<%`!)$C$F$/$i$$!*!J>P!K$J$N$G<L??$b!"$4K\?M$N4uK>$K$h$jL\1#$7$,!&!&!&!*!)!J>P!K$G$b$b$&!"$@$$$V;~4V$b7P$C$F$$$k$N$G!"$=$m$=$m;~8z!)$@$H;W$&$s$@$1$I$M$C!J>P!K$$$D$b!"$H$C$F$b%f%K!<%/$J#Y$5$s!#:#2s$b!"?'!9$H!%!%!%$G$bK\?M$O!"$=$s$J$D$b$j$OA4A3$J$$$i$7$$!J!0!0!(!K$J$s$+!X%A!<%`$f$-!Y$C$F!"$3!<$f$&?M!J$C$F!"$I!<$f$&?M!)!)!)!KB?$$$+$b!*!)$C$F!";W$&$N$O%"%?%7$N5$$N$;$$$+$7$i!&!&!&!)!J>P!K$b$A$m$s!"$^$?2q$($k$N$r3Z$7$_$K$7$F$^!A!A!A$9"v!J!0(J0$B!0!K<!2s$O!"%G%8%+%a$N%j%Y%s%8$@$M$C!*!*(J</TD>
    </TR>
  </TABLE>
  <P><BR><IMG src="IMAGE/memol/y50.jpg" width="300" height="269" alt="Y$B$A$c$s!"$*$a$G$H$&(J" border="0"></P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <P><B><A href="kakomemol3.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
