<HTML>
<HEAD>
<TITLE>TAKE Diving$B2a5n$N%m%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/kakolog.gif" width="221" height="111"> 
  <HR width="221">
  <BR>
  <BR>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/7/23($B7n(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J30$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B</$N@nCf$N@%(J</B><BR>
          <BR>
          $BD+$+$iMk$,%4%m%4%mLD$C$F$F!"%$%d!A$J46$8$@$C$?$s$@$1$I!&!&!&E75$$H$O$&$i$O$i$K!)$J$s$H!"!X%$%k%+!Y$N72$l$KAx6x!*30N%$l$N<jA0$G!"(J30$B!A(J40$BI$$0$i$$!*!)A%$N2#$r1K$$$G$/$l$?$j!"$A$g$3$C$H%8%c%s%W$7$F$/$l$?$j$G!"$_!<$s$JBg4n$S$@$C$?$h$s"v!JB>$NA%$NOC$7$r9g$o$;$k$H!"$I$&$b(J100$BI$6a$$72$l!)$@$C$?$i$7$$!#!K$=$7$F!"$*L\Ev$F$N!X%^%s%?!Y7/$O!"$b$A$m$s2q$($^$7$?!*%(%s%H%j!<$7$F$9$0$K!"(J2$BI$$,$f$C$/$j$_$s$J$NJ}$X8~$+$C$FMh$F$/$l$?$h!#$=$l$+$i$7$P$i$/$7$F!"Bg$-$J%"%6%_%5%s%4$N=j$K!":F$SEP>l!*$=$7$F:G8e$O!"$f$C$/$j:,$N>e$r%[%P!<%j%s%0$7$F$/$l$?$7$M!A"v</$N@n$G8+$k!X%^%s%?!Y$O!"F)L@EY$bNI$$$3$H$,B?$$$N$G!"$H$C$F$be:No$GBg9%$-$5$!!A!J!0!0!K(J 
          <BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B30N%$lFn(J</B><BR>
          <BR>
          $B<!$O%,%i$C$HJ70O5$$rJQ$($F!"%O%<%o!<%k%I$X!#%a%$%s$O%K%A%j%s%@%F%O%<!#5W$7$V$j$KF~$C$F$_$k$H!"$J$s$HBg$H>.$N(J2$BI$$K$J$C$F$?$h!#:#$^$G!"$A$g$C$H2<$K$$$?%A%S$,!"$I!<$b>e$K0\$C$F$-$?$i$7$$!*!)%*%I%j%O%<$O855$$K?e6L(J
          $BLOMM$N6;%S%l$r?6$C$FMY$C$F$?$7!"%R%l%U%j%5%s%+%/%O%<$bGX%S%l$r%T%3%T%3!"AjJQ$o$i$:!V%"%C%Q%l!"%"%C%Q%l!)!W$d$C$F$F$+$o$$$+$C$?$h$s!J!0!0!K%d%^%V%-%O%<$O!JJ"$,9u$$$N$GJL(J
          $BL>!V1[8e20!W!)(J($B>P(J)$B!K!"@5LL$+$i8+$k$H>P$C$F$k$h$&$K8+$($F!0!0$H$C$F$bLL(J
          $BGr$$$h!<"v$^$@8+$?$3$H$J$$?M$O!"0lEY8+$F$_$F$M!#%O%?%?%F%7%N%S%O%<$d%8%g!<%U%#%C%7%e!"%Y%K%R%l%$%H%R%-%Y%i(Jyg$B!"%"%+%/%/%j$N<c5{$b$$$?$h!<!#(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/7/17($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J32$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$BCg$N?@EgEl$N:,(J</B><BR>
          <BR>
          $B$3$N$H$3$mBfIw$K$b$F$"$=$P$l!J$+$9$kDxEY!K$F$?$N$G!"5W!9$K9T$C$F$-$^$7$?$h!<!#Eg$K6a$E$/$H!"%+%D%*%I%jC#$,=P7^$K$-$F$/$l$?$h$s"vD,$K9g$o$;$F!"$$$D$b$h$j(J1$B;~4V=PH/$rAa$/$7$?$s$@$1$I!"$b$&5U$ND,$K$J$C$F$?!#$I!<$7$h$&$+$J!)$H;W$C$?$1$I!"3'$,CO7A$@$1$G$b3Z$7$_$?$$$H8@$&$N$G!"N.$l$b$^$@4K$d$+$@$C$?$N$G!"F~$k$3$H$K!#%(%s%H%j!<$7$?$H$?$s!"??$C@D$J@$3&$,Ht$S9~$s$G$-$F!"%S%k$rD@$a$?$h$&$JCO7A$O$d$C$Q$j054,$@$h$M!A!#$A$g$C$H?<$a$@$1$I!J(J-27m$B!K%T%s%/$Ne:No$J%$%=%P%J$KCe$$$F$k%/%@%4%s%Y7/$K2q$$$K9T$C$A$c$C$?!#$A$c$s$H(J2$BI$$H$b5o$F$h$+$C$?$!!J!0!0!K$A$g$C$H>.$5$a$@$C$?$1$I!"%$%=%^%0%m$d%J%]%l%*%s$b=P$F$/$l$?$7$M!*(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BCg$N?@Eg@>$N%9%]%C%H(J</B><BR>
          <BR>
          $B%@%$%J%_%C%/$J0lK\L\$H$&$C$FJQ$o$C$F!"$3$3$OL~$77O!)%]%$%s%H!#By$i$J$$:=CO$G!"91Nc$N$+$1$C$3!#$&$U$U$C"v$b$A$m$s$"$?$7$N0lEy>^$O8@$&$^$G$b$J$/!)$+$-I9$r8fCZ$K$J$C$?$h!A$s!J!0!0!K?2E>$,$k?M$b$$$l$P!"e:No$JGr:=$N:=Lf$N<L(J
          $B??$r;#$C$F(J $B$k?M!":=$K<L$C$?<+J,$N1F$r8+$F$k?M!"%P%V%k%j%s%0$NN}=,$7$F$k?M!&!&!&Ey!9!"$7$P$i$/3'$=$l$>$l$N@$3&$K?;$C$F3Z$7$s$G$?$h"v1|$N:Y$$DL(J
          $BO)$N=j$K$O!"%D%f%Y%i!"%+%s%`%j%Y%i!"%*%S%F%s%9%b%I%-!"%F%s%9!"%"%+%O%A%O%<!"%?%9%-%b%s%,%i!"%$%o%5%-%9%:%a%@%$!&!&!&$J$I$NMD5{$?$A$,Bt;3!*D6!A$+$o$$$+$C$?$h$s!J!0(J0$B!0!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/7/10($B2P(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l;~!9F^$j!!5$29(J32$B!n!!?e29(J30$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B$_$@$iIM(J</B><BR>
          <BR>
          $B:G6a$N!"$*5$$KF~$j%]%$%s%H$N0l$D!#:#2s$b!"$a$A$c$a$A$c3Z$7$+$C$?$h$s!*$b$A$m$s!"%H%&%"%+%/%^%N%_$O7r:_$G!":#$O(J5mm$B$0$i$$$N@V$A$c$s$b$$$F!"$H$C$F$b$+$o$$$$$s$@$1$I!"$=$NB&$K$a$A$c2D0&$$$N$rH/8+!*$J$s$H!"(J1cm$B0L(J
          $B$N%7%^%R%a%d%^%N%+%_$ND6!<@V$A$c$s!#$O$8$a%4%_$+$H;W$C$?$h!<!J>P!KB3$$$F!"%;%_%[%&%\%&$N;R6!!#$3$C$A$G$O7k9=DA$7$$$N$G!"$A$g$C$H%i%C%-!<"v%R%l$r$b$C$H9-$2$F8+$;$F$[$7$+$C$?$s$@$1$I$J$!!A!#$=$7$F:#F|$N%$%A2!$7$O!"%$%6%j%&%*7/!*$3$N$H$3$m%3%3$N%]%$%s%H$G8+$+$1$F$$$?!"$3$2Cc$N$h$&$J!)?<NP$N$h$&$J!)(J10cm$B0L(J
          $B$N%$%6%j7/!#$$$D$b$O%3%V%R%H%G$r%?%/%7!<Be$o$j!)$K>h$C$+$C$F$?$s$@$1$I!&!&!&$"$l$l$C!)%3%V%R%H%G$O4v$D$b$"$k$N$K!"$$$J$$$h$)!A!A!A!)$C$H;W$C$?$i!":#F|$O%Z%C%H%\%H%k$N;D3<!)$N$h$&$J$b$N$K$/$C$D$$$F%8%C$H$7$F$?$h!#$&!<$s$H6a$/$G8+$F$_$k$H!"$J$s$H$=$N;D3<$KMq$r;:$_$D$1$F$"$C$?$N$@!*!*$3$C$A$G(J 
          $B$O!"%$%6%j7/<+BN$,DA$7$$$s$@$1$I!"Mq$r;:$_$D$1$F$"$k$N$O!"$"$?$7$b=i$a$F$GD6!<%i%C%-!<"v$[$s$H$O!"$A$g$C$H$I$$$F$b$i$C$F!)Mq$r$8$C$/$j4Q;!$7$?$+$C$?$s$@$1$I$=$l$O2D0%A[$J$N$G!"$0$C$H$3$i$($F!)$=$C$H$7$F$*$-$^$7$?!#$7$C$+$j<i$C(J 
          $B$F!"L5;v$K;:$^$l$k$H$$$$$M!<!J!0!0!K(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/6/23($BEZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l;~!9F^$j!!5$29(J31$B!n!!?e29(J29$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%5%P:jEl(J</B><BR>
          <BR>
          $BBfIw(J2$B9f$N@\6a$N0Y!":#F|$O3$$OCf;_$+$H;W$C$?$1$I2?$H$+$=$l$F9T$C$?$N$G!"@x$j$K9T$/$3$H$K!*$G$b$d$O$jFnIw$O$a$A$c6/$+$C$?$N$G!"Hf3SE*2:$d$+$J$3$3$G@x$C$?!#?e$bBy$C$F$k$+$J$!$H;W$C$?$1$I0U30$Ke:No$@$C$?$h$s!#IaDL(J
          $B$O?e?<(J25m$BA08e$G8+$l$k%9%_%l%J%,%O%J%@%$$b!"$3$3$G$O(J10m$B!A8+$k$3$H$,=PMh$k$7!"?t$bB?$$$h!#:'0y?'$K$J$C$F$k%*%9$,?HBN$r%S%j%S%j!)?L$o$;$J$,$i!"%a%9$K%"%?%C%/$7$F$?$h!#$3$3$N<PLL(J
          $B1h$$$b%5%s%4$,$S$C$7$j$G$H$C$F$be:No!#%^%s%8%e%&%$%7%b%A$b%2%9%H$,0lI$$@$1$_$D$1$?$i$7$$$s$@$1$I!&!&!&L@F|$O!"%^%s%8%e%&7/$$$C$Q$$$N=j$K9T$/M=Dj!*!)$&$U$C"v(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B$_$@$iIM(J</B><BR>
          <BR>
          $BF|K\$G$ODA$7$$$H$5$l$F$$$k%H%&%"%+%/%^%N%_$b!"@>I=Eg$G$O?t%+=j8+$l$k%]%$%s%H$,$"$C$F!"$3$3$b$=$N0l$D!#:#F|$OMq$,;:$_$D$1$F$"$C$?$s$@$1$I!"$b$&%O%C%A%"%&%H@#A0$@$C$?$h!#:#HU$K$b;:$^$l$F$k$+$b!*!)$3$C$A$G$ODA$7$$%9%J%.%s%A%c%/$K%*%I%j%+%/%l%(%S$,$?$/$5$sIU$$$F$F!"6a$E$/$H%9!<$C$H4s$C$FMh$F$"$?$7$N$3$H$r%/%j!<%K%s%0$7;O$a$?$h!#$3$l$C$F$I!<$f$&$3$H!*!)!J!&!&!&$h$4$l$F$?$s!)(J($B>P(J)$B!K$"$H$a$A$c$a$A$c2D0&$$$N8+$D$1$?$h!<$s"v%3%7%g%&%@%$7O$ND6(Jyg$B!#(J5mm$B$0$i$$$GD6%A%S$9$.$F$?$+$i!"2?$N%3%7%g%&%@%$$J$N$+$A$g$C$H!)$O$C$-$j$7$J$$$s$@$I!&!&!&!J$?$V$s%"%8%"%3%7%g%&%@%$$@$H;W$&$1$I!#!K$[$s$H8+$D$1$?;~$O!"%4%_$+$H!&!&!&!J>P!K%4%_$H$$$($P!"%*%$%i%s%h%&%8$ND6(Jyg$B$b$$$?$s$@$1$I!"$3$l$b(J1cm$B$0$i$$$G;e$/$:$+$H!&!&!&!J>P!K%?%F%-%s(Jyg$B$O(J1cm$B$0$i$$$ND6(Jyg$B!A(J3cm$B$0$i$$$N(Jyg$B$,(J4$B!A(J5$BI$$$$?$7!"%O%@%+%O%*%3%<$NGr!u2+!"%U%?%$%m%O%J%4%$(Jyg$B!"%f%+%?%O%?(Jyg$B!&!&!&(Jetc$B!#?'!9$?!A$/$5$s$$$F!"$"$C$H8@$&4V$N(J90$BJ,$@$C$?$h!<"v$_$s$JAa$/>e$,$C$F$h$)!*!)!J!&!&!&$C$F!"$&$A$i$,0lHV!)3Z$7$s$G$?$+$b!*!)(J($B>P!K(J) 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/6/7($BLZ(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J30$B!n!!?e29(J27$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0"></FONT><FONT color="#6666FF" size="4">$B!!(J</FONT>$BA%1:%^%s%@%j%s(J</B><BR>
          <BR>
          $B:#F|$OCk4V$O$*5Y$_$G!"M<J}F~$j$N%7%g%C%W$N%D%"!<$@$1$@$C$?$N$G!"$=$l$+$i$N(J1$B%@%$%V!#!X%K%7%-%F%0%j$N;:Mq!YA@$$$G!"%5%s%;%C%H%J%$%H$X!#;:Mq%7!<%s$,8+$l$k$N$O!"F|KW8e$[$s$N(J10$BJ,4V$0$i$$$@$1!#$_$s$J$*L\Ev$F$N%+%C%W%k$r8+$D$1$F!"F0$+$:%8!<$C$H4Q;!!#$=$l$^$G%f%S%(%@%O%^%5%s%4$N4V$r$A$g$m$A$g$m$7$F$?%+%C%W%k$,!"%9!<$C$H4s$jE:$&$h$&$KIb>e$7$F!"%Q%C$HGr$$J*$r$^$-;6$i$7$?$H;W$C$?$i!"%5%C$H%5%s%4$NCf$KLa$C$F$$$C$?$h!#$[$s$N0l=V$N=PMh;v$J$s$@$1$I!"$A$g$C$H46F0$9$k$h!<"v!J!&!&!&$C$F!"$"$?$7$@$1$d$m$+!)(J($B>P(J)$B!K$G$b%a%9$K!"0l@87|L?%"%W%m!<%A!JDI$$$+$1$C$3!K$7$F$b!"7k6I$U$i$l$A$c$C$F$k!)2D0%A[$J%*%9$b$$$k$s$@$1$I$M!#!J>P!K$"$H$O%a%9$N<h$j9g$$$J$N$+!)%*%9F1;N$N7v2^$J$s$+$b8+$i$l$F!"$*$b$7$m$+$C$?$h!#$3$N%]%$%s%H$O!"$[$s$H$OB>$K$b?'!9$J5{$,$$$k$s$@$1$I!":#2s$O$_$s$J$[$H$s$I%K%7%-%F%0%j$@$1$r!"$8$C$/$j$f$C$/$j4Q;!$7$F=*$o$C$A$c$C$?$h$s"v(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/5/25($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$B@2$l!!5$29(J29$B!n!!?e29(J26$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0"></FONT><FONT color="#6666FF" size="4">$B!!(J</FONT>$B%P%i%9Fn(J</B><BR>
          <BR>
          $B:#2s$b%3%V%7%a$N;:Mq!u%P%H%kA@$$!*$$$d$!!A!":#2s$O$5$i$K$9$4$+$C$?$h!<"v$J$s$H%3%V%7%a(J12$BI$!*$=$l$,!"F~$lBe$o$jN)$ABe$o$j!"%5%s%4$N4V$KMq$r;:$_$D$1$K$/$k$o!";s$r%2%C%H$9$k0Y$KM:F1;N$,7c$7$$%P%H%k$r7+$j9-$2$k$o$G!&!&!&$"$^$j$NL\$^$0$k$7$5$K!"$b$&$I$l$r8+$F$$$?$iNI$$$N$+!)$C$F46$8$@$C$?$h$s!#$"$?$7C#$N<~$j$r<h$j0O$^$l$F$7$^$C$F!"4r$7$$$d$i!"$A$g$C$HI]$$$h$&$J!)$@$C$F!"5pBg$JM:$NE\$C$F$k$H$3$m$J$s$F!"$+$J$j$NGwNO$H$$$&$+!"$*$I$m$*$I$m$7$$!)$H$$$&$+!&!&!&$H$K$+$/$9$4$+$C$?$C$9!*(J($B>P(J) 
          $B$3$s$J$KBt;3$$$k$+$i!"8rHx$b$7$J$$$+$J$!!)$H!"(J30$BJ,0J>e$M$P$C$?$s$@$1$I!";DG0$J$,$i8rHx$N%7!<%s$O8+$i$l$:$G$7$?!#(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$B%P%i%9KL(J</B><BR>
          <BR>
          $B%$%$46$8$GN.$l$,$"$C$?$N$G!"%"%+%M%O%J%4%$$d%-%s%.%g%O%J%@%$$,2V?a@c$_$?$$$G$H$C$F$be:No!#%+%9%_%A%g%&%A%g%&%&%*$b$$$C$Q$$72$l$F$?$7!#$3$3$N%]%$%s%H$O%&%_%7%@$,Bt;3$"$C$F!"$=$NCf$rGA$/$He:No$J%(%S$d%+%K$J$I$,7k9=$$$k$h!#$"$H?t$O>/$J$$$1$I!"$H$C$F$b$+$o$$$$$N$O%&%_%7%@%&%P%&%*!*2?$+!V%&!<%Q!<%k!<(J 
          $B%Q!<!W$_$?$$!)$@$H;W$&$N$O!"$"$?$7$@$1$+$J!)!)!J>P!K%O%J%d%5%$%5%s%4$NCf$K$O!"%@%s%4%*%3%<$d%+%5%$%@%k%^%O%<$,1#$l$F$?$7!"%"%+%[%7%5%s%4%,%K$O$*J"$K%*%l%s%8?'$NMq$r$$$C$Q$$;}$C$F$$$?$h!<$s"v(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P><TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><FONT size="5"><B>2001/5/11($B6b(J)$B!!(J</B></FONT><FONT size="3"><B>$BF^$j!!5$29(J25$B!n!!?e29(J25$B!n(J</B></FONT> 
        </P>
        <HR width="100%" noshade>
        <P><B><FONT color="#6666FF" size="4"><IMG src="IMAGE/1dive.gif" width="60" height="34" alt="1Dive" border="0">$B!!(J</FONT>$B%P%i%9Fn(J</B><BR>
          <BR>
          $B:rF|$NHU!"%5%s%4$N;:Mq$,$"$C$?$i$7$/!"?eCf$O>.$5$JGr$d$&$9%T%s%/$N$D$V$,!"$$$C$Q$$I:$C$F$?$h!<!#!J;DG0$J$,$i!"9V=,Cf$@$C$?$N$G%J%$%H$K$O9T$1$J$+$C$?$C$9!&!&!&(J 
          $B!K$=$NMq$r!"%A%g%&%A%g%&%&%*C#$,%Q%/%Q%/?)$Y$F$?$h!#$6$C$H8+$?$@$1$G$b!"(J 
          $B%_%9%8!&%H%2!&%9%@%l!&%_%>%l!&%_%+%I!&%&%_%:%-!&%$%C%F%s!&%"%_!&%"%1%\%N!&%U%&%i%$!&%K%;%U%&%i%$!&%R%a%U%&%i%$!&%H%N%5%^%@%$!&%9%_%D%-%H%N%5%^%@%$!&!&!&Ey!9!#$=$&$=$&!"$?$@$N!)%A%g%&%A%g%&%&%*$b$$$?$$$?!#(J 
          $B$=$7$F:#F|$O%3%V%7%a$N;:Mq!u%*%9F1;N$N7c$7$$%P%H%k$,8+$b$N$@$C$?$h$s"v0lAH$N%Z%"$,%5%s%4$N4V$KMq$r;:$_$D$1$F$k$H$3$m$K!"0lI$$NBg$-$J%*%9$,$d$C$FMh$F0R3E3+;O!*BN$r$5$i$KBg$-$/9-$2$F!"?'$b9u$C$]$/$7$F!"$+$J$j$NGwNO!#%Z%"$@$C$?(J 
          $B%*%9$b?oJ,4hD%$C$F$$$?$s$@$1$I!"$d$O$j$"$N%IGwNO$K$O$+$J$o$J$+$C$?$h$&$G!"F($2$F$$$C$F$7$^$C$?!&!&!&$G$b!"%a%9$O%*%9$,8rBe$7$F$7$^$C$?$3$H$J$I5$$K$b$;$:$;$C$;$HMq$r;:$_$D$1$F$?$1$I$M!#!J>P!K(J<BR>
          <BR>
          <BR>
          <B><FONT color="#6666FF" size="4"><IMG src="IMAGE/2dive.gif" width="60" height="34" alt="2Dive" border="0">$B!!(J</FONT>$BH7N%$lFn(J</B><BR>
          <BR>
          $BEl$NIw$,7k9=?a$$$F$-$?$N$G!"8a8e$+$i$OGH$N@E$+$J=j$G!#:#EY$O!"%3%V%7%a$N%A%S!#:=CO$N3$At$K$&$^!<$/1#$l$F$?$1$I!"$^$@$^$@$d$M!#!J>P!K?M$5$7;X$NBh0l4X@a0L(J
          $B$NBg$-$5$@$1$I!"$$$C$A$g$^$($KBg?M$H0l=o$G!"BN$N?'$rJQ$($?$j%V%D%V%D$r=P$7$?$j!#(J 
          $BD6!A!A!A%i%V%j!<$@$C$?$h$s"v$"$H!"%*%$%i%s%h%&%8$N%Z%"$,$$$?$s$@$1$I!"%?%1$,%S%G%*$r6a$E$1$k$H%*%9$,4s$C$FMh$F!"%S%G%*$r$:$C!<$H%/%j!<%K%s%0$7;O$a$?$N$G$9$C$4$/LL(J
          $BGr$+$C$?$h!#!J>P!K$G$b6a$9$.$F!"%S%G%*$OA4A3;#$l$J$+$C$?$s$@$1$I$M!#!J>P!K$=$&$=$&!"2?$G6a$E$$$FMh$?$N$,%*%9$+$H$$$&$H!"$*J"$K@V$$Mq$r$/$C$D$1$F$$$?$+$i$@$h$s"v%h%9%8%U%(%@%$!"%"%+%R%a%8!"%[%&%;%-%-%s%H%-!"%&%a%$%m%b%I%-Ey$,72$l$F$Fe:No$@$C$?$7!"%?%F%-%s$NMD5{$b$$$?$h!<!#(J 
        </P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <P><A href="kakolog4.html"><IMG src="IMAGE/kakolog.gif" width="100" height="60" border="0" alt="$B2a5n$N%m%0(J"></A></P>
</CENTER>
</BODY>
</HTML>
