<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <BR>
  <IMG src="IMAGE/memol.gif" width="322" height="136" alt="$B5-G0%@%$%S%s%0(J" border="0"> 
  <HR width="322">
  <P><BR>
    <BR>
    $B@>I=Eg$G5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$?J}$r>R2p$7$F$$$-$?$$$H;W$$$^$9!#(J<BR>
    100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I$J$I!&!&!&(J</P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B2,;3E8Dj(J</B>$B$/$s(J 
        <HR width="100%" noshade>
        $B:#G/$N2F$N!X$G$C$A(J2$B9f!Y2,;3E8Dj$/$s!#$D$$(J3$BF|$[$IA0$KMh$?$P$+$j$G$9$,!"(J2002/7/22$B$K!X(J50$BK\!YC#@.$7$^$7$?!*Bg:e$N@lLg3X9;$G%@%$%S%s%0$r@l96$7$F$*$j!"B46H$7$?$i$3$N6H3&$K="?&4uK>$i$7$$!%!%!%$&!<$s!J!0!0!(!K$^$"!"$b$A$m$s$^$@$^$@$@$1$I!"$3$3$G$N7P83$G;E;v$H$7$F$N%@%$%S%s%0$NBgJQ$5$d3Z$7$5Ey!9!"$?$/$5$s$N;v$r3X$s$G5"$C$F$/$l$k$H$$$$$J$C"v4hD%$l%o%+%>!<!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/nobu50.jpg" width="300" height="262" alt="$B$G$C$A$/$s!"$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">BIRTHDAY DIVE<BR>
          </FONT></B>$BBg:e$+$iMh$i$l$?!"(J<B>$B>e;3J~2L(J</B>$B$5$s(J 
        <HR width="100%" noshade>
        2002/7/18$B$,!X%O%C%T!<%P!<%9%G!<!Y$G$7$?"v$*$a$G$H!A!J!0!0!K$5$F$5$F!"$3$N%H%b%+$5$s!#<B$O!V#F!]MM(J2$B9f!W$NJLL>$r;}$D!)$^$?$^$?6J<T$G$9!J!d!c!K$b$A$m$s!"$3$N5-G0<L??$N9=?^$bH`=w$N4uK>$G$9!*!J!0!0!(!K!JK\?M$O!"@5LL$N%0%j!<%s$N#T%7%c%D$rCe$F$k%3$G$9!K$3$N;~$O!V#F!]MM!u#F!]#29f!W$N%@%V%k%Q%s%A$G!"$J$+$J$+%O!<%I$J!)(J1$B=54V$G$7$?!%!%!%!J!w!w!K%Q%$%s!u%^%s%4!<9%$-$NH`=w$K2q$C$F!J4Q$F!)!K$_$?$$J}$O!"$3$N;~4|$,A@$$L\!*!)$*BT$A$7$F$^!A$9"v!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <IMG src="IMAGE/memol/tomoka.jpg" width="300" height="225" alt="$B$_$s$J$G$*$a$G$H$&!*(J" border="0"> 
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">50 DIVE<BR>
          </FONT></B>$BJ!2,$+$iMh$i$l$?!"(J<B>$BJR;3A1?N(J</B>$B$5$s(J
        <HR width="100%" noshade>
        2002/7/16$B$K!X(J50$BK\!YC#@.CW$7$^$7$?!*$*$a$G$H!A"vH`$O(J2$BG/$/$i$$A0$K%&%A$G9V=,$r$7$?@8EL$5$s$G$9$,!"$b$&(J50$BK\$@$J$s$F!*$J$+$J$+M%=($G$9$M$'!A!J!0!0!K$$$C$?$s@P3@$KEO$C$?$s$@$1$I5-G0%@%$%V$7$K!"$^$?La$C$F$-$A$c$$$^$7$?!J!w!w!K:#2s$O!"=IGq@h$N%X%k%Q!<$5$s<j:n$j$N!V(J50$BK\5-G0%1!<%-!W$H6&$K5-G0<L??$@$h$s"v!JLa$C$F$-$?9CHe$,$"$C$?$h$M$'!A!K$3$N%Z!<%9$G$$$/$H!V(J100$BK\!W5-G0$NF|$b6a$$!*!)!J!v!v!K(J</TD>
    </TR>
  </TABLE>
  <BR>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD><IMG src="IMAGE/memol/katayama50.jpg" width="300" height="214" alt="$BJR;3$5$s!"$*$a$G$H$&!*(J" border="0"></TD>
    </TR>
    <TR>
      <TD>
        <CENTER>
          <IMG src="IMAGE/memol/cakekatayama.jpg" width="200" height="190" border="0" alt="50 DIVE cake"> 
        </CENTER>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <P> </P>
  <P> </P>
  <P><IMG src="IMAGE/gazou.gif" width="600" height="1"></P>
  <TABLE width="60%" border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD> 
        <P><B><FONT size="4">300 DIVE<BR>
          </FONT></B>$BEl5~$+$iMh$i$l$?!"(J<B>$B@1C+J89>(J</B>$B$5$s(J
        <HR width="100%" noshade>
        2002/7/15$B$K!X(J300$BK\!YC#@.CW$7$^$7$?!*$5$F$5$F!"H`=w$3$=(JBBS$BEy$G1=$N!)!V#F!]MM!W$J$N$G$4$6$$$^$9$,!"$3$N(J300$BK\$5$s$O$+$J$j$N6J<T!)$G$9!J!0!0!(!K?eCf$G$N%"%/%7%G%s%H!)$K$O!J%^%9%/$,30$l$h$&$,!"%U%#%s$,30$l$h$&$,A4A3F0$8$J$$!K$a$C$]$&6/$$$N$K!%!%!%=i?4<T$8$c$J$$$s$@$+$i$5$C!*$_$?$$$J%X%^$,$?$C$/$5$s!J!d!c!K$O$!!A!!$=$7$FN&>e$G$b!%!%!%!J!w!w!K$^$@$^$@1|$,?<$$!)#F!]MM$J$N$G$9!*!J$1$I!"$=!<$f$&%2%9%H$,B>$K$b7k9=$$$?$j$9$k$N$O!%!%!%$J$s$G$@$m$)!A"v$&!<$s!)!K1=$K$h$k$H!"6u5$46@w!J?e$b!)!K$9$k$i$7$$$N$G!"$40l=o$5$l$?J}$O8fCm0U$r!*!)$b$A$m$s!"$"$?$7C#$OLH1V$,$"$k$N$GBg>fIW$C$9!*!J!0(J0$B!0!K(J</TD>
    </TR>
  </TABLE>
  <P><BR>
    <IMG src="IMAGE/memol/fu-sama300.jpg" width="300" height="169" alt="F-$BMM$*$a$G$H$&!*(J" border="0"></P>
  <P>$B!!(J</P>
  <P> <IMG src="IMAGE/gazou.gif" width="600" height="1"> </P>
  <P> </P>
  <P> </P>
  <P><B><A href="kakomemol.html">$B>/$7A0$N5-G0%@%$%V$X(J</A></B></P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-y.gif" width="122" height="29" border="0" alt="$BJD$8$k(J"></A></P>
</CENTER>
</BODY>
</HTML>
