<HTML>
<HEAD>
<TITLE>$B5-G0%@%$%S%s%0(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" link="#6666FF" vlink="#009999" alink="#FF6666" topmargin="0" marginheight="0">
<CENTER>
  <P>$B!!(J</P>
  <P>$B@>I=Eg$G(J100$BK\%@%$%V!&(JBirthday$B%@%$%V!&5-G0F|%@%$%V$J$I(J<BR>
    $B5-G0$9$Y$-%@%$%S%s%0$r7^$($i$l$F$O$$$+$,$G$9$+!)(J</P>
  <P>$B5-G0%@%$%S%s%0$NJ}$K$O%@%$%S%s%08e$N%m%0IU$1$N;~$K!"(J<BR>
    $BAGE($J%W%l%<%s%H$,$"$k$+$b!&!&$7$l$^$;$s!*(J</P>
  <P>$B$3$C$=$jC/$+$N5-G0%@%$%S%s%0$r=K$$$?$$J}$b!"(J<BR>
    $B%9%?%C%U$^$G$4AjCL$/$@$5$$!#(J<BR>
    $B$_$s$J$G$*=K$$%m%0%V%C%/$r$D$1$?$j$7$F!"(J<BR>
    $BA[$$=P$N5-G0%@%$%V$K$7$^$7$g$&!*(J</P>
  <P><B><A href="http://yaplog.jp/takedive_riku/" target="_blank"><IMG src="IMAGE/neorikublo.jpg" width="200" height="111" alt="$B$$$A$c$j$P$A$g!<$G!<(J" border="0"></A></B></P>
  <P><A href="http://yaplog.jp/takedive_riku/">TAKE dive$B$NN&%V%m%0!V$$$A$c$j$P$A$g!<$G!<!W(J</A>$B$G$O!"(J<BR>
    $BN&$G$N=PMh;v$r99?7$7$F$$$^$9!#(J<BR>
    $B;~!9!"5-G0%@%$%V$NMM;R$bEP>l$7$^$9$N$G(J<BR>
    $B$*3Z$7$_$K!*(J </P>
  </CENTER>
</BODY>
</HTML>
