<HTML>
<HEAD>
<TITLE>$B?7Ce>pJs(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" onLoad="" link="#6666FF" vlink="#009999" alink="#FF6666">
<CENTER>
  <P><B><FONT size="4" color="#FF3366">$B$"$1$^$7$F$*$a$G$H$&$4$6$$$^$9(J</FONT></B></P>
  <P>$BD9$i$/$*5Y$_$5$;$F$$$?$@$$$F$$$^$9!V$A$c!A$,$s$8$e!A!W$G$9$,(J<BR>
    $BMh=U$K$O855$$K$J$C$F:F3+$9$kM=Dj$G$9$N$G!&!&!&(J<BR>
    $B$b$&;C$/$*BT$A$/$@$5$$$M!#(J</P>
  <P>$BK\G/$b59$7$/$*4j$$CW$7$^$9!*(J</P>
  <P>$B!!(J</P>
  <P>$B2a5n$N%V%m%0$O$3$A$i(J<BR>
    <A href="http://yaplog.jp/takedive-riku/" target="_blank"><IMG src="IMAGE/blog_okatitle.jpg" width="120" height="45" alt="$B2a5n%V%m%0(J" border="0"></A> 
  </P>
  <H3><A href="navi.html" target="_blank">NAVI$B%Z!<%8%X(JGO!</A></H3>
  <P>$B!!(J</P>
  <P><A href="javascript:close();"><IMG src="IMAGE/gb-bl.gif" width="122" height="30" border="0" alt="$BA0$K$b$I$k(J"></A> 
  </P>
</CENTER>
</BODY>
</HTML>
