<HTML>
<HEAD>
<TITLE>TAKE$B$N%@%$%S%s%0Bg9%$-(B</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" topmargin="20" marginheight="20">
<CENTER>
  <P><IMG src="IMAGE/orepage.gif" width="269" height="131" alt="$B26$O:#%3%l$K%O%^$C$F$$$k(B"></P>
  <P><B>Vol.4</B></P>
  <P><object classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="250" height="200" codebase="http://www.apple.com/qtactivex/qtplugin.cab">
<param name="src" value="IMAGE/tibiizari.mov">
<param name="autoplay" value="true">
<param name="controller" value="true">
<embed src="IMAGE/tibiizari.mov" width="250" height="200" autoplay="true" controller="true" pluginspage="http://www.apple.com/quicktime/download/">
</embed>
</object></P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD>
        <P>$B:#G/$NG/2l>u$G$*Fk@w$_$N!"$A$g!<%A%S%$%6%j!#(B<BR>$B$"$s$^$j>.$5$/$F!"3$Ap$+$H;W$C$A$c$&$[$I!#$G$b!"0l@87|L?$f$i$f$i$,$s$P$C$F$k$N$,!"2D0&$$$h$M!A!#:G=i$KH/8+$7$?:"$+$i$9$k$H!"$3$l$G$b?oJ,$*$C$-$/$J$C$?$s$@$h!#$A$J$_$K!"$O$7$C$3$K1G$C$F$k!V5pBg$J!W;X$O!"%f%-$N>.;X$G$9!#$I$s$J$K%A%S$+!"$o$+$C$?$G$7$g!)(B</P>
        </TD>
    </TR>
  </TABLE>
  <P>$B!!(B</P>
  <TABLE width="99" border="0" cellspacing="0" cellpadding="5">
    <TR> 
      <TD><A href="shot2.html"><IMG src="../DIVING%20STYLE/IMAGE/moduru.gif" width="34" height="28" border="0" alt="$BLa$k(B"></A></TD>
      <TD><IMG src="../DIVING%20STYLE/IMAGE/modosusu.gif" width="117" height="13" border="0"></TD>
      <TD><A href="shot4.html"><IMG src="../DIVING%20STYLE/IMAGE/susumu.gif" width="34" height="28" border="0" alt="$B?J$`(B"></A></TD>
    </TR>
  </TABLE>
</CENTER>
</BODY>
</HTML>
