<HTML>
<HEAD>
<TITLE>TAKE$B$N%@%$%S%s%0Bg9%$-(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" topmargin="20" marginheight="20">
<CENTER>
  <P><IMG src="IMAGE/orepage.gif" width="269" height="131" alt="$B26$O:#%3%l$K%O%^$C$F$$$k(J"></P>
  <P><B>Vol.3</B></P>
  <P><IMG src="IMAGE/teguri.jpg" width="320" height="215" alt="$B%K%7%-%F%0%j$N;:Mq(J" border="0"><BR></P>
  <TABLE width="70%" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD>$BA02s$O!"!X%3%V%7%a$N;:Mq!Y%7!<%s$@$C$?$1$I!":#2s$O!X%K%7%-%F%0%j$N;:Mq!Y!#%K%7%-%F%0%j$N>l9g$O%3%V%7%a$H0c$C$F!"F|KW8e$[$s$N(J10$BJ,A08e$7$+;:Mq%7!<%s$r8+$k$3$H$,=PMh$J$$$s$@!#Ck4V$O%5%s%4$NCf$K1#$l$F$$$F!"$J$+$J$+;Q$9$i8+$l$J$$%F%0%j7/!#M<J}!AF|KW:"$^$G$O%5%s%4$NCf$+$i%A%g%m%A%g%m=P$FMh$F!"$H$C$F$b0&UH$,$"$C$F$+$o$$$$$N$@$,!"%+%a%i5c$+$;$G$b$"$k$s$@$J!"$3$l$,!#!J>P!KM<Jk$l:"$K$J$k$H!"%*%9$H%a%9$,DI$$$+$1$C$3$r;O$a=P$7!"$=$N$&$A%*%9$,%a%9$r6;%S%l$N$H$3$K>h$;$k$h$&$K$7$F!"%5%s%4$N>e$K%9!<$C$HIb>e$7$?$+$H;W$C$?$i!"%Q%C$HGr$$$b$N$r?eCf$K$^$-;6$i$7$F!JJ|@:!uJ|Mq!K!"2?$4$H$b$J$+$C$?$+$N$h$&$K%5%s%4$NCf$KLa$C$F$$$/$s$@$1$I!"$$$/$i%*%9$,DI$$$+$1$F%"%W%m!<%A$7$F$b!"7k6I%U%i$l$F$7$^$&$3$H$b$"$k$s$@$1$I$M(J!?$B!J>P!K$^$"!"5{$N@$3&$b4E$/$O$J$$!)$C$F%3%H$+$J!#!J>P!K$"$H$O!"$3$N;~4VBS$O%*%9F1;N$N7v2^$b$o$j$H8+$k$3$H$,$G$-!"7k9=8+$4$?$($,$"$k$H;W$&$h!#%R%l$r%Q%C$H9-$2$F0R3E$7$"$C$?$j$9$k$H!"$^$9$^$9e:No$@$h!#3$$NCf$K$b$$$m$s$J%I%i%^$,7+$j9-$2$i$l$F$F!"$=$N=V4V$KN)$A2q$($?$j$9$k$H!"$d$C$Q$j$A$g$C$H46F0$b$s$G$9!*(J<FONT size="2">$B"(%S%G%*$+$i$N<h$j9~$_$N0Y!"2hA|$,0-$/$F$9$s$^$;$s!#(J</FONT></TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="99" border="0" cellspacing="0" cellpadding="5">
    <TR> 
      <TD><A href="shot3.html"><IMG src="../DIVING%20STYLE/IMAGE/moduru.gif" width="34" height="28" border="0" alt="$BLa$k(J"></A></TD>
      <TD><IMG src="../DIVING%20STYLE/IMAGE/modosusu.gif" width="117" height="13" border="0"></TD>
      <TD><A href="shot5.html"><IMG src="../DIVING%20STYLE/IMAGE/susumu.gif" width="34" height="28" border="0" alt="$B?J$`(J"></A></TD>
    </TR>
  </TABLE>
</CENTER>
</BODY>
</HTML>
