<HTML>
<HEAD>
<TITLE>TAKE$B$N%@%$%S%s%0Bg9%$-(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
</HEAD>

<BODY bgcolor="#FFFFFF" topmargin="20" marginheight="20">
<CENTER>
  <P><IMG src="IMAGE/orepage.gif" width="269" height="131" alt="$B26$O:#%3%l$K%O%^$C$F$$$k(J" border="0"></P>
  <P><B>Vol.2</B></P>
  <TABLE border="0" cellspacing="0" cellpadding="0">
    <TR> 
      <TD><IMG src="IMAGE/kobushime02.jpg" width="315" height="236" alt="$B%3%V%7%a%a%9(J" border="0"></TD>
    </TR>
    <TR> 
      <TD><IMG src="IMAGE/kobushime01.jpg" width="315" height="232" alt="$B%3%V%7%a%Z%"(J" border="0"></TD>
    </TR>
  </TABLE>
  <P>$B!!(J </P>
  <TABLE width="50%" border="0" cellspacing="0" cellpadding="0">
    <TR>
      <TD>3$B7n$K$J$C$F3X@8C#$b=U5Y$_$KF~$C$?$+$i$+!"@>I=Eg$b4Q8w5R$N;Q$,A}$($F$A$g$C$HFx$d$+$K$J$C$F$-$?!#$b$A$m$s!"3$$NCf$b!*?'!9$J5{C#$K$b!VNx$N5(@a!W$NE~Mh$@!#!JC/$+$5$sC#(J?$B$K$bAa$/!VNx$N5(@a!W$,!"$d$C$FMh$F$[$7$$$b$N$@$,!&!&!&!J>P!K:#2s$O$=$NCf$G$b!"!X%3%V%7%a!Y$N;:Mq$N1GA|$r$*FO$1!#(J $B%a%9$,%5%s%4$NCf$K!"$^$k$G%T%s%]%s5e$N$h$&$JMq$r!"0l$D0l$DCzG+$K;:$_$D(J $B$1!"$=$l$r%*%9$,$=$P$G<i$C$F$k!#B>$N%*%9$,6a$E$3$&$b$N$J$i!"BNCf$K%V%D%V%D$r=P$7$?$j!"?'$dLOMM$rJQ$($?$j$7$F0R3E$7$FDI$CJ'$C$F$7$^$&!#$J$+$J$+$N%\%G%#%,!<%I$V$j$G$"$k!#0lEY;:$_;O$a$k$H!"7k9=6a$/$K4s$C$F$bF($2$J$$$N$G!"$8$C$/$j4Q;!$9$k$3$H$,=PMh$k!#$3$l$+$i(J5$B7n$0$i$$$^$G$O!"$"$A$3$A$G8+$k$3$H$,(J $B=PMh$k$N$G!"8+$?$3$H$N$J$$?M$O@'Hs0lEY$I!<$>!*(J</TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <TABLE width="99" border="0" cellspacing="0" cellpadding="5">
    <TR> 
      <TD><A href="shot4.html"><IMG src="../DIVING%20STYLE/IMAGE/moduru.gif" width="34" height="28" border="0" alt="$BLa$k(J"></A></TD>
      <TD><IMG src="../DIVING%20STYLE/IMAGE/modosusu.gif" width="117" height="13" border="0"></TD>
      <TD><A href="shot6.html"><IMG src="../DIVING%20STYLE/IMAGE/susumu.gif" width="34" height="28" border="0" alt="$B?J$`(J"></A></TD>
    </TR>
  </TABLE>
</CENTER>
</BODY>
</HTML>
