<HTML>
<HEAD>
<TITLE>$B@>I=Eg%]%$%s%H%^%C%WFC=8(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
<META name="keywords" content="$B@>I=Eg(J,$B%@%$%S%s%0%]%$%s%H(J,$BFn@>=tEg(J,$BH,=E;3=tEg(J,$B2-Fl(J,$B@x$k(J,IRIOMOTE,YAEYAMA">
<META NAME="DESCRIPTION" CONTENT="TAKE Diving School$B$,@>I=Eg$N$*%9%9%a%]%$%s%H$r<L??F~$j$G>R2p$7$F$$$-$^$9!#:#2s$O!"%P%i%9El$H%R%J%$%S!<%AA0!#(J">
</HEAD>

<BODY bgcolor="#6666FF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#99FFFF" alink="#FF9933">
<CENTER>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" height="103" bgcolor="#FFFFFF">
  <TR> 
      <TD bgcolor="#FFFFFF" height="145" colspan="2"> 
        <CENTER>
          <IMG src="IMAGE/kakure.gif" width="346" height="134" alt=$B$*%9%9%a%P%i%9El(J border="0"> 
        </CENTER>
      </TD>
  </TR>
</TABLE>
<P><IMG src="IMAGE/s-j.gif" width="88" height="15"></P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR>
      <TD width="324"><IMG src="IMAGE/barasuE1.jpg" width="310" height="220" border="0" alt="$B?e?<(J5m$BIU6a$N;98j$,$-$l$$(J"></TD>
      <TD valign="top"> 
        <P>$B%P%i%9El$NL%NO$O$J$s$H$$$C$F$b!"$=$N;98j$?$A$NH~$7$5!#?e?<(J5m$BA08e$K3H$,$k;98j$O!"$^$k$G2VH*$N$h$&!#<+A3$NAO$j$@$9%+%i%U%k$5$K05E]$5$l$k!#@u>l$N%-%s%.%g%O%J%@%$$d%"%+%M%O%J%4%$$N2V?a@c$r3Z$7$b$&!#;98j$N7d4V!"N"$J$I$h!<$/4Q;!$7$F$_$F!#(J 
        $B2D0&$$MD5{$K=P0)$($?%j$H;W$o$L<}3O$,$"$k$+$b$h!#(J </P>
    </TD>
  </TR>
</TABLE>
<P>$B!!(J</P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR> 
      <TD width="324"><IMG src="IMAGE/barasuE2.jpg" width="310" height="232" alt="$BD>7B(J3m$B$[$I$N5pBg%$%=%P%J$O054,(J"></TD>
      <TD> 
        <P>$B?e?<(J18m$B$K$"$k%*%*%$%=%P%J!#$=$NBg$-$5$OD>7B(J3m$B$[$I!#>.$5$J>.$5$J%,%i%9%O%<$d%(%SN`$,4i$rGA$+$;$F$$$k!#$h!<$/4Q;!$7$F$_$h$&!#$?$@$7%(%"$r$"$F$9$.$F2u$5$J$$$G$M!#1J$$$3$H@8$-$F$k$s$@$+$i!"$=$C$H$M!#;~!9!"%^%@%i%H%S%(%$$d%"%+%^%@%i%O%?!"%J%]%l%*%sEy$NBgJ*7O$K=P0)$($k$N$b$3$N%]%$%s%H$@!#(J</P>
      </TD>
  </TR>
</TABLE>
  <P><FONT color="#FFFFFF"><B><A href="point2.html" target="_parent">MAP$B$X(J</A>$B!!(J<A href="hinaibeach.html" target="_parent">$B%R%J%$%S!<%AA0(J</A></B></FONT></P>
  <P>$B!!(J</P>
</CENTER>
</BODY>
</HTML>
