<HTML>
<HEAD>
<TITLE>$B@>I=Eg%]%$%s%H%^%C%WFC=8(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
<META name="keywords" content="$B@>I=Eg(J,$B%@%$%S%s%0%]%$%s%H(J,$BFn@>=tEg(J,$BH,=E;3=tEg(J,$B2-Fl(J,$B@x$k(J,IRIOMOTE,YAEYAMA">
<META NAME="DESCRIPTION" CONTENT="TAKE Diving School$B$,@>I=Eg$N$*%9%9%a%]%$%s%H$r<L??F~$j$G>R2p$7$F$$$-$^$9!#:#2s$O!"%P%i%9El$H%R%J%$%S!<%AA0!#(J">
</HEAD>

<BODY bgcolor="#6666FF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#99FFFF" alink="#FF9933">
<CENTER>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" height="103" bgcolor="#FFFFFF">
  <TR> 
      <TD bgcolor="#FFFFFF" height="145" colspan="2"> 
        <CENTER>
          <IMG src="IMAGE/kakurehinai.gif" width="346" height="134" alt="$B$*%9%9%a%R%J%$%S!<%A(J"> 
        </CENTER>
      </TD>
  </TR>
</TABLE>
<P><IMG src="IMAGE/s-j.gif" width="88" height="15"></P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR> 
      <TD width="324"><IMG src="IMAGE/tatekin.jpg" width="310" height="220" alt="$B%?%F%8%^%-%s%A%c%/%@%$MD5{(J"></TD>
      <TD> 
        <P>$B%\!<%H$G#3J,$[$I$ND66a>l!#%,%l>l$H:=CO$G0l8+COL#$a$N%]%$%s%H$@$,!"DA$7$$5{$,$?$/$5$s!#%?%F%-%s(Jyg$B!"%$%m%$%6%j%&%*!"%?%D%N%O%H%3!"%*%$%i%s%h%&%8$J$I!#E%:=7O$N%O%<$N<oN`$bK-IY!#%-%s%a%b%I%-$d%9%+%7%F%s%8%/%@%$$,72$l$F$k$H$3$m$b$"$C$F5{$r5s$2$F$?$i$-$j$,$J$$$/$i$$!#?e?<$O(J5m$B!A(J20m$B$/$i$$!#(J 
      </P>
    </TD>
  </TR>
</TABLE>
<P>$B!!(J</P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR> 
      <TD width="324"><IMG src="IMAGE/touaka.jpg" width="310" height="232" alt="$BDA$7$$!*%H%&%"%+$N;R0i$F(J"></TD>
      <TD> 
        <P>$BDA$7$$%H%&%"%+%/%^%N%_$N;R0i$FIw7J!#%/%^%N%_$O$4B8$8!"M:$+$i;s$X$H@-E>49$9$k5{!#;s$,;:$_$D$1$?Mq$rM:$,@$OC$r$9$k!#6;%S%l$r;H$$!"$+$$$,$$$7$/@$OC$r$d$/;Q$,$1$J$2$G2D0&$$!#;s$O30E($NKI8f$K$"$?$j!"$3$N;~4|$O6K$a$F967bE*!#;:$^$l$?;R6!$O%$%=%.%s%A%c%/$N;IK&FG$X$NLH1VNO$r6&@8$7$J$,$i=y!9$K?H$K$D$1$F$$$/!#(J</P>
    </TD>
  </TR>
</TABLE>
  <P><B><FONT color="#FFFFFF"><A href="point2.html" target="_parent">MAP$B$X(J</A></FONT>$B!!(J 
    <A href="barasuhigashi.html" target="_parent">$B%P%i%9El(J</A><FONT color="#FFFFFF"></FONT></B></P>
  <P>$B!!(J</P>
</CENTER>
</BODY>
</HTML>
