<HTML>
<HEAD>
<TITLE>$B@>I=Eg%]%$%s%H%^%C%WFC=8(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
<META name="keywords" content="$B@>I=Eg(J,$B%@%$%S%s%0%]%$%s%H(J,$BFn@>=tEg(J,$BH,=E;3=tEg(J,$B2-Fl(J,$B@x$k(J,IRIOMOTE,YAEYAMA">
<META NAME="DESCRIPTION" CONTENT="TAKE Diving School$B$,@>I=Eg$N$*%9%9%a%]%$%s%H$r<L??F~$j$G>R2p$7$F$$$-$^$9!#:#2s$O!"%P%i%9El$H%R%J%$%S!<%AA0!#(J">
</HEAD>

<BODY bgcolor="#6666FF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#99FFFF" alink="#FF9933">
<CENTER>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" height="103" bgcolor="#FFFFFF">
  <TR> 
      <TD bgcolor="#FFFFFF" height="145" colspan="2"> 
        <CENTER>
          <IMG src="IMAGE/kakurenakanose.gif" width="346" height="134" alt="$B$*%9%9%a</%N@nCf%N@%(J" border="0"> 
        </CENTER>
      </TD>
  </TR>
</TABLE>
<P><IMG src="IMAGE/s-j.gif" width="88" height="15"></P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR>
      <TD width="324"><IMG src="IMAGE/azamisango.jpg" width="310" height="230" alt="$B%"%6%_;98j(J" border="0"></TD>
      <TD valign="top"> 
        <P>$B>e869A$+$i%\!<%H$GLs(J1$B;~4V!"$A$g$&$IEg$NH?BPB&$K$J$j!"$3$3$OF;O)$,DL$C$F$J$$$N$G!"A%$G$7$+9T$1$J$$=j!#0JA0$O!"@>I=Eg$G(J1$B!&(J2$B$rAh$&$/$i$$%5%s%4$Ne:No$J%]%$%s%H$@$C$?$s$@$1$I!"(J5$B!&(J6$BG/A0$NBfIw$ND>7b$G2uLG>uBV$K$J$C$F$$$^$7$?!&!&!&$7$+$7<+A3$NNO$O0NBg$G!"8=:_$@$$$VI|3h$7$D$D$"$j$^$9!#>.;3$N$h$&$K8+$($k$N$O!"Bg$-$J%"%6%_%5%s%4!#6a$/$G8+$k$H!"0l$D0l$D$O>.$5$J2&4'$N$h$&$G!"e:No$G$9!#$G$b!"8G$=$&$K8+$($F<B$O%b%m%$$G$9$+$i!"$/$l$0$l$b=}$D$1$J$$$h$&$KCm0U!*$G$9!#(J</P>
    </TD>
  </TR>
</TABLE>
<P>$B!!(J</P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR> 
      <TD width="324"><IMG src="IMAGE/manta.jpg" width="310" height="232" alt="$B%\!<%H$N2<$r%^%s%?$,M*!9$H!#(J" border="0"></TD>
      <TD> 
        <P>$B3'$NF4$l!X%^%s%?!Y!*@5<0L>$O!"%*%K%$%H%^%-%(%$$H8@$$!"@>I=$G$OEg$N$"$A$3$A$K8=$l$^$9!#FC$K$3$N%]%$%s%H$G$O!":G6a=P2q$($k3NN($,9b$/$J$C$F$k!)$h$&$J5$(J 
          $B$,$7$^$9!#$3$N1GA|$r;#$C$?;~$O!"$A$g$&$IA%$N??2<$G(J4$B!A(J5$BKg$N%^%s%?$,!"$:!<$C$H3'$N<~$j$r%0%k%0%k$7$F$/$l$^$7$?!#E_$+$i=U$K$+$1$F$O!"%P%i%/!<%@!]$d%$%=(J 
          $B%^%0%mEy$N2sM75{$K$b2q$($k2DG=@-Bg$N%]%$%s%H!*$G$b!"$d$O$jE78u$K$O:81&$5$l$k$N$G!"3'$5$sF|:"$N9T$$$rNI$/$7$F!)$$$i$7$F$/$@$5$$$M!<!#!J>P!K(J</P>
      </TD>
  </TR>
</TABLE>
  <P><FONT color="#FFFFFF"><B><A href="point2.html" target="_parent">MAP$B$X(J</A></B></FONT></P>
</CENTER>
</BODY>
</HTML>
