<HTML>
<HEAD>
<TITLE>$B@>I=Eg%]%$%s%H%^%C%WFC=8(J</TITLE>
<META http-equiv="Content-Type" content="text/html; charset=iso-2022-jp">
<META name="keywords" content="$B@>I=Eg(J,$B%@%$%S%s%0%]%$%s%H(J,$BFn@>=tEg(J,$BH,=E;3=tEg(J,$B2-Fl(J,$B@x$k(J,IRIOMOTE,YAEYAMA">
<META NAME="DESCRIPTION" CONTENT="TAKE Diving School$B$,@>I=Eg$N$*%9%9%a%]%$%s%H$r<L??F~$j$G>R2p$7$F$$$-$^$9!#:#2s$O!"%P%i%9El$H%R%J%$%S!<%AA0!#(J">
</HEAD>

<BODY bgcolor="#6666FF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" link="#FFFFFF" vlink="#99FFFF" alink="#FF9933">
<CENTER>
<TABLE width="100%" border="0" cellspacing="0" cellpadding="0" height="103" bgcolor="#FFFFFF">
  <TR> 
      <TD bgcolor="#FFFFFF" height="145"> 
        <CENTER>
          <IMG src="IMAGE/kakureoganH.gif" width="346" height="134" alt="$B$*%9%9%a$*$,$sEl%N:,(J"> 
        </CENTER>
      </TD>
  </TR>
</TABLE>
  <P><IMG src="IMAGE/j-.gif" width="88" height="15"></P>
  <TABLE width="90%" border="1" cellspacing="2" cellpadding="10">
    <TR>
      <TD> 
        <P><B>$B!cCO7A!u5{1F$NG;$5!d(J<BR>
          </B>$B$3$N%]%$%s%H$NL%NO$O!"%@%$%J%_%C%/$JCO7A$H5{1F$NG;$5!"$=$7$FH472$NF)L@EY!#$?$@$7!"40A4$K30MN$K$J$C$F$7$^$&0Y!"E75$$,0BDj$7$F$$$F!"$J$*3n$D!"D,$N%?%$%_%s%0$,9g$o$J$$$H!"F~$k$3$H$,=PMh$J$$>l=j!#(J 
          $BB>$N%]%$%s%H$HHf$Y$k$H!"9T$1$k%A%c%s%9$,>/$J$$$+$J(J?$B$^$k$G!"5pBg$J%S%k$,(J?$B3$$NCf$KD@$s$G$$$k$h$&$G!"%/%l%Q%9$+$i>e$r8+>e$2$k$H!"B@M[$N8w$,%-%i%-%i$H:9$79~$s$G$$$k$N$,!"$9$4$/e:No!#N.$l$,$"$k;~$O!":,$N>e$K$D$+$^$C$F2sM75{$d!"%D%`%V%j!"%R%a%F%s%0%O%.!"%0%k%/%s(J($B%&%a%$%m%b%I%-!"%/%^%5%5%O%J%`%m!"Ey!9(J)$B$J$I$N72$l$r3Z$7$_!"N.$l$,$J$$;~$O!"$N!<$s$S$j$HCO7A$r3Z$7$`$N$b!"$^$?$$$$$+$b$M!#(J</P>
        <P align="center"><IMG src="IMAGE/kurepasu.jpg" width="316" height="236" alt="$B%/%l%Q%9$N2<$+$i(J" border="0"> 
          <IMG src="IMAGE/tumuburi.jpg" width="315" height="233" alt="$B%D%`%V%j$N72$l$K05E]$5$l$k(J" border="0"></P>
        <P> <B>$B!c%$%=%^%0%m!d(J</B> <BR>
          $BD,$,9g$($P!"%$%=%^%0%m$J$I$N2sM75{!&!&!&$$$o$f$k!XBgJ*!Y$K=P2q$($k!#(J 
          $B%J%]%l%*%s$d!"%+%9%_%"%8!"%.%s%,%a%"%8!"%[%o%$%H%A%C%WEy!9!#$"$H$3$3$G$O!"%5%6%J%_%d%C%3$d%?%F%8%^%-%s%A%c%/%@%$$J$I!"B>$N5{C#$bB>$N%]%$%s%H$N$h$j!"$R$H$^$o$jBg$-$$5$$,$9$k$N$O!";d$@$1$+$J!)(J</P>
        <P align="center"><IMG src="IMAGE/isomaguro.jpg" width="218" height="162" border="0" alt="$B$G$C$+$$$h!<!"$[$s$H!#(J"></P>
        <P>$B!!(J</P>
      </TD>
    </TR>
  </TABLE>
  <P>$B!!(J</P>
  <P><FONT color="#FFFFFF"><B><A href="point2.html" target="_parent">MAP$B$X(J</A></B></FONT></P>
  <P>$B!!(J</P>
</CENTER>
</BODY>
</HTML>
