@charset "utf-8";
/*---------------------------------
	CommonCSS [初期化,定義]
---------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;padding:0;
	font-family:"メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
}
ol,ul {
	list-style:none;
}
img{border:0}
table{
}
/*---------------------------------
	        Base CSS 
---------------------------------*/
a {
	color:#36F;
	text-decoration:none;
}
a:hover {
	color:#039;
	text-decoration:underline;
}
/* clearfix */
.clearfix:after { content:"."; display:block; clear:both; height:0; visibility:hidden; }
.clearfix { display:inline-block; }

/* for macIE \*/
* html .clearfix { height:1%; }
.clearfix { display:block; }


/*土曜の文字色*/
.youbi_6{
	color:#36F!important;
}
/*祝日と日曜の文字色*/
.youbi_0,.shukujitu{
	color:red!important;
}
/*本日の背景色　※ただし設定ファイルでの設定が優先されます*/
.today{
	background:#FF9;	
}
/*休業日設定した日の背景色　※ただし設定ファイルでの設定が優先されます*/
.holiday{
	background:#FDD;	
}
/*定休日設定した日の背景色　※ただし設定ファイルでの設定が優先されます*/
.closed{
	background:#FDD;	
}
.hidden{
	display:none;	
}
/*休業日テキスト部の左側の四角*/
.holidayCube{
	display:inline-block;
	width:13px;
	height:13px;
	margin:3px 3px 0 3px;
	position:relative;
	top:2px;
}
/*定休日テキスト部の左側の四角*/
.closedCube{
	display:inline-block;
	width:13px;
	height:13px;
	margin:3px 3px 0 3px;
	position:relative;
	top:2px;
}
/*---------------------------------
	 ▼index.php Calendar style▼ 
---------------------------------*/
#calendarTable{
	width:100%;	
}
#calendarTable th{
	padding:5px;
	font-size:12px;
	border:1px solid #ccc;
	color:#333;
	background:#eee;
}
#calendarTable td{
	padding:5px;
	text-align:right;
	font-size:12px;
	border:1px solid #ccc;
	color:#555;
	width:14%;
	vertical-align:top;
}
body#index p {
	margin:0 0 5px;
	line-height:130%;
	font-size:13px;
}
body#index .calendarHeader a{
	color:#555;
}
#calendarTable td .scheduleComment{
	text-align:left;
	color:#555;
	font-size:10px;
}

/* if ListStyle */
#calendarList li{
	border-bottom:1px solid #999;
	padding:5px;
}
#calendarList li.first-child{
	border-top:1px solid #999;
}
#calendarList .scheduleComment{
	text-align:left;
	color:#555;
	font-size:10px;
}
table.navNextPrev {
	width:100%;
}
table.navNextPrev .dspPrev{
	text-align:left;	
	padding:10px;
}
table.navNextPrev .dspNext{
	text-align:right;
	padding:10px;
}
h2#headerYm{
	background:#666;
	color:#fff;
	text-align:center;
	padding:5px ;
	font-size:110%;
	font-weight:normal;
}

/* /if ListStyle */

/*---------------------------------
	 ▲index.php style▲ 
---------------------------------*/




/*---------------------------------
	 ▼admin.php style▼ 
---------------------------------*/
body#admin p {
	margin:0 0 5px;
	line-height:130%;
	font-size:13px;
}
body#admin #wrapper {
	width:840px;
	border: 1px solid #ccc;
	border-top:0;
	border-bottom:0;
	box-shadow: 0 0px 7px #aaa;
	margin:0 auto;
	color:#666;
	padding:5px 20px;
	position:relative;
}
body#admin h1 {
	font-size:18px;
	color:#333;
	margin:5px 0 15px;
	padding-left:5px;
	border-left:5px solid #333;
	font-weight:normal;
	height:23px;
}
body#admin h2 {
	font-size:14px;
	color:#fff;
	margin-bottom:10px;
	padding-left:5px;
	background:#333;
	padding:5px 8px 3px;
	border-radius:3px;
}
table.calendarClassAdmin{
	width:100%;
	margin:15px 0;
}
table.calendarClassAdmin td{
	padding:8px;
	line-height:160%;
	font-size:16px;
	border:1px solid #ccc;
	text-align:right;
	color:#555;
}
table.calendarClassAdmin th{
	background:#eee;
	padding:5px 10px;
	line-height:160%;
	font-size:14px;
	border:1px solid #ccc;
	width:14%;
}
.adminTextArea{
	margin-top:3px;
	font-size:11px;
}
.adminTextArea textarea{
	font-size:12px;
}
.hidden_text{
	position:absolute;
	top:50px;
	left:27px;
	color:#F00;
	font-weight:bold;
	font-size:14px;
}
body#admin .submitBtn {
	width:240px;
	height:30px;
	cursor:pointer;
}
body#admin form p {
	border-bottom:1px dotted #ccc;
	padding:5px 0;
	margin-bottom:10px;
}
body#admin textarea{
	width:100%;
	padding:2px;
}
.fc_bbb, .fc_bbb a:link {
	color:#bbb!important
}
.fc_red {
	color:#F00!important
}
.message_com {
	min-height:18px
}
.logout_btn {
	position:absolute;
	right:20px;
	top:10px;
}
.logout_btn a {
	padding:2px 10px;
	border:1px solid #aaa;
	text-decoration:none;
	color:#666;
	font-size:13px;
	border-radius:4px;
}
.logout_btn a:hover {
	background:#eee;
}
/*　AuthPageStyle　*/
body#auth{
	margin-top:15px;	
}
body#auth #login_form{
	width:500px;	
	margin:25px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0px 7px #aaa;
    font-weight: normal;
    padding: 16px 16px 20px;
	color:#666;
	line-height:1.3;
	font-size:90%;
}
body#auth form .input {
    font-size: 20px;
    margin:2px 6px 10px 0;
    padding: 3px;
    width: 97%;
}
body#auth input[type="text"], body#auth input[type="password"], body#auth input[type="file"], body#auth input[type="button"], body#auth input[type="submit"], body#auth input[type="reset"] {
    background-color: #FFFFFF;
    border: 1px solid #999;
}
body#auth .button-primary {
    border: 1px solid #000;
    border-radius: 11px;
    cursor: pointer;
    font-size: 18px;
    padding: 3px 10px;
	width:450px;
	height:38px;
}

/*---------------------------------
	 ▲admin.php style▲ 
---------------------------------*/

/*---------------------------------
         class Library
---------------------------------*/
/* Margin・padding class */
.m0{margin:0!important}.mt5{margin-top:5px!important}.mt10{margin-top:10px!important}.mt15{margin-top:15px!important}.mt20{margin-top:20px!important}.mb5{margin-bottom:5px!important}.mb10{margin-bottom:10px!important}.mb15{margin-bottom:15px!important}.mb20{margin-bottom:20px!important}.mr5{margin-right:5px!important}.mr10{margin-right:10px!important}.mr15{margin-right:15px!important}.mr20{margin-right:20px!important}.ml5{margin-left:5px!important}.ml10{margin-left:10px!important}.ml15{margin-left:15px!important}.ml20{margin-left:20px!important}.pt5{padding-top:5px!important}.pt10{padding-top:10px!important}.pt15{padding-top:15px!important}.pb5{padding-bottom:5px!important}.pb10{padding-bottom:10px!important}.pb15{padding-bottom:15px!important}.pr5{padding-right:5px!important}.pr10{padding-right:10px!important}.pr15{padding-right:15px!important}.pl5{padding-left:5px!important}.pl10{padding-left:10px!important}.pl15{padding-left:15px!important}
.pall5{padding:5px!important}.pall10{padding:10px!important}.pall15{padding:15px!important}
/* /Margin・padding class */

.clear {clear:both;}
.taR {text-align:right!important;}
.taL {text-align:left!important;}
.taC {text-align:center!important}
.big {font-size:170%!important;line-height:130%}
/*Font color*/
.bold {font-weight:bold!important;}
.col1 {	color:#FF6600!important;}
.col2 {	color:#FF9933!important}
.col3 {	color:#FF3300!important;}
.col4 {	color:#D9006C!important;}
.col5 {	color:#669999!important}
.col6 {	color:#0000CC!important}
.col7 {	color:#000099!important}
.col8 {	color:#0066FF!important}
.col9 {	color:#333333!important}
.col10 {color:#666666!important}
.col11 {color:#009900!important}
.col12 {color:#009900!important}
.col13 {color:#996633!important}
.col14 {color:#FF66CC!important}
.col15 {color:#669900!important;}
.col16 {color:#00CC99!important;}
.col17 {color:#fff!important;}
.col18{color:#009966!important}
.col19{color:#F00!important}
.floL {float:left;margin-top:0 !important;}
.floR {float:right;margin-top:0 !important;}
.light {font-weight:normal}
.floL img{margin-right:10px;}
.floR img{margin-left:10px;}
.small{font-size:12px!important}
/*---------------------------------
         /class Library
---------------------------------*/
