table {
        border: 1px #666633;
        margin: 6px auto;
        padding: 0px;
        width: 400px;
        text-align: left;
        color: #666633;
        font-weight: bold;
        background-color:#66ffff;
        white-space: nowrap;
}
th {
	background-color: #6666FF;
	color: #ffffee;
	text-align: right;
	font-size: 14px;
	padding: 4px;
}

th.B{
        background-color: #ffff88;
        color: #333333;
        text-align: left;
        font-size: 16px;
        padding: 4px;
}

td.c1title{
        width: 60px;
        text-align: right;
        vertical-align: top;
        color: #FF6600;
}
table.small1 {
        border: 1px #666633;
        margin: 6px auto;
        padding: 0px;
        text-align: left;
        color: #666633;
	font-size: 12px;
        background-color:#66ffff;
}
table.small1c {
        border: 1px #666633;
        margin: 6px auto;
        padding: 0px;
        text-align: center;
        color: #666633;
	font-size: 12px;
        background-color:#66ffff;
}
th.small1 {
	background-color: #6666FF;
	color: #ffffee;
	text-align: center;
	font-size: 10px;
	padding: 2px;
}
td.small1 {
	text-align: left;
	font-size: 12px;
	padding: 2px;
}
td.small1c {
	text-align: center;
	font-size: 12px;
	padding: 2px;
}

.rubi {
	font-size: 6px;
}
p.small1 {
	font-size: 12px;
}
div.small1 {
	font-size: 12px;
}

p.normal {
	font-size: 12px;
}

.caution {
	font-size: 14px;
	color: #ff2222;
}

table.caution {
        margin: 3px auto;
        padding: 0px;
        width: 400px;
        text-align: left;
        color: #000000;
	font-size: 12px;
        font-weight: bold;
        background-color:#ffeeee;
        white-space: normal;
}
